<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9  height-dine_in_lft_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead">
                        <!-- <h2 routerLink="/" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Order Type</h2> -->
                        <div class="dinein_tophead_right">
                            <select class="form-control" #selectfloor
                            (change)='onFloorSelected(selectfloor.value)' >
                                <option *ngFor="let floor of floorList" 
                                    [value]="floor.id" >
                                {{floor.floor_name}}
                                </option>
                       </select>
                            <div class="dine_tab">
                                <ul>
                                    <li>
                                        <a routerLink="/">Main Area </a>
                                    </li>
                                    <li>
                                        <a (click)="openModalWithClass(templatecustomer)" >Customer Add</a>    
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <!--dine_transaction-->
                    <div class="dine-selection_ul home_transaction dine_transaction">
                        <ul>
                            <li *ngFor="let table of tableList" (click)="selectTable(table)"
                             [ngClass]="{
                                 'selected' : (selectedTable.indexOf(table.table_id+'-'+table.floor_id) !== -1),
                                 'filled' : !((!GetAvilable(table.table_id).table_seat_avail) && !(GetAvilable(table.table_id).table_seat_avail >= 0))
                                }"
                              >
                                <a href="javascript:void(0)" >
                                    <div *ngIf="(table.table_image.length > 0)" class="dine_mg">
                                        <img src="{{table.table_image}}" alt="" />
                                        <img src="assets/images/dinein/circle_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">{{table.table_code}}</span>
                                    </div>
                                    <div *ngIf="(table.table_image == null || table.table_image == '')" class="dine_mg">
                                        <img *ngIf="table.number_chairs == 2" src="assets/images/2_table.png" alt="" />
                                        <img *ngIf="table.number_chairs == 4" src="assets/images/4_table.png" alt="" />
                                        <img *ngIf="table.number_chairs == 6" src="assets/images/6_table.png" alt="" />
                                        <img *ngIf="table.number_chairs == 8" src="assets/images/8_table.png" alt="" />
                                        <img src="assets/images/dinein/circle_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">{{table.table_code}}</span>
                                    </div>
                                    <ul class="no-ul-margin dine_lst">
                                        <li>
                                            <p>Seat</p><label>: {{table.number_chairs}}</label>
                                        </li>
                                        <li *ngIf="CheckAvilable(table.table_id)">
                                            <!-- <p>Seats Avilable</p><label>: {{(GetAvilable(table.table_id).table_seat_avail)?GetAvilable(table.table_id).table_seat_avail:table.number_chairs }}</label> -->
                                        </li>
                                        <li>
                                            <p>Status</p><label>: {{ (!GetAvilable(table.table_id).table_seat_avail) && !(GetAvilable(table.table_id).table_seat_avail >= 0)?"Open":"Closed" }}</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                        </ul>

                    </div>
                 </div>
                <!--dine_transaction-->
            </div>


            <!-- table full model template -->
            <ng-template #templatetablefull>  
                <div class="modal-header">  
                  <h4 class="modal-title pull-left">Table Detail</h4> 
                  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>   -->
                </div>  
                <div class="modal-body">  
                    <div class="row">
                        <h4>Running Order</h4>
                        <div class="col-md-6 kot-lists">
                          <div *ngFor="let kot_row of kotList" class="kot-details">
                            <b>KOT No: </b>{{ kot_row.kot_number }}<br>
                            <b>Guest Name: </b>{{ kot_row.customer_name }}
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="col-md-12 side-menu-right">
                                    <div class="col-md-3 side-menu-right-image">
                                        <i class="fa fa-clipboard"></i> 
                                    </div>
                                    <div class="col-md-9 side-menu-right-text">
                                        <p>Make Reciept</p>
                                    </div>
                                </div>
                                <div class="col-md-12 side-menu-right">
                                    <div class="col-md-3 side-menu-right-image">
                                        <i class="fa fa-file-text"></i> 
                                    </div>
                                    <div (click)="redirectPay()" class="col-md-9 side-menu-right-text">
                                        <p>Settle Reciept</p>
                                    </div>
                                </div>
                                <div class="col-md-12 side-menu-right">
                                    <div class="col-md-3 side-menu-right-image">
                                        <i class="fa fa-print"></i> 
                                    </div>
                                    <div class="col-md-9 side-menu-right-text">
                                        <p>Reprint All</p>
                                    </div>
                                </div>
                                <div class="col-md-12 side-menu-right">
                                    <div class="col-md-3 side-menu-right-image">
                                        <i class="fa fa-clock-o"></i> 
                                    </div>
                                    <div class="col-md-9 side-menu-right-text">
                                        <p>Fire Item</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12 row">
                        <div class="col-md-4" (click)="addNewKot(kotList)">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">New KOT</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">Edit KOT</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">Transfer KOT</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="col-md-4">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">Recall hold KOT</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">No Charge</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bottom-menu">
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text">Assign Receipt</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="col-md-4">
                            <div class="bottom-menu">                                
                                <div class="bottom-menu-square"></div>
                                <div class="bottom-menu-text" (click)="newKot()" >New KOT</div>
                            </div>
                        </div>
                    </div>
                </div>  
              </ng-template> 
            <!-- table full model template -->


            <ng-template #template>  
                <div class="modal-header">  
                  <h4 class="modal-title pull-left">Overall Guest Count</h4>  
                  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>   -->
                </div>  
                <div class="modal-body">  
                    
                    <div id="pincode">
                        <div class="table">
                            <div class="cell">
    
                                <div id="fields">
                                    <div class="grid" #passwordRef>
                                        <input class="form-control" (change)="enterSeat()" type="number" list="seats" [(ngModel)]="Numseats" id="seat">
                                       
                                    </div>
                                </div>
    
                                <div id="numbers">
                                    <div class="grid">
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(1)">1</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(2)">2</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(3)">3</button>
                                        </div>
    
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(4)">4</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(5)">5</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(6)">6</button>
                                        </div>
    
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(7)">7</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(8)">8</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(9)">9</button>
                                        </div>
                                        <div class="grid__col grid__col--1-of-3">
                                        </div>
                                        <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(0)">0</button>
                                        </div>
                                        <div class="grid__col "><button (click)="pressedKey('clear')"><i class="fa fa-backspace" aria-hidden="true"></i></button></div>
    
                                        <div class="grid__col grid__col--1-of-3 lasec"><button class="logclc" (click)="pressedKey('clear');modalRef.hide();" >Cancel</button></div>
                                        <div class="grid__col grid__col--1-of-3 lasec"></div>
                                        <div class="grid__col grid__col--1-of-3 lasec"><button class="clc clcout" (click)="modalRef.hide()" routerLink="/dinein/DineinMenuListCategory" >Submit</button></div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>  
              </ng-template> 

              <ng-template #templatecustomer>  
                <div class="modal-header">  
                  <h4 class="modal-title pull-left">Add Customer</h4>  
                  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>   -->
                </div>  
                <div class="modal-body"> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="dine_in_wrap customer_info_wrap">
                                <div class="customer_info_frm">
                                    <form>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="phonenumber"> Phone Number</label>
                                                <!-- <div class="search_icon customer_w100"> -->
                                                    <input class="form-control" type="text" placeholder="Search" id="phonenumber" (change)="searchCustomers($event)" [(ngModel)]='customer.phone' name="phone">
                                                    <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                                </div> -->
                                            </div>
                                        </div>                                        
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="customer_fn">Custmer First Name</label>
                                                <!-- <div class="search_icon customer_w100"> -->
                                                    <input class="form-control" type="text" placeholder="Albert" [(ngModel)]="customer.first_name" name="first_name">
                                                    <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="customer_lst">Last Name</label>
                                                <!-- <div class="search_icon customer_w100"> -->
                                                    <input class="form-control" type="text" placeholder="Warner" [(ngModel)]="customer.last_name" name="last_name">
                                                    <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <select class="form-control" id="gender" [(ngModel)]="customer.gender" name="gender">
                                                    <option value="">-select-</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="form-control" type="email" placeholder="Email" [(ngModel)]="customer.email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group button-footer-section">
                                                <button class="btn btn-warning" (click)="modalRef.hide();">Cancel</button>
                                                &nbsp; <button class="btn btn-success" (click)="saveCustomer()">Finish</button>
                                            </div>
                                        </div>                
                                    </form>
                                </div>
                            </div>
                        </div>
                      </div>

                    <!-- <div class="table">
                        <div class="cell">
                            <div class="search_icon">
                                <input (change)="customerSerch()" [(ngModel)]="customerQuery" class="form-control" type="text" placeholder="Phone">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <table class="table">                                            
                                <tbody>
                                    <tr *ngFor="let customerview of customerData" (click)="custometSelect(customerview)">
                                        <td>{{customerview.first_name}}</td>
                                        <td>{{customerview.email}}</td>
                                        <td>{{customerview.phone}}</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div> -->
                </div>  
              </ng-template> 

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinSelection"></app-dineintab>
                    <!--dine_tab_section-->

                    <!--dine_table-->
                    <div class="dine_table">
                        <h2>{{(selectedtablename)?selectedtablename.join(', '):''}}</h2>
                        <div class="dine_table_lst">
                            <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                            <ul>
                                <li>
                                    <p>Seat</p><label>: {{Numseats}}</label>
                                </li>
                                <li>
                                    <p>Status</p><label>: Open</label>
                                </li>
                            </ul>
                        </div>
                        <!-- <h2>Would you like to open a table ?</h2> -->
                        <!-- <div class="home_others dine_others">

                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="openModalWithClass(template)">Change total Seats({{Numseats}})</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/">Add Service Stage </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinCustomerinforamtion"> New Customer</a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" routerLink="/" class="ass_water">Assign Waiter</a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" routerLink="/" class="tab_reservation">Table Reservation</a>
                                </li>
                            </ul>

                        </div> -->
                    </div>
                    <!--dine_table-->
                </div>
            </div>
        </div>
    </div>
</div>


 
  
