@import url("../../../assets/css/dinein.css");

.dine_transaction ul li.selected{
    border: 2.5px solid #FF5B2E;
}

.dine_transaction ul li.filled{
    border: 2.5px solid #2c2017;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.side-menu-right{
    padding: 0px;
    margin: 5px;
    width: 100%;
    border: 1px solid #e5e5e5;
}
.side-menu-right:hover{
    background-color: #FFE7E0;
    cursor: pointer;
}

.side-menu-right-image{
    text-align: center;
    font-size: 30px;
    background-color: #c2f5d7;
}

.side-menu-right-text{
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
}

.bottom-menu{
    display:flex;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}
.bottom-menu:hover{
    background-color: #FFE7E0;
    cursor: pointer;
}

.bottom-menu-square{
    width:10%;
    height:30px;
    background-color: #c2f5d7;
}

.bottom-menu-text{
    text-align: left;
    padding-top: 7px;
    padding-left: 15px;
}

.kot-lists {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: unset;
    background-color: #e5e5e557
}

.kot-details {
    border: 1px solid #e5e5e5;
    margin: 3px;
    padding: 5px;
    background-color: #fff;
}

.kot-lists::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px grey;
	background-color: #F5F5F5;
}

.kot-lists::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.kot-lists::-webkit-scrollbar-thumb
{
	background-color: grey;
	border: 2px solid #555555;
}

.modal-dialog{
    width: none !important;
}

.button-footer-section{
    text-align: center;
}