<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bill_screen dine_in_rgt_bg no-padding transferrable_tabs">
                <div class="bill_screen_wrap">
                    <div class="bill_screen_tab">
                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                  {{order}}</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                <div class="d-inline col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="align_lt checked_marks">
                                        <div class="table-responsive order_menu">
                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of dish">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                        <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                        <span class="checkbox-button__control"></span>
                                                                        <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                    </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="align_lt checked_marks">
                                        <div class="table-responsive order_menu">
                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th>Table No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of dish_rt">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                        <input type="checkbox"  class="checkbox-button__input" name="nontrades"   [checked]="ntrd.selected" >
                                                                        <span class="checkbox-button__control"></span>
                                                                        <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                    </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active" id="two">
                                <div class=" col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="d-inline col-lg-12 col-md-12 col-sm-12 no-padding">
                                        <div class="checked_marks">
                                            <label class="label_grey">Order</label>
                                            <div class="table-responsive order_menu">
                                                <table class="table checked_label">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%">Select</th>
                                                            <th width="70%">Items</th>
                                                            <th width="10%">QTY</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let ntrd of dishes">
                                                            <td class="checked_bg_light">
                                                                <ng-container>
                                                                    <div class="wrapper_align_checked">
                                                                        <label class="btn btn-filter checkbox-button">
                                                                            <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                            <span class="checkbox-button__control"></span>
                                                                            <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                        </label>
                                                                    </div>
                                                                </ng-container>
                                                            </td>
                                                            <td>{{ntrd.label1}}</td>
                                                            <td>{{ntrd.label2}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="align_lt checked_marks">
                                            <label class="label_grey">Table </label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                <select class="selectable_show" [(ngModel)]="myDropDown" (ngModelChange)="onChangeofOptions($event)">
                                                    <option value="one">Table No</option>
                                                    <option value="two">Table 1</option>
                                                    <option value="three">Table 2</option>
                                                </select>
                                                <div class="kot_adder">
                                                    <h2 class="text_left">KOT</h2>
                                                    <div class="showHideSection">
                                                        <p class="para_txt">New</p>

                                                        <div [hidden]="myDropDown !=='one'">
                                                            <!--option first value here-->
                                                        </div>

                                                        <div [hidden]="myDropDown !=='two'">
                                                            <table class="table checked_label">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Order No</th>
                                                                        <th>Order No</th>
                                                                        <th>QTY</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let ntrd of dishes21">
                                                                        <td class="checked_bg_light">
                                                                            <ng-container>
                                                                                <div class="wrapper_align_checked">
                                                                                    <label class="btn btn-filter checkbox-button">
                                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                                    <span class="checkbox-button__control"></span>
                                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                                </label>
                                                                                </div>
                                                                            </ng-container>
                                                                        </td>
                                                                        <td>{{ntrd.label1}}</td>
                                                                        <td>{{ntrd.label2}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div [hidden]="myDropDown !=='three'">
                                                            <table class="table checked_label">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Order No</th>
                                                                        <th>Order No</th>
                                                                        <th>QTY</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let ntrd of dishes22">
                                                                        <td class="checked_bg_light">
                                                                            <ng-container>
                                                                                <div class="wrapper_align_checked">
                                                                                    <label class="btn btn-filter checkbox-button">
                                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                                    <span class="checkbox-button__control"></span>
                                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                                </label>
                                                                                </div>
                                                                            </ng-container>
                                                                        </td>
                                                                        <td>{{ntrd.label1}}</td>
                                                                        <td>{{ntrd.label2}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>






                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedorder === ordermenus[2]" role="tabpanel" class="tab-pane active" id="three">
                                <div class=" col-lg-12 col-md-12 col-sm-12 no-padding wt_900_flex">
                                    <div class="wt_400">
                                        <label class="label_grey">From Order</label>
                                        <select class="selectable_show" [(ngModel)]="myDropDowns" (ngModelChange)="onChangeofOptions($event)">
                                            <option value="fromOrder">Table No</option>
                                            <option value="fromOrder1">Table 1</option>
                                            <option value="fromOrder2">Table 2</option>
                                        </select>
                                        <div [hidden]="myDropDowns !=='fromOrder'" class="table-responsive order_menu">

                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Select</th>
                                                        <th width="70%">Items</th>
                                                        <th width="10%">QTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of fromOrderList">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                    <span class="checkbox-button__control"></span>
                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{ntrd.label1}}</td>
                                                        <td>{{ntrd.label2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div [hidden]="myDropDowns !=='fromOrder1'" class="table-responsive order_menu">
                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Select</th>
                                                        <th width="70%">Items</th>
                                                        <th width="10%">QTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of fromOrderList1">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                    <span class="checkbox-button__control"></span>
                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{ntrd.label1}}</td>
                                                        <td>{{ntrd.label2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div [hidden]="myDropDowns !=='fromOrder2'" class="table-responsive order_menu">

                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Select</th>
                                                        <th width="70%">Items</th>
                                                        <th width="10%">QTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of fromOrderList2">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                    <span class="checkbox-button__control"></span>
                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{ntrd.label1}}</td>
                                                        <td>{{ntrd.label2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!--CENTER DIV-->

                                    <div class="wt_50">
                                        <div class="sort_swap">
                                            <img src="assets/images/arrow_pre.png" alt="" title="" (click)="addItem(1)" />
                                            <img src="assets/images/arrow_next.png" alt="" title="" />
                                        </div>
                                    </div>



                                    <!--RIGHT SIDE DIV-->
                                    <div class="wt_400">
                                        <label class="label_grey">To Table / Order</label>
                                        <div class="select_wt_align">
                                            <select class="selectable_show" [(ngModel)]="myDropDowns1" (ngModelChange)="onChangeofOptions($event)">
                                                <option value="fromOrder">Table No</option>
                                                <option value="fromOrder1">Table 1</option>
    
                                            </select>

                                            <select class="selectable_show">
                                                <option >New</option>
                                                <option >Add</option>
    
                                            </select>
                                        </div>


                                        <div [hidden]="myDropDowns1 !=='fromOrder'" class="table-responsive order_menu">

                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Select</th>
                                                        <th width="70%">Items</th>
                                                        <th width="10%">QTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of fromOrderList22">
                                                        <!-- <tr *ngFor="let ntrd of fromOrderList22; let i = index"> -->
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                    <span class="checkbox-button__control"></span>
                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{ntrd.label1}}</td>
                                                        <td>{{ntrd.label2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div [hidden]="myDropDowns1 !=='fromOrder1'" class="table-responsive order_menu">
                                            <table class="table checked_label">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">Select</th>
                                                        <th width="70%">Items</th>
                                                        <th width="10%">QTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ntrd of fromOrderList1">
                                                        <td class="checked_bg_light">
                                                            <ng-container>
                                                                <div class="wrapper_align_checked">
                                                                    <label class="btn btn-filter checkbox-button">
                                                                    <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="ntrd.selected">
                                                                    <span class="checkbox-button__control"></span>
                                                                    <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                                </label>
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{ntrd.label1}}</td>
                                                        <td>{{ntrd.label2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="button_group  switch_buttons">
                            <button class="btn btn-create btn_180 bg_grey" type="button">Switch Room</button>
                            <button class="btn btn-create btn_180" type="button">Finish</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>