<header class="login_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a routerLink="/" ><img class="img-responsive" src="assets/images/logo.png" alt="logo"/>POS</a>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 logtext_wrap">
                <div class="logtext">
                    <h2> {{localStorageItem('org').org_name}} ({{localStorageItem('branch').branch_name_eng}})</h2>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                <div class="logtext">
                    <h2> {{now | date: "dd-MM-yyyy HH:mm:ss"}}</h2>
                </div>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 head_rgt_wrap">
                <div class="head_rgt" *ngIf="emailShowOrHide">
                    <img src="assets/images/message.png" />
                    <button (click)="userButton()">
                        <div>  <img src="assets/images/user.png"/>  </div>
                       <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
               
                    <div class="head_menu" *ngIf="show">
                        <div class="arw"> <img src="assets/images/arrow.png" /></div>
                        <div class="user_pro">
                            <img src="assets/images/user.png" /><span>David Warner</span>
                        </div>
                        <ul>
                            <li>
                                <a routerLink="/">Manage Profile</a>
                            </li>
                            <li>
                                <a routerLink="/">Settings</a>
                            </li>
                            <li>
                                <a routerLink="/auth/login">Close Shift</a>
                            </li>
                            <li>
                                <a routerLink="/auth/login">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <div class="second-header" style="width: 100%;">
        
       
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="javascript:void(0)" (click)="goBack()"  ><img style="width: 30px; margin-left: 25px;float: left;" src="assets/images/back_arrow.png" /></a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a style="color: #ff5b2e;"> {{title}}</a> 
                </div>

            </div>
            
            
    </div>
</header>
