<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap miscellCreate">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg din_in_cs guest_charges ">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Customer Information</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Voucher No</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="" value="6684757225422">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Guest Name</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="" value="225287">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Outlet</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="Select City">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Extra charge</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="Select State">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Amount</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="Delivery Zone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Discount</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="Charges">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Tax</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="" value="250">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Adjustment</label>
                                        <select class="form-control">
                                            <option>Card</option>
                                            <option>Card</option>
                                            <option>Card</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Amount Total</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="" value="250">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="phonenumber"> Remark</label>
                                        <div class="search_icon">
                                            <input class="form-control" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="tableChargelist">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Extra Charge</th>
                                                    <th>Remarks</th>
                                                    <th>QTY</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let miscreate of createSales">
                                                    <td>{{miscreate.charge}}</td>
                                                    <td>{{miscreate.remarks}}</td>
                                                    <td>{{miscreate.qty}}</td>
                                                    <td>{{miscreate.amount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="inlineAmount">

                                        <div class="form-inline">
                                            <label>Total Amount</label>
                                            <input type="text" class="form-control" placeholder="" id="">
                                        </div>
                                        <div class="form-inline">
                                            <label>Rec Amount</label>
                                            <input type="text" class="form-control" placeholder="" id="">
                                        </div>


                                        <div class="transaction_order_btm">
                                            <ul>
                                                <li>
                                                    <a href="JavaScript:Void(0)">Void</a>
                                                </li>
                                                <li>
                                                    <a href="JavaScript:Void(0)">Update</a>
                                                </li>
                                                <li>
                                                    <a href="JavaScript:Void(0)">Add</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>


                </div>
                <div class="button_group switch_buttons">
                    <button class="btn btn-create btn_120" type="button">Finish</button>
                </div>

                <!--dine_transaction-->
            </div>


        </div>
    </div>
</div>