.checkbox input,
.checkbox-inline input,
.radio input,
.radio-inline input {
  opacity: 0;
  position: absolute;
}

.checkbox label,
.radio label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkbox .indicator,
.checkbox-inline .indicator,
.radio .indicator,
.radio-inline .indicator {
  position: relative;
}

.checkbox .indicator:before,
.checkbox-inline .indicator:before,
.radio .indicator:before,
.radio-inline .indicator:before {
  content: "";
  width: 180px;
  display: inline-block;
  text-align: center;
  border: 1px solid #f39c12;
  box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  color: #bdbdbd;
  font-size: 20px;
  border-radius: 4px !important;
}

.checkbox input:checked + .indicator address,
.checkbox-inline input:checked + .indicator address {
  color: #ffffff !important;
  z-index: 999999;
}

.checkbox input:checked + .indicator:before,
.checkbox-inline input:checked + .indicator:before {
  border-color: #ff5b2e;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#00f" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>')
    no-repeat;
}

.checkbox input:disabled + .indicator:before,
.checkbox-inline input:disabled + .indicator:before {
  border-color: #ccc;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox input:checked:disabled + .indicator:before,
.checkbox-inline input:checked:disabled + .indicator:before {
  border-color: #ccc;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#ccc" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>')
    no-repeat;
}

.radio input + .indicator:before,
.radio-inline input + .indicator:before {
  border-radius: 50%;
}

.radio input:checked + .indicator:before,
.radio-inline input:checked + .indicator:before {
  border-color: #f39c12;
  background: #f39c12;
  /* box-shadow: inset 0px 0px 0px 5px #fff; */
  width: 180px;
  height: 50px;
  border-radius: 4px;
}

.radio input:checked + .indicator address {
  color: #fff;
}

.radio input:checked + .indicator:before address,
.radio-inline input:checked + .indicator:before address {
  color: #ffffff !important;
}

span.indicator {
  width: 100% !important;
  display: inline;
  background: none;
  border: none;
  box-sizing: unset;
  box-shadow: none;
}

.checkbox,
.radio {
  margin: 20px 0px 0px 0px !important;
}

span.indicator address {
  position: absolute;
  top: -26px;
  left: 55px;
  margin-bottom: 0;
  color: #f39c12;
  font-size: 20px;
}

.radios_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.radios_header .radio {
  margin-top: 0px !important;
  margin-bottom: 8px !important;
}

.radios_header {
  margin-bottom: 15px;
}

.checkbox label,
.radio label {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .radio input:checked + .indicator:before,
  .radio-inline input:checked + .indicator:before,
  .radio .indicator:before,
  .radio-inline .indicator:before {
    width: 160px;
  }
}

@media screen and (max-width: 567px) {
  .radios_header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.formBuild {
  width: 100%;
  padding: 25px;
  float: left;
}

td {
  position: relative;
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}

.total_amount {
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px auto;
  font-size: 30px;
}

.menu_show {
  display: block;
}

.menu_hide {
  display: none;
}

.split_error {
  color: #f00;
  font-style: italic;
  font-size: 12px;
}

.btn-okay {
  color: #fff;
  float: right;
}

a.top_points {
  display: block;
  float: right;
  background: #ff5b2e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.total_amt_label {
  font-size: 16px;
}

.total_amount {
  font-size: 20px;
}

.total_amt_label {
  display: inline-block;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.bill_screen_tab .table-responsive.order_menu table.table {
  width: 400px;
  margin-bottom: 10px;
}

#pincode {
  z-index: 0;
}

#numbers {
  margin: unset !important;
  float: left;
}

#denomination {
  display: block;
  max-width: 215px;
  float: right;
  margin-right: 15.5rem;
}

#denomination .grid {
  margin-top: 3.25rem;
}

.main_amt button {
  background-color: #eeb32f !important;
}

.fixed_denominations button {
  background-color: #555 !important;
  color: #fff !important;
}
