<app-header></app-header>
<div class="container-fluid split_bills">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Bill Screen</h2>
                    <div class="form-inline">
                        <label class="label_light">Receipt#</label>
                        <input type="text" class="form-control" ng-virtual-keyboard />
                    </div>
                    <div class="bill_screen_tab">
                        <div class="table-responsive order_menu">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>QTY</th>
                                        <th>Description</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let menu of kotDetailMenu">
                                    <tr [ngClass]="(menu.status  == 'cancelled')?'strikeout':''">
                                        <td>{{menu.qty}}</td>
                                        <td>{{menu.menu_name_eng}}</td>
                                        <td>{{currency.currency_symbol}} {{menu.grand_total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="item_details_category">
                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <li>Items<span>{{ getTotalQty() }}</span></li>
                                        <!-- <li>Total Discount<span>0%</span></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <li>Discount<span>{{currency.currency_symbol}} {{ discount_value | number:'.2-2'
                                                }}</span></li>
                                        <!-- <li>Total Discount<span>0%</span></li> -->
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <!-- <li>Tax<span>$512.00</span></li> -->
                                        <li>Total<span class="highlight">{{currency.currency_symbol}} {{
                                                getTotalAmount() }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">

                <!-- 'cash on delivery' section start -->
                <div [ngClass]="(showSection == 'cod'  )? 'table-responsive customer_list show':'hide'">
                    <div class="dinein_tophead dine_center ">
                        <h2>Enter Address Details For Cash On Delivery</h2>
                    </div>
                    <div class="customer_info_frm">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Address Number</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_no"
                                        name="address_no">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Street 1</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_street_1"
                                        name="address_street_1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">country</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_country"
                                        name="address_country">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Region</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_region"
                                        name="address_region">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Landmark</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_landmark"
                                        name="address_landmark">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Zip Code</label>
                                <div class="search_icon">
                                    <input readonly class="form-control" type="text" [(ngModel)]="address_zipcode"
                                        name="address_zipcode">
                                </div>
                            </div>
                        </div>

                        <div class="split_select_option">
                            <div class="menu_list">
                                <button (click)="cash_on_delivery_save()" class="btn btn-okay"
                                    style="color: #fff; float:right;margin-top: 30px;">Make
                                    COD</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 'cash on delivery' section end -->


                <!-- card / cash - 'card or cash' section start -->
                <div [ngClass]="(showSection != 'cod'  )? 'table-responsive customer_list show':'hide'">
                    <div class="dinein_tophead dine_center ">
                        <h2>Select Bill Details</h2>
                    </div>
                    <div class="headersplit_select_option">
                        <div class="split_select_option">


                            <div class="menu_list">

                                <table class="table" style="margin-bottom:20px;">
                                    <tbody *ngFor="let amt of split_by_amount ; let i=index;"
                                        style=" border-top: 2px solid #000;">
                                        <tr>
                                            <td>Bill {{i+1}}</td>
                                            <td colspan="2">{{currency.currency_symbol}} {{ amt }}</td>
                                            <!--<td>
                                                 <a (click)="typeAssign('points',i)"
                                                    class="top_points type_points">Loyalty</a>
                                                <a (click)="typeAssign('card',i)" class="top_points type_card">Card</a>
                                                <a (click)="typeAssign('cash',i)" class="top_points type_cash">Cash</a> 
                                            </td>-->
                                        </tr>
                                        <tr>
                                            <td colspan="3" id="pincode">
                                                <div id="numbers">
                                                    <input type="text" class="form-control splited_amt"
                                                        [(ngModel)]="amountSubmit[i]"
                                                        (input)="checkingvalidtion($event.target.value,i,amt)" />
                                                    <div class="grid">
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(1,i,amt)">1</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(2,i,amt)">2</button>
                                                        </div>

                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(3,i,amt)">3</button>
                                                        </div>


                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(4,i,amt)">4</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(5,i,amt)">5</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(6,i,amt)">6</button>
                                                        </div>


                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(7,i,amt)">7</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(8,i,amt)">8</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(9,i,amt)">9</button>
                                                        </div>


                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey('.',i,amt)">.</button></div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey(0,i,amt)">0</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-3"><button
                                                                (click)="pressedKey('clear',i,amt)">C</button></div>


                                                    </div>

                                                </div>
                                                <div id="denomination">
                                                    <span *ngIf="amountSubmit[i] != ''">
                                                        <a (click)="splited_data_save('points' ,i)"
                                                            class="top_points type_points">Loyalty</a>
                                                        <a (click)="splited_data_save('card',i)"
                                                            class="top_points type_card">Card</a>
                                                        <a (click)="splited_data_save('cash',i)"
                                                            class="top_points type_cash">Cash</a>
                                                    </span>
                                                    <div class="grid">
                                                        <div class="grid__col grid__col--1-of-2 main_amt"><button
                                                                (click)="pressedKeyDenominations(amt,i,amt)">{{ amt
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2"><button
                                                                (click)="pressedKeyDenominations(split_by_amount_denominations[i].int,i,amt)">{{
                                                                split_by_amount_denominations[i].int
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2"><button
                                                                (click)="pressedKeyDenominations(split_by_amount_denominations[i].int_five,i,amt)">{{
                                                                split_by_amount_denominations[i].int_five
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2"><button
                                                                (click)="pressedKeyDenominations(split_by_amount_denominations[i].int_ten,i,amt)">{{
                                                                split_by_amount_denominations[i].int_ten
                                                                }}</button>
                                                        </div>

                                                        <div class="grid__col grid__col--1-of-2 fixed_denominations">
                                                            <button (click)="pressedKeyDenominations('10.00',i,amt)">{{
                                                                '10.00'
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2 fixed_denominations">
                                                            <button (click)="pressedKeyDenominations('20.00',i,amt)">{{
                                                                '20.00'
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2 fixed_denominations">
                                                            <button (click)="pressedKeyDenominations('50.00',i,amt)">{{
                                                                '50.00'
                                                                }}</button>
                                                        </div>
                                                        <div class="grid__col grid__col--1-of-2 fixed_denominations">
                                                            <button (click)="pressedKeyDenominations('100.00',i,amt)">{{
                                                                '100.00'
                                                                }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <button (click)="splited_save()"
                                    [ngClass]="(show_completed == 1)? 'btn btn-okay show':'btn btn-okay hide'"
                                    style="color: #fff; float:right;margin-top: 30px;">Completed
                                    Payment</button> -->

                            </div>


                        </div>
                    </div>

                </div>
                <!-- card / cash - 'card or cash' section end -->


            </div>
        </div>
    </div>
    <div *ngIf="invoiceOrganisation" style="display: none;">
        <div class="print-ticket">
            <table>
                <thead>
                    <tr>
                        <th class="quantity"><img class="logo-print"
                                src="{{ invoiceDetailsData.org_img_path+'/'+invoiceOrganisation.org_logo_img }}"
                                alt="Logo">
                        </th>
                        <th class="description">
                            <p class="centered">
                                {{ invoiceOrganisation.org_name | titlecase }}
                                <br>{{ invoiceOrganisation.org_address}}
                                <br>{{ invoiceOrganisation.org_state.region_name}}
                                <br>{{ invoiceOrganisation.org_country.country_name}}
                                <br>{{ invoiceOrganisation.org_phone}} , {{ invoiceOrganisation.org_alt_phone}}
                            </p>
                        </th>
                    </tr>
                </thead>
            </table>
            <p class="centered">Original Copy/النسخة الأصلية</p>
            <table>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
            <table class="inv_head">
                <thead>
                    <tr>
                        <th class="description">#{{ invoiceDetailsData.increment_number }}</th>
                        <th *ngIf="invoiceDetailsData.sales_type == 'dinein'" class="quantity">Dine In</th>
                        <th *ngIf="invoiceDetailsData.sales_type == 'takeaway'" class="quantity">Pick Up</th>
                        <th *ngIf="invoiceDetailsData.sales_type == 'delivery'" class="quantity">Delivery</th>
                    </tr>
                    <tr>
                        <th class="description">{{invoiceWaiter.first_name+' '+invoiceWaiter.last_name}}</th>
                        <!-- <th class="quantity">{{invoiceOrganisation.org_address}}</th> -->
                        <th class="quantity">{{''}}</th>
                    </tr>
                    <tr>
                        <th class="description">{{invoiceDetailsData.invoice_date}}</th>
                        <th class="quantity">{{invoiceDetailsData.invoice_time}}</th>
                    </tr>
                    <tr *ngIf="invoiceDetailsData.sales_type == 'delivery'">
                        <th class="description">{{invoiceCustomer.first_name+' '+invoiceCustomer.last_name}}</th>
                        <th class="quantity"></th>
                    </tr>
                    <tr *ngIf="invoiceDetailsData.sales_type == 'delivery'">
                        <th class="description">{{invoiceCustomer.alt_phone ?invoiceCustomer.alt_phone : "-"}}</th>
                        <th class="quantity"></th>
                    </tr>
                    <!-- <tr>
                        <th class="description">Time Out /<br> نفذ الوقت</th>
                        <th class="quantity">
                            {{invoiceDetailsData.invoice_date}}<small>{{invoiceDetailsData.invoice_time}}</small>
                        </th>
                    </tr> -->
                    <tr
                        *ngIf="invoiceDetailsData.sales_type == 'dinein' && kotDetailMenu && kotDetailMenu[0] && kotDetailMenu[0].kot_table && kotDetailMenu[0].kot_table[0] && kotDetailMenu[0].kot_table[0].table_name">
                        <th colspan="3">
                            <p class="centered">Table {{kotDetailMenu[0].kot_table[0].table_name}}</p>
                        </th>
                    </tr>
                </thead>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="description">Item /<br> بند</th>
                        <!-- <th class="price">Price /<br>السعر</th> -->
                        <th class="quantity">Qty/<br>الكمية</th>
                        <th class="total">Total /<br> مجموع</th>
                    </tr>
                </thead>

            </table>
            <table *ngFor="let kot of kotDetailMenu">

                <tbody *ngFor="let menu of kot.menus">
                    <tr>
                        <td class="description">
                            <span>{{ menu.menu_name_eng }}<br>{{ menu.menu_name_arb }}</span>
                            <br><small><i>
                                    {{ (menu.menu_notes != '' && menu.menu_notes != null) ?
                                    '(Notes:'+menu.menu_notes+')'
                                    :"" }}</i></small>
                        </td>
                        <!-- <td class="price">{{currency.currency_symbol}} {{ menu.menu_price }}</td> -->
                        <td class="quantity">{{ menu.qty }}</td>
                        <td class="total">{{currency.currency_symbol}} {{ menu.Purchased_cost.toFixed(2)}}</td>
                    </tr>

                    <tr *ngFor="let modifier of menu.modifiers;let i = index">
                        <td width="5%"></td>
                        <td class="description">
                            {{ modifier.modifier_name_eng }}<br>{{ modifier.modifier_name_arb }}</td>
                        <!-- <td class="price">{{currency.currency_symbol}} {{ modifier.menu_price }}</td> -->
                        <td class="quantity">{{ modifier.qty }}</td>
                        <td class="total">{{currency.currency_symbol}} {{ modifier.Purchased_cost.toFixed(2)}}
                        </td>
                    </tr>

                </tbody>

            </table>
            <!--  <table>
                <tbody>
                    <tr>
                        <p class="centered">Amount Details / تفاصيل المبلغ</p>
                    </tr>
                </tbody>
            </table> -->
            <table class="inv_head">
                <thead>
                    <tr *ngIf="invoiceDetailsData.sub_total !== invoiceDetailsData.grand_total">
                        <th class="description">Item Total</th>
                        <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.sub_total}}
                        </th>
                    </tr>
                    <tr *ngIf="(invoiceDetailsData.shipping_total > 0 &&  invoiceDetailsData.shipping_total != null)">
                        <th class="description">Delivery Charge</th>
                        <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.shipping_total}}
                        </th>
                    </tr>
                    <tr *ngIf="(invoiceDetailsData.discount_amount > 0 &&  invoiceDetailsData.discount_amount != null)">
                        <th class="description">Item Discount /<br> خصم البند</th>
                        <th class="quantity">{{currency.currency_symbol}}
                            {{ (invoiceDetailsData.coupon_amount ?
                            invoiceDetailsData.discount_amount-invoiceDetailsData.coupon_amount :
                            invoiceDetailsData.discount_amount ) | number:'.2-2'}}
                        </th>
                    </tr>
                    <tr *ngIf="(invoiceDetailsData.coupon_amount > 0 &&  invoiceDetailsData.coupon_amount != null)">
                        <th class="description">Coupon /<br> القسيمة</th>
                        <th class="quantity">{{currency.currency_symbol}}
                            {{ invoiceDetailsData.coupon_amount }}</th>
                    </tr>
                    <!-- <tr>
                        <th class="description">Grand Total /<br> المبلغ الإجمالي</th>
                        <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.grand_total}}
                        </th>
                    </tr> -->
                </thead>
            </table>
            <!-- <p class="centered">Payment Details / بيانات الدفع</p> -->
            <table class="inv_head">
                <tbody>
                    <tr>
                        <th class="description">Total</th>
                        <th class="total">{{currency.currency_symbol}} {{invoiceDetailsData.grand_total}}
                        </th>
                    </tr>
                    <tr *ngFor="let payment of invoiceDetailsData.payent_type.split(','); let i=index">
                        <td class="description">{{payment}}</td>
                        <td class="total">{{currency.currency_symbol}} {{invoiceDetailsData.paid_amount.split(',')[i]}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <table class="inv_head">
                <thead>
                    <tr>
                        <th class="description">Payment Type /<br> نوع الدفع</th>
                        <th class="quantity">{{invoiceDetailsData.payent_type}}</th>
                    </tr>
                    <tr>
                        <th class="description">Paid Amount /<br> المبلغ المدفوع</th>
                        <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.paid_amount}}
                        </th>
                    </tr>
                    <tr>
                        <th class="description">Balance /<br> توازن</th>
                        <th class="quantity">{{currency.currency_symbol}}
                            {{invoiceDetailsData.balance_to_customer}}</th>
                    </tr>
                    <tr>
                        <th class="description">Status /<br> الحالة</th>
                        <th class="quantity">{{invoiceDetailsData.status == 2 ? 'PAID':'PENDING'}}</th>
                    </tr>
                </thead>
            </table> -->

            <p class="centered">*** Thank You! Visit Again. ***</p>
            <p class="centered">*** شكرا! زورني مره اخرى. ***</p>
        </div>
    </div>