#ta_confirm .btn-blue-secondary {
    background-color: #566CCE;
    color: #fff;
    width: 150px;
    height: 50px;
    margin: 0;
}

div#ta_confirm {
    position: relative;
    transition: all 1s ease-out;
    opacity: 1;
    max-width: 294px !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    margin: 7px auto 0 !important;
}

.log_sec.ta_phone_number {
    background: #fff;
    background-image: none;
}

.grid__col.grid__col--1-of-3 {
    width: 20%;
}

#pincode button {
    margin-bottom: 7px;
}

#pincode .buttons_keypress .btn {
    border: 1px solid #C9C9C9 !important;
    width: 100%;
    padding: 0px;
    background: #ffffff;
    border-radius: 0;
    color: #1C254D;
    font-weight: 500;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}