<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap guest-menu-screens dayclose_screen">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Preview Screen</h2>
                    <div class="print-ticket">
                        <div class="bill_screen_tab">
                            <ul class="nav nav-tabs side_nav" role="tablist">
                                <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                    <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                    {{order}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                    <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                                        <div class="sub_tab_guest_profile">
                                            <h6>Cashier Report</h6>
                                            <p class="divider_Point">********************************************************</p>
                                            <div class="item_details_category align_listWidth">
                                                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                    <div class="list_payment">
                                                        <ul>
                                                            <li><label>Id #</label><span>{{ CurentStaff.id_number }}</span></li>
                                                            <li><label>User </label><span>{{ CurentStaff.first_name }} {{ CurentStaff.last_name }}</span></li>
                                                            <li><label>Time In</label><span>20-08-2019<small>9:05:34 PM</small></span></li>
                                                            <li><label>Time Out</label><span>20-08-2019<small>6:05:34 PM</small></span></li>
                                                            <!-- <li><label>Print</label><span>1</span></li> -->
                                                            <p class="divider_Point">********************************************************</p>
                                                            <li><label>Closing Cash </label><span class="float_right"></span></li>
                                                            <li><label class="float_center"></label><span class="float_right">{{currency.currency_symbol}} {{ grand_cash }}</span></li>
                                                            <li><label>Closing Card </label><span class="float_right"></span></li>
                                                            <li><label class="float_center"></label><span class="float_right">{{currency.currency_symbol}} {{ grand_card }}</span></li>
                                                            <p class="divider_Point">============================================</p>
                                                            <li><label>Total </label><span class="float_right">{{currency.currency_symbol}} {{ total }}</span></li>
                                                            <p class="divider_Point">============================================</p>
                                                            <!-- <li><label>Closeing Balance </label><span class="float_right">{{currency.currency_symbol}} 0</span></li> -->
                                                            <li>
                                                                <!-- <h6>Cashier Report</h6>
                                                                <p class="divider_Point">********************************************************</p>
                                                                <label>$100000</label><span class="float_right">000000</span> -->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs padding_mob_0 ">
                <div class="dine_in_lft ">
                    <div class="customer_info_frm menu_category_wrap menu_category_tab_wrap">
                        <div class="table_containerUi">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:30%">Type</th>
                                            <th style="width:30%">Quantity</th>
                                            <th style="width:40%">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let table of denomTotal; let i=index;">
                                            <td style="padding:0 !important">
                                                <span style="float: left; padding:5px 10px 0 10px;">{{currency.currency_symbol}}</span>
                                                <input type="text" style="width: 75%;float: left;border: none;" class="form-control" [(ngModel)]="denomArray[i]" (click)="createFocus('denomCash',i)" (blur)="updateQty(i,'cash')">
                                            </td>
                                            <td style="padding:0 !important"><input type="text" style="width: 75%;float: left;border: none;" class="form-control" [(ngModel)]="qtyArray[i]" (click)="createFocus('denomQty',i)" (blur)="updateQty(i,'qty')"> </td>
                                            <td style="padding:0 !important">{{ denomTotal[i] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pincode">
                                <div class="table">
                                    <div class="cell">
                                        <div class="rowio">
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <label class="label_common">Closing cash</label>
                                                <div id="fields">
                                                    <div class="grid">
                                                        <input type="text" class="form-control" readonly placeholder="Enter Cash" appOnlyNumbers=1 [(ngModel)]="grand_cash" (click)="createFocus('closingCash')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <label class="label_common">Closing Card</label>
                                                <div id="fields">
                                                    <div class="grid" #closingCard>
                                                        <input type="text" class=" form-control" placeholder="Enter Card" [(ngModel)]="grand_card" (click)="createFocus('closingCard',-1)" (keyup)="calculategrand()">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <label class="label_common">Total</label>
                                                <div id="fields">
                                                    <div class="grid" #passwordRef>
                                                        <input type="text" class=" form-control" readonly [(ngModel)]="total">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 print_src no-padding">
                                                <div class="print_srcFlex">
                                                    <div class="align_print">
                                                        <img src="assets/images/dollar.png">
                                                    </div>
                                                    <div class="align_dollar">
                                                        <img src="assets/images/print.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-12 no-padding">
                                            <div id=" ">
                                                <div class="grid">
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(1)">1</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(2)">2</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(3)">3</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(4)">4</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(5)">5</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(6)">6</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(7)">7</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(8)">8</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(9)">9</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(0)">0</button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div class="buttons_keypress">
                                                <button class="btn" (click)="pressedKey('clear')">Back Space</button>
                                                <button class="btn" (click)="resetAll()">Rest All</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="transaction_order_btm" id="text_center">
                        <ul>
                            <li>
                                <a href="JavaScript:Void(0)" >Close</a>
                            </li>
                            <li>
                                <a (click)="printPageArea('print-ticket')" href="JavaScript:Void(0)">Print</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)" class="settle" (click)="saveDayClose()">Day Close</a>
                            </li>
                        </ul>
                    </div>
                    <!--dine_transaction-->
                </div>

                <router-outlet></router-outlet>
                <!--dine_transaction-->


            </div>








        </div>
    </div>