<app-header></app-header>
<div class="log_sec">
    <div class="container-fluid">
        <div class="row pass_sec">
            <div class="col-md-6 col-sm-7 pass_cont log_pass">
                <h2>Enter your passcode</h2>

                <div id="pincode">
                    <div class="table">
                        <div class="cell">

                            <div id="fields">
                                <div class="grid" #passwordRef>
                                    <select  #selectcat (change)="employeeID=selectcat.value" class="form-control">
                                        <option *ngFor="let emp of employeelist" 
                                                [value]="emp.id_number" >
                                                {{emp.id_number}}- ({{emp.first_name}})
                                            </option>
                                </select>
                            <br>
                               
                                    <input type="password" style="margin: 0;" [value]="passwordOne" class="form-control" (focus)="currentlyFocused = 1" [(ngModel)]="passwordOne" >
                                    
                                </div>
                            </div>

                            <div id="numbers">
                                <div class="grid">
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(1)">1</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(2)">2</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(3)">3</button>
                                    </div>

                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(4)">4</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(5)">5</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(6)">6</button>
                                    </div>

                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(7)">7</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(8)">8</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(9)">9</button>
                                    </div>

                                    <div class="grid__col grid__col--1-of-3"><button></button></div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(0)">0</button>
                                    </div>
                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey('clear')">C</button></div>

                                    <div class="grid__col grid__col--1-of-3 lasec"><button class="clc" (click)="clockin()" routerLink="/auth/clockin">CLOCK IN</button></div>
                                    <div class="grid__col grid__col--1-of-3 lasec"><button class="logclc" (click)="login()" routerLink="/homescreen/home">LOGIN</button></div>
                                    <div class="grid__col grid__col--1-of-3 lasec"><button class="clc clcout" (click)="clockout()" routerLink="/auth/clockout">CLOCK OUT</button></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
