<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="dine_in_wrap miscellaneous_wrap kdsHeader">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 kds_screen_bg height-dine_in_lft_bg dine_in_lft_bg">
        <div class="dine_in_lft">
          <!--dineIn_tophead-->
          <div class="dinein_tophead merge-receipts">
            <div class="dinein_tophead_right">
              <div class="selectUi_filter">
                <select [(ngModel)]="kot_menu_status" (change)="statusChange($event.target.value)" class="form-control">
                  <option value="1">Pending</option>
                  <option value="2">Completed</option>
                  <option value="3">Cancelled</option>
                  <option value="4">Holded</option>
                </select>
              </div>
              <div class="filter_receipt">
                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [selDate]="selDate"
                  [(ngModel)]="Date" required (dateChanged)="onDateChanged($event)"></my-date-picker>
              </div>
              <button type="button" (click)="fetchKdsScreenDetails()" class="btn refresh-btn">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
          <!--dineIn_tophead-->

          <div class="kds-table-wrap">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding wrapper">
              <!--1-->

              <div *ngFor="let kot of kotDetailsData; let i=index;" class="inner_div" style="margin-top: 10px;">
                <div
                  [ngClass]="((kot.status == 'Hold')?'tableWtkds bg_lite055':((kot.status == 'Completed')?'tableWtkds bg_lite044':((kot.status == 'Cancelled')?'tableWtkds bg_lite033':((kot.status == 'Pending')?'tableWtkds bg_lite022':((kot.status == 'Preparing')?'tableWtkds bg_lite022':'tableWtkds bg_lite22')))))">
                  <div
                    [ngClass]="((kot.status == 'Hold')?'table_desc kds-c55':((kot.status == 'Completed')?'table_desc kds-c44':((kot.status == 'Cancelled')?'table_desc kds-c33':((kot.status == 'Pending')?'table_desc kds-c22':((kot.status == 'Preparing')?'table_desc kds-c22':'table_desc kds-c22')))))">
                    <div *ngIf="kot.kot_type === 'dinein'" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding br-rb">
                      <div class="form-inline">
                        <label>Floor</label>
                        <input type="text" class="form-control" disabled readonly [(ngModel)]="kot.kot_floor_name" />
                      </div>
                    </div>

                    <div *ngIf="kot.kot_type === 'dinein'" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding br-rb">
                      <div class="form-inline">
                        <label>Table No</label>
                        <input type="text" class="form-control" disabled readonly [(ngModel)]="kot.kot_table" />
                      </div>
                    </div>

                    <div *ngIf="kot.kot_type !== 'dinein'"
                      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding br-rb">
                      <label class="kot-type-indicator" style="background: #89f5b5;"
                        *ngIf="kot.kot_type === 'takeaway'">Take Away</label>
                      <label class="kot-type-indicator" style="background: #F39C12;"
                        *ngIf="kot.kot_type === 'delivery'">Delivery</label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding br-b">
                      <div class="form-inline">
                        <label>Waiter No</label>
                        <input type="text" class="form-control" disabled readonly [(ngModel)]="kot.waiter_name" />
                      </div>
                    </div>
                    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding br-r">
                                            <div class="form-inline">
                                                <label>Timer</label>
                                                <input type="text" class="form-control disabledio" value="00:00:00" disabled/>
                                            </div>
                                        </div> -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                      <div class="form-inline">
                        <label>KOT No</label>
                        <input type="text" class="form-control" disabled readonly [(ngModel)]="kot.kot_number" />
                      </div>
                    </div>

                  </div>
                  <div class="listOrderCategory">
                    <div class="uiListTable">
                      <div class="headerListContent">
                        <ul>
                          <li style="float: left;">
                            <label style="width:50%;text-align: left;">Menu</label>
                            <span style="width:15%;text-align: left;">Quantity</span>
                            <span style="width:35%;text-align: right;">Action</span>
                          </li>
                        </ul>
                      </div>

                      <div class="bodyListContent">
                        <ul *ngFor="let kot_menu of kot.menus">
                          <li class="bold-lt" style="float: left;">
                            <label
                              style="width:50%;text-align: left;">{{ kot_menu.menu_name_eng }}<br><small><i>{{ (kot_menu.menu_notes != '' && kot_menu.menu_notes != null) ? '(Notes:'+kot_menu.menu_notes+')' :"" }}</i></small></label>
                            <span style="width:15%;text-align: right;">{{ kot_menu.qty }}</span>
                            <span style="width:30%;float: right;" [ngClass]="(kot_menu.status_id == 1)?'show':'hide'">

                              <a href="javascript:void(0);"
                                (click)="cancelKot(kot_menu.kot_menu_id,kot.id,kot.kot_type,kot.kot_cart_id)"
                                class="cancel_kot"><img title="Cancel" src="assets/images/cancel.png" /> </a>
                              <a href="javascript:void(0);"
                                (click)="updateKot(kot_menu.kot_menu_id,kot.id,kot.kot_type,kot.kot_cart_id)"
                                class="complete_kot"><img title="Complete" src="assets/images/update.png" /></a>
                              <a href="javascript:void(0);"
                                (click)="holdKot(kot_menu.kot_menu_id,kot.id,kot.kot_type,kot.kot_cart_id)"
                                class="hold_kot"><img title="Hold" src="assets/images/pause.png" /></a>
                            </span>
                            <div style="width: 30%;text-align: right;">
                              <span [ngClass]="(kot_menu.status_id == 2)?'show':'hide'">
                                <span class="cancel status_label"
                                  style=" padding: 4px;border: none; background: #02ff5c;color: #000;">Completed</span>
                              </span>
                              <span [ngClass]="(kot_menu.status_id == 3)?'show':'hide'">
                                <span class="complete status_label"
                                  style=" padding: 4px;border: none; background: #f00;color: #fff;">Cancelled</span>
                              </span>
                              <span [ngClass]="(kot_menu.status_id == 4)?'show':'hide'">
                                <span class="complete status_label"
                                  style=" padding: 4px;border: none; background: #0a73ec;color: #fff;">Hold</span>
                              </span>
                            </div>
                          </li>
                          <li *ngFor="let kot_modifier of kot_menu.modifiers" class="pad_mv" style="float: left;">
                            <label
                              style="width:50%;text-align: left;height:20px">{{ kot_modifier.modifier_name_eng }}</label>
                            <span style="width:15%;text-align: right;height:20px">{{ kot_modifier.qty }}</span>
                          </li>

                        </ul>
                        <button [ngClass]="(kot.status == 'Preparing' || kot.status == 'Pending')?'show':'hide'"
                          style="margin-bottom: 10px;float: right;margin-top: 25px;" (click)="updateAllKot(kot.id)"
                          class="btn btn-primary"> Completed </button>

                      </div>

                    </div>
                  </div>
                </div>

              </div>


              <!--2-->


            </div>
          </div>
          <!-- <div #elseNotDone>
                        <ul>
                            <li class="no_item">
                                No Records Found for this Action
                            </li>
                        </ul>
                    </div> -->
          <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group split_btn_wrapper">
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding text-right">
                                <button class="btn btn-cancel">Cancel</button>
                                <button class="btn btn-hold">Hold</button>
                                <button class="btn btn-okay">Ready</button>
                            </div>
                        </div>

                    </div> -->

        </div>


      </div>
    </div>
  </div>
</div>
