.no_item {
  text-align: center;
  width: 100%;
  background: #fff;
  float: left;
  margin-top: 20px;
  height: 75px;
  padding-top: 25px;
  font-size: 20px;
}

.form-inline label {
  width: auto;
  display: block;
}

.kds_screen_bg .form-inline input {}

.kds_screen_bg .tableWtkds .form-inline {
  display: block;
}

.kds_screen_bg .table_desc .form-inline input {
  width: auto;
}

.listOrderCategory {
  /* background: #fff7e5;
    border: 6px solid #FFF; */
}

/* .wrapper {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    align-items: flex-start;
    margin: 0 auto;
    grid-column-start: auto;
    grid-row-start: auto;
    grid-column-gap: 10px;
 
  } */
.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.inner_div {
  width: 32%;
  margin-right: 15px;
  float: right;
}

.kot-type-indicator {
  line-height: 50px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.refresh-btn{
  background: #FF5B2E;
  color: white;
  position: absolute;
  left: 10px;
  top: 30px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}