<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Call Center Kot List</h2>
                    
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <!-- <select [(ngModel)]="kot_menu_status" (change)="statusChange($event.target.value)" class="form-control">
                                    <option value="">All</option>
                                    <option value="dinein">Dine IN</option>
                                    <option value="takeaway">Take Away</option>
                                    <option value="delivery">Delivery</option>
                                </select> -->
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [selDate]="selDate" [(ngModel)]="KOTDate" required (dateChanged)="onDateChanged($event)"></my-date-picker>
                                <!-- <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [selDate]="selDate" [(ngModel)]="Date" required (dateChanged)="onDateChanged($event)"></my-date-picker> -->

                                <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>KOT</th>
                                        <th colspan="2">Table Number</th>
                                        <th>No of Items </th>
                                        <th colspan="2">Customer Name</th>
                                        <th colspan="2">Total</th>
                                        <th>Pay / Split Bill</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                                <tbody *ngFor="let item of KotGroup;let i=index;">
                                   
                                        <tr>
                                            <td><button title="View KOT Details" (click)="showRow(i)" class="btn btn-warning"><i class="fa fa-cutlery" aria-hidden="true"></i></button></td>
                                            <td colspan="2" >
                                                Table : {{item.groupItem[0].kot_type == 'dinein' ? GetTableid(item.groupItem[0].kot_table): item.groupItem[0].kot_type}}
                                                <!-- Table : {{GetTableid(item.groupItem[0].kot_table)}} -->
                                            </td>
                                            <td>
                                                KOT Count: {{GetOverQty(item.groupItem)}}
                                            </td>
                                            <td colspan="2">{{item.groupItem[0].customer_name}}</td>
                                            <!-- (GetTotal(item.groupItem) == true)) -->
                                            <td colspan="2"> {{currency.currency_symbol}} {{GetTotal(item.groupItem)}}</td>
                                            <td [ngClass]="(item.groupItem[0].payment_status != '' || item.groupItem[0].grand_total == 0 || (GetStatusid(item.groupItem) == true)) ? 'hide':'show'"> 
                                                <button class="btn btn-primary" routerLink="/receipt/DineinNormalBill//{{item.waiter_id}}/{{item.customer_id}}"> Pay </button>
                                                <button style="margin-left: 10px;" class="btn btn-info" routerLink="/receipt/DineinSplitBill/{{item.waiter_id}}/{{item.customer_id}}"> SplitBill </button>

                                                <button style="margin-left: 10px;" [ngClass]="(item.groupItem[0].payment_status != '' || item.groupItem[0].grand_total == 0 || GetKotType(item.groupItem, i) == true) ? 'btn btn-success' : 'hide'" routerLink="/receipt/DineinCodBill/{{item.waiter_id}}/{{item.customer_id}}"> COD </button>

                                            </td>
                                            <!-- if no action below td will display here -->
                                            <td [ngClass]="(item.groupItem[0].payment_status != '' || item.groupItem[0].grand_total == 0 || (GetStatusid(item.groupItem) == true)) ? 'show':'hide'"> 
                                            </td>
                                            <td></td>
                                        </tr>

                                        <!-- kot details -->
                                        <tr [ngClass]="(rowIndex[i] == 1 ? 'show_kot kot-details-tr' :'hide_kot kot-details-tr' )"  *ngFor="let KotReceiptList of item.groupItem; let j=index;">
                                            <td>
                                                <label class="btn btn-filter">
                                                    <span class="span-head" *ngIf="j == 0"></span>
                                                    <!-- <input type="checkbox" name="trades" [checked]="KotReceiptList.selected" (change)="changekotReceiptList($event)">{{ KotReceiptList.label }} <span class="checkbox-button__control"></span> -->
                                                </label>
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">KOT#</span>
                                                {{KotReceiptList.kot_number}}
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">KOT Type</span>
                                                {{ (KotReceiptList.kot_type == 'takeaway'? 'Take Away' : (KotReceiptList.kot_type == 'dinein'? 'Dine IN' : (KotReceiptList.kot_type == 'delivery'? 'Delivery' : 'Call Center'))) }}
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">Date/Time</span>
                                                {{KotReceiptList.kot_date}} {{KotReceiptList.kot_time}}
                                            </td>
                                            <td *ngIf="KotReceiptList.kot_type == 'dinein'">
                                                <span class="span-head" *ngIf="j == 0">Floor / Table</span>
                                                {{KotReceiptList.kot_floor_name}} - {{GetTableid(KotReceiptList.kot_table) }}
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">Guest Name</span>
                                                {{KotReceiptList.customer_name}}
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">Guest No</span>
                                                {{KotReceiptList.guest}}
                                            </td>
                                            <td>
                                                <span class="span-head" *ngIf="j == 0">Status</span>
                                                {{KotReceiptList.status}}
                                            </td>
                                            <!-- <td>{{KotReceiptList.kotServername}}</td> -->
                                            <td colspan="2" style="padding: 0 0px 0px 20px;">  
                                                <span class="span-head" *ngIf="j == 0">Action</span> 
                                                <button style="margin-bottom: 10px;float: left;margin-right: 10px;" class="btn btn-primary" routerLink="/kot/KotDetails/{{KotReceiptList.id}}"> Details </button>
                                                <button [ngClass]="(KotReceiptList.status == 'Pending' || KotReceiptList.status == 'Preparing' )?'btn btn-danger show':'btn btn-danger hide'" (click)='cancelKot(KotReceiptList.id)' > Cancel </button>
                                            </td>
                                            <!-- <td> 
                                                
                                            </td> -->
                                        
                                        </tr>

                                </tbody>
                                <tbody *ngIf="KotGroup.length == 0">
                                    <tr>
                                        <td colspan="9" style="text-align:center;">
                                            <!-- No KOT Found -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a routerLink="/">Reprint Label</a>
                            </li>
                            <li>
                                <a routerLink="/">Reprint</a>
                            </li>
                            <li>
                                <a routerLink="/">No Charge</a>
                            </li>
                            <li>
                                <a routerLink="/">Mark Receipt</a>
                            </li>

                            <li>
                                <a routerLink="/">Void</a>
                            </li>

                            <li>
                                <a routerLink="/" class="settle">Recall</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
<style>
    .hide_kot{
        display: none;
    }
    .show_kot{
        display: table-row;
    }
</style>
