<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Kot Details</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>
                                <button class="btn"><img src="assets/images/merge-kot.png" />KOT</button>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <div class="dine_in_wrap">
                                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg"> -->
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg">
                                    <div class="dine_in_lft">
                                        <!--dineIn_tophead-->
                                        <div class="dinein_tophead merge-receipts">
                                            <h2 style="display: block;float: left;width:100%">Kot Details</h2>
                                            <!-- <div style="display: block;float: left;"> -->
                                                <!-- <label class="label_light">KOT#</label> -->
                                                <!-- <input type="text" readonly class="form-control" /> -->
                                            <!-- </div> -->
                                            <div class="bill_screen_tab">
                                                
                                                <div class="item_details_category">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                        <div class="list_payment">
                                                            <ul>
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">Customer Name<span>{{kotDetailsData.customer_name}}</span></li>
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">Customer Contact<span>{{kotDetailsData.customer_mobile ?kotDetailsData.customer_mobile : "-"}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="table-responsive order_menu">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>QTY</th>
                                                                <th>Total</th>
                                                                <th>Discount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{kotDetailsData.over_all_qty}}</td>
                                                                <td> {{currency.currency_symbol}} {{kotDetailsData.grand_total}}</td>
                                                                <td> {{currency.currency_symbol}} {{kotDetailsData.grand_discount}}</td>
                                                        </tbody>
                                                    </table>
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!--dineIn_tophead-->
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">
                                    <!-- <div class="customer_dine"> -->
                                        <div class="table-responsive customer_list">
                                            <div class="dinein_tophead dine_center ">
                                                <h2>Select Menu Details</h2>

                                                <a [ngClass]="(kotDetailsData.status == 'Completed' || kotDetailsData.status == 'Cancelled')?'add_more_menu hide':'add_more_menu show'" (click)="addmoremenu()" >Add More Menu</a> 
                                            </div>
                                            <div class="headersplit_select_option">
                                                <div class="split_select_option">
                                                    <label class="label_common">#{{kotDetailsData.kot_number}}</label>
                    
                                                    <div class="menu_list">
                    
                                                        <table class="table">
                                                            <tbody *ngFor="let menu of kotDetailMenu" style="border-bottom: 2px solid #000; border-top: 2px solid #000;">
                                                                <tr>
                                                                    
                                                                    <td><img src="{{menu.image}}" width="100" height="100"></td>
                                                                    <td style="width:25%">{{menu.menu_name_eng}}<br><small><i> {{ (menu.menu_notes != '' && menu.menu_notes != null) ? '(Notes:'+menu.menu_notes+')' :"" }}</i></small></td>
                                                                    <td> {{currency.currency_symbol}} {{menu.menu_price}}</td>
                                                                    <td>{{menu.qty}}</td>
                                                                    <td> {{currency.currency_symbol}} {{menu.Purchased_cost}}</td>  
                                                                    <td>{{menu.status}}</td>   
                                                                    <td style="width:125px">
                                                                        <a style="float: left;width: 50%;" href="javascript:void(0);" (click)="holdKot(menu.menu_item_id,kotDetailsData.id,kotDetailsData.kot_type,kotDetailsData.kot_cart_id)" [ngClass]="(menu.status == 'Pending' )?'hold_kot show':'hold_kot hide'" ><img title="Hold" src="assets/images/pause.png"/></a>
                                                                        <a style="float: left;width: 50%;" href="javascript:void(0);" (click)="cancelKot(menu.menu_item_id,kotDetailsData.id,kotDetailsData.kot_type,kotDetailsData.kot_cart_id)" [ngClass]="(menu.status == 'Pending' )?'cancel_kot show':'cancel_kot hide'" ><img title="Cancel" src="assets/images/cancel.png"/></a>
                                                                    </td>
                                                                    
                                                                </tr>   
                                                                <tr *ngFor="let modifier of menu.modifiers;let i = index">
                                                                    <td>Modifier {{ (i+1) }}<img src="{{modifier.menu_image}}" width="50" height="50" style="margin-left: 10px;"></td>
                                                                    <td><span>{{modifier.modifier_name_eng}}</span></td>
                                                                    <td><span> {{currency.currency_symbol}} {{modifier.menu_price}}</span></td>
                                                                    <td><span>{{modifier.qty}}</span></td>
                                                                    <td><span> {{currency.currency_symbol}} {{modifier.Purchased_cost}}</span></td>
                                                                    
                                                                </tr>  
                                                            </tbody>
                                                        </table>
                    
                                                    </div>                
                        
                                                    <div class="header_radios">
                                                        <label class="label_common">Table Details</label>
                                                        <div class="radios_header">
                    
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Floor Name</th>
                                                                        <th>Table Name</th>
                                                                        <th>Occupied Chairs</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let table of kotTableDetails">
                                                                        <td>{{kotDetailsData.kot_floor_name}}</td>
                                                                        <td>{{table.table_name}}</td>
                                                                        <td>{{table.occupied_chairs}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                    
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                        
                                        </div>
                                  
                                </div>
                    
                    
                            </div>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a routerLink="/">Reprint Label</a>
                            </li>
                            <li>
                                <a routerLink="/">Reprint</a>
                            </li>
                            <li>
                                <a routerLink="/">No Charge</a>
                            </li>
                            <li>
                                <a routerLink="/">Mark Receipt</a>
                            </li>

                            <li>
                                <a routerLink="/">Void</a>
                            </li>

                            <li>
                                <a routerLink="/" class="settle">Recall</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>

<style>
    a.add_more_menu {
        display: block;
        float: right;
        background: #ff5b2e;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
    }

</style>
