<app-header>
</app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 height-dine_in_lft_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead">
                        <!-- <h2><i class="fa fa-arrow-left" aria-hidden="true"></i> Reservation</h2> -->
                        <div class="dinein_tophead_right">
                            <select class="form-control">
                            <option> 3 Floor</option>
                            <option> 3 Floor</option>
                            <option> 3 Floor</option>
                       </select>
                            <div class="dine_tab">
                                <ul>
                                    <li>
                                        <a routerLink="/">Main Area </a>
                                    </li>
                                    <li>
                                        <a routerLink="/">Tabs</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->
                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Guest Name</th>
                                        <th>Table</th>
                                        <th>No of Guest</th>
                                        <th>Phone No</th>
                                        <th>From Time</th>
                                        <th>To Time</th>
                                        <th>Date/Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reservationview of reservationData">
                                        <td>{{reservationview.GuestName}}</td>
                                        <td>{{reservationview.Table}}</td>
                                        <td>{{reservationview.NoofGuest}}</td>
                                        <td>{{reservationview.PhoneNo}}</td>
                                        <td>{{reservationview.FromTime}}</td>
                                        <td>{{reservationview.ToTime}}</td>
                                        <td>{{reservationview.Date}}<span>{{reservationview.Time}}</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinReservation"></app-dineintab>
                    <!--dine_tab_section-->


                </div>
            </div>
        </div>
    </div>
</div>