#ta_confirm .btn-blue-secondary {
    background-color: #566CCE;
    color: #fff;
    width: 150px;
    height: 50px;
    margin: 0;
}

div#ta_confirm {
    position: relative;
    transition: all 1s ease-out;
    opacity: 1;
    max-width: 294px !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    margin: 7px auto 0 !important;
}

.log_sec.ta_phone_number {
    background: #fff;
    background-image: none;
}