<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap delivered_guest include_cellcenter">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg din_in_cs guest_charges">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Customer Information</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="phonenumber"> Phone Number</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="" id="" value="Steve">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="phonenumber">Guest Code</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="" id="" value="225287">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="phonenumber">Custmer First Name </label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="" id="" value="Steve">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="phonenumber">Last Name</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="" id="" value="Warner">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <!--TABS-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12      nocharges_tab">

                                <div class="bill_screen_tab">
                                    <ul class="nav nav-tabs side_nav" role="tablist">
                                        <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                            <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                            {{order}}</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                <div class="customer_dine call-guest-list">
                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 button_areas">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Address 1</label>
                                                            <textarea class="form-control">1077  Angie Drive, Hoosick Falls,</textarea>
                                                        </div>
                                                        <button class="btn btn-create btn_100 btn_transparent" type="button">Remove</button>
                                                        <button class="btn btn-create btn_100 bg_orange" type="button">New</button>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">City</label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="Select City" id="" value="">
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">State </label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="Select State" id="" value="">
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Country</label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="Select Country" id="" value="">
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Delivery Zone</label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="Delivery Zone" id="" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Delivery Charges</label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="Charges" id="" value="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Zip </label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="zip" id="" value="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Available Loyalty Point </label>
                                                            <div class="search_icon">
                                                                <input class="form-control" type="text" placeholder="" id="" value="250">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="phonenumber">Select Card</label>
                                                            <select class="form-control">
                                                                <option>Card</option>
                                                                <option>Card1</option>
                                                                <option>Card2</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="button_group  switch_buttons btn_full_wt">
                                                        <button class="btn btn-create btn_180 bg_orange" type="button">Settlement</button>
                                                        <button class="btn btn-create btn_180" type="button">Finish</button>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>

                                        </div>


                                    </div>





                                </div>


                            </div>
                            <!--End-->

                        </form>
                    </div>


                </div>
                <!--dine_transaction-->
            </div>


        </div>
    </div>
</div>