input[type="checkbox"]:checked+span.checkbox-button__control {
    border: none !important;
}

input[type="checkbox"]:checked+span.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/images/checked.png");
    background-size: cover;
}

input[type="checkbox"] {
    opacity: 0;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    top: -2px;
    transform: scale(0.75);
}

input[type="checkbox"]:checked+span.checkbox-button__control {
    border-color: transparent;
}

label.btn.btn-filter:focus {
    outline: 0;
}

label.btn.btn-filter:active {
    box-shadow: none;
    outline: 0 !important;
}
