<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Call Center List</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">

                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="CallCenterListDate" required></my-date-picker>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                     <input type="checkbox" name="allcallcenterorderlist" [value]="callcenterorderData" (change)="allcallcenterorderlist($event)">
                                      <span class="checkbox-button__control"></span>
                                     </label>
                                        </th>
                                        <th>Order No</th>
                                        <th>Order Time</th>
                                        <th>Time Elapsed</th>
                                        <th>Guest Name</th>
                                        <th>Phone No</th>
                                        <th>Order Value</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let callcenterorderlist of callcenterorderData">
                                        <td>
                                            <label class="btn btn-filter">
    <input type="checkbox" name="holdreceipt" [checked]="callcenterorderlist.selected" (change)="changecallcenterorderlist($event)">{{ callcenterorderlist.label }} <span class="checkbox-button__control"></span>
                                            </label>
                                        </td>
                                        <td>{{callcenterorderlist.callcenterorderNo}}</td>
                                        <td>{{callcenterorderlist.callcenterordertime}}</td>
                                        <td>{{callcenterorderlist.callcenterordertimeelapsed}}</td>
                                        <td>{{callcenterorderlist.callcenterorderguestname}}</td>
                                        <td>{{callcenterorderlist.callcenterorderphoneno}}</td>
                                        <td>{{callcenterorderlist.callcenterordervalue}}</td>
                                        <td><a [ngStyle]="{'color': (callcenterorderlist.callcenterorderstatus === 'Ready') ? '#27AE60' : (callcenterorderlist.callcenterorderstatus === 'Delivered') ? '#3498DB' : (callcenterorderlist.callcenterorderstatus === 'Taken for delivery') ? '#F39C12' : ''}">{{callcenterorderlist.callcenterorderstatus}}</a></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a routerLink="/">Settlement</a>
                            </li>


                            <li>
                                <a routerLink="/" class="cancel_bg">Cancel</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
