<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 height-dine_in_lft_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead">
                        <!-- <h2><i class="fa fa-arrow-left" aria-hidden="true"></i> Customers</h2> -->
                        <div class="dinein_tophead_right">
                            <!-- <select class="form-control">
                            <option> 3 Floor</option>
                            <option> 3 Floor</option>
                            <option> 3 Floor</option>
                       </select> -->
                            <div class="dine_tab">
                                <ul>
                                    <li>
                                        <a routerLink="/">Main Area </a>
                                    </li>
                                    <li>
                                        <a routerLink="/dinein/DineinCustomerinforamtion">Add Customer</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->
                    <div class="customer_dine">
                        <div  *ngIf="SelectedCustomer.first_name && SelectedCustomer != {}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <p>{{SelectedCustomer.first_name}}</p>
                                <p>{{SelectedCustomer.email}}</p>
                                <p>{{SelectedCustomer.phone}}</p>                                
                                <button type="submit" class="btn" (click)="RemoveCustomer()">Remove</button>
                                <button *ngIf="selectedModule.Key == 'dinein' || selectedModule.Key == 'takeaway'" type="submit" class="btn" routerLink="/dinein/DineinMenuCategory">Select Menu</button>
                                <button *ngIf="selectedModule.Key == 'reservation'" type="submit" class="btn" routerLink="/dinein/DineinReservation">Reservation</button>
                            </div>                        
                            
                        </div>
                        <div class="table-responsive customer_list">
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Guest Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customerview of customerData" (click)="custometSelect(customerview)">
                                        <td>{{customerview.first_name}}</td>
                                        <td>{{customerview.email}}</td>
                                        <td>{{customerview.phone}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinCustomers"></app-dineintab>
                    <!--dine_tab_section-->


                </div>
            </div>
        </div>
    </div>
</div>