<app-header></app-header>
<div class="log_sec ta_phone_number">
  <div class="container-fluid">
      <div class="row pass_sec">
          <div class="col-md-6 col-sm-7 pass_cont log_pass">
              <h2>Enter Phone Numbe</h2>
              <div id="pincode">
                  <div class="table">
                      <div class="cell">

                          <div id="fields">
                              <div class="grid" #passwordRef>
                                  <input type="password" class="enter-pass" appOnlyNumbers=1 (focus)="currentlyFocused = 1" [(ngModel)]="passwordOne" (input)="changeFocusToNext($event.inputType,1)">
                                  <input type="password" class="enter-pass" appOnlyNumbers=1 (focus)="currentlyFocused = 2" [(ngModel)]="passwordTwo" (input)="changeFocusToNext($event.inputType,2)">
                                  <input type="password" class="enter-pass" appOnlyNumbers=1 (focus)="currentlyFocused = 3" [(ngModel)]="passwordThree" (input)="changeFocusToNext($event.inputType,3)">
                                  <input type="password" class="enter-pass" appOnlyNumbers=1 (focus)="currentlyFocused = 4" [(ngModel)]="passwordFour" (input)="changeFocusToNext($event.inputType,3)">
                              </div>
                          </div>

                          <div id="numbers">
                              <div class="grid">
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(1)">1</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(2)">2</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(3)">3</button>
                                  </div>

                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(4)">4</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(5)">5</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(6)">6</button>
                                  </div>

                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(7)">7</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(8)">8</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(9)">9</button>
                                  </div>

                                  <div class="grid__col grid__col--1-of-3"><button>+</button></div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(0)">0</button>
                                  </div>
                                  <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey('clear')">C</button></div>
                                </div>
                          </div>
                          <div id="ta_confirm">
                            <button class="btn-blue-secondary" routerLink="/takeaway/customerinformation">Confirm</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
