<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 invoice_listing_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Receipt List</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <select [(ngModel)]="invoice_status" (change)="statusChange($event.target.value)" class="form-control">
                                    <option value="">All</option>
                                    <option value="1">Pending</option>
                                    <option value="2">Completed</option>
                                </select>
                                <!-- <button class="btn"><img src="assets/images/filter.png" />Filter</button> -->
                                <!-- <button class="btn"><img src="assets/images/merge-kot.png" />KOT</button> -->
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [selDate]="selDate" [(ngModel)]="Date" required (dateChanged)="onDateChanged($event)"></my-date-picker>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" name="allmergeReceipt" [value]="mergereceiptdata" (change)="allmergeReceipt($event)">
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </th>
                                        <th># Invoice</th>
                                        <th>Date/Time</th>
                                        <th>Guest Name</th>
                                        <th>Type</th>
                                        <th>Waiter</th>
                                        <th>Item Count</th>
                                        <th>Amount</th>
                                        <th>Payment</th>
                                        <th>Status</th>
                                        <th>View</th>

                                    </tr>
                                </thead>
                                <tbody *ngIf="invoiceDetails.length > 0 ">
                                    <tr *ngFor="let invoice of invoiceDetails" >
                                        <td>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" name="allinvoiceItemList" [checked]="checkAllinvoiceitemlist" (change)="allinvoiceItemList($event.target.checked)">
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </td>
                                        <td>{{invoice.increment_number}}</td>
                                        <td>{{invoice.invoice_date}}<span>{{invoice.invoice_time}}</span></td>
                                        <td>{{invoice.waiter_id != null ? invoice.customer_id.first_name +' '+invoice.customer_id.last_name : '-'}} </td>
                                        <td>{{invoice.sales_type}}</td>
                                        <td>{{invoice.waiter_id != null ? invoice.waiter_id.first_name+' '+invoice.waiter_id.last_name : '-'}} </td>
                                        <td>{{invoice.over_all_qty ? invoice.over_all_qty : invoice.shipping_item_count}}</td>
                                        <td>{{currency.currency_symbol}} {{invoice.grand_total}}</td>
                                        <td>{{invoice.payent_type}}</td>
                                        <td>{{invoice.status == 2 ? 'Completed' : 'Pending'}}</td>
                                        <td><button style="margin-bottom: 10px;" class="btn btn-primary" routerLink="/invoicelisting/invoiceDetails/{{invoice.id}}"> Details </button></td>
                                    </tr>

                                </tbody>
                                <tbody  *ngIf="invoiceDetails.length == 0 ">
                                    <tr>
                                        <td colspan="10" style="text-align:center;">
                                            No Invoice Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!---->

                    </div>
                    <!--dine_transaction-->

                    <!---->
                </div>


            </div>
        </div>
    </div>
</div>