<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Reservation List</h2>
                        <!-- <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="ReservationDate" required></my-date-picker>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div> -->
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Guest Name </th>
                                        <th>Phone No</th>
                                        <th>From Time</th>
                                        <th>To Time</th>
                                        <th>Floor</th>
                                        <th>Table Name</th>
                                        <th>No of Guest</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of ReservationData">

                                        <td>{{data.reserving_date}}<span>{{data.table_book_from}}</span></td>
                                        <td>{{data.customer_name}}</td>
                                        <td>{{data.mobile_number}}</td>
                                        <td>{{data.table_book_from}}</td>
                                        <td>{{data.table_book_to}}</td>
                                        <td>{{data.floor_name}}</td>
                                        <td>{{data.table_name}}</td>
                                        <td>{{data.occupied_chairs}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
