<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sales-report_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Account List</h2>
                        <div class="pull-right">
                            <button class="btn btn-success" (click)="createAccount()">Create</button>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <ng-template #template>  
                        <div class="modal-header">  
                          <h4 class="modal-title pull-left">Add Account</h4>  
                          <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                            <span aria-hidden="true">×</span>  
                          </button>   -->
                        </div>  
                        <div class="modal-body"> 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="dine_in_wrap customer_info_wrap">
                                        <div class="customer_info_frm">                
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customer_fn">Account Cat Code</label>
                                                            <input class="form-control" type="text" [(ngModel)]="account.acc_cat_code" name="acc_cat_code"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customer_lst">Head Master Name</label>
                                                            <input class="form-control" type="text" [(ngModel)]="account.head_master_name" name="head_master_name"/>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="gender">Gender</label>
                                                        <select class="form-control" id="gender" [(ngModel)]="customer.gender" name="gender">
                                                            <option value="">-select-</option>
                                                            <option value="male">Male</option>
                                                            <option value="female">female</option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="email">Description</label>
                                                        <input class="form-control" type="text" [(ngModel)]="account.description" name="description"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group button-footer-section">
                                                        <button class="btn btn-warning" (click)="modalRef.hide();">Cancel</button>
                                                        &nbsp; <button class="btn btn-success" (click)="saveAccount()">Finish</button>
                                                    </div>
                                                </div>  
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>  
                      </ng-template> 

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Head Master Name</th>
                                        <th>Header Code</th>
                                        <th>Description</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let accountpaymentlist of accountpaymentData; let i = index;">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ accountpaymentlist.head_master_name }}</td>
                                        <td>{{ accountpaymentlist.header_code }}</td>
                                        <td>{{ accountpaymentlist.description }}</td>
                                        <td>{{ accountpaymentlist.created_at | date:'dd-MM-yyyy' }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a routerLink="/" class="settle">Payment</a>
                            </li>
                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>