@import url("../../../assets/css/dinein.css");
ul {
    text-align: center;
}

input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.simple-keyboard {
    width: 600px !important;
}