<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 dine_in_lft_bg din_in_cs">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Customer Information</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="phonenumber"> Phone Number</label>
                                    <!-- <div class="search_icon customer_w100"> -->
                                        <input class="form-control" type="text" placeholder="Search" id="phonenumber" (change)="searchCustomers($event)" [(ngModel)]='customer.phone' name="phone">
                                        <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                    </div> -->
                                </div>
                            </div>                                        
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="customer_fn">Custmer First Name</label>
                                    <!-- <div class="search_icon customer_w100"> -->
                                        <input class="form-control" type="text" placeholder="Albert" [(ngModel)]="customer.first_name" name="first_name">
                                        <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="customer_lst">Last Name</label>
                                    <!-- <div class="search_icon customer_w100"> -->
                                        <input class="form-control" type="text" placeholder="Warner" [(ngModel)]="customer.last_name" name="last_name">
                                        <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" [(ngModel)]="customer.gender" name="gender">
                                        <option value="">-select-</option>
                                        <option value="male">Male</option>
                                        <option value="female">female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" placeholder="Email" [(ngModel)]="customer.email" name="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group button-footer-section">
                                    <button class="btn btn-warning" routerLink="/dinein/DineinCustomers">Cancel</button>
                                    &nbsp; <button class="btn btn-success" (click)="saveCustomer()">Finish</button>
                                </div>
                            </div>                
                        </form>
                    </div>


                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinCustomerinforamtion"></app-dineintab>
                    <!--dine_tab_section-->
                    <!--dine_table-->
                    <div class="dine_table">
                        <h2>Table 2</h2>
                        <div class="dine_table_lst">
                            <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                            <ul>
                                <li>
                                    <p>Seat</p><label>: 04</label>
                                </li>
                                <li>
                                    <p>Status</p><label>: Open</label>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!--dine_table-->

                </div>
            </div>
        </div>
    </div>
</div>