@media only screen and (max-width: 767px) {
    .pass_cont {
        padding: 20px 20px;
        position: inherit;
        margin-top: 12%;
        padding-bottom: 50px !important;
    }
    .log_sec {
        position: inherit;
    }
    .login_header h2 {
        text-align: right;
        font-size: 22px;
        top: -44px;
    }
    /*  */
    .pass_cont form.ng-valid input {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .pass_cont {
        width: 320px;
    }
    .head_rgt_wrap {
        margin-bottom: 25px;
    }
    .head_rgt_wrap .head_rgt {
        float: none;
    }
    .dinein_tophead_right select {
        width: 248px;
    }
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }
    .constant_header h2 {
        text-align: center;
    }
    .content_shownText {
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }
    .filter_receipt>* {
        height: 50px !important;
        width: 180px;
        margin: 0px !important;
        margin-bottom: 5px !important;
    }
}

@media only screen and (min-width:1600px) {
    .home_transaction ul li span {
        font-size: 24px;
    }
    /* .home_transaction ul {
        justify-content: center;
    } */
    .home_transaction ul li {
        margin: 10px;
    }
    .buttons_orders .kot_operations .dine_others ul li {
        margin: 8px 14px;
    }
    .buttons_orders .kot_operations .dine_others ul li {
        margin: 8px 14px;
    }
    .buttons_orders .kot_operations .dine_others ul {
        justify-content: center;
    }
    .bill_screen_tab .table-responsive.order_menu table.table {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width:320px) and (max-width:366px) {
    .head_rgt img {
        margin-top: 10px;
        max-width: 24px;
    }
    .head_rgt button div {
        width: 36px;
        height: 36px;
    }
    .head_rgt button img {
        margin-top: 1px;
        max-width: 25px;
    }
    .pass_sec input {
        margin: 0px 13px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:639px) {
    .openbalance {
        padding: 50px 7px 30px 7px;
    }
    .open_list table thead tr th {
        font-size: 15px;
    }
    .open_list table tbody tr td {
        font-size: 15px;
    }
    .open_balance_wrap #pincode button {
        font-size: 15px;
    }
    .open_balance_wrap #pincode button {
        width: 100%;
    }
    /**headmenu**/
    .head_rgt_wrap {
        text-align: center;
        width: 100%;
    }
    .logtext_wrap {
        width: 100%;
    }
    .head_rgt {
        margin: 0 auto !important;
        float: none;
        display: inline-block !important;
    }
    .login_header a {
        margin: 0 auto !important;
    }
    .head_menu {
        top: 37px !important
    }
    .login_header h2 {
        margin-top: 0px;
        font-size: 20px;
    }
    .open_bal_title {
        font-size: 22px;
    }
    /**headmenu**/
}

@media only screen and (min-width:640px) and (max-width:767px) {
    .logtext_wrap {
        width: 100%;
    }
    .head_rgt_wrap {
        text-align: center;
        width: 100%;
    }
    .login_header a {
        margin: 0 auto !important;
    }
}

@media only screen and (min-width:320px) and (max-width:1316px) {
    /* .home_transaction ul {
        display: block;
        text-align: center;
    } */
    .dine_transaction ul li {
        margin: 0px 10px 10px 10px !important;
    }
}

@media only screen and (min-width:992px) and (max-width:1280px) {
    
    .home_others ul li {
        padding: 13px 12px;
    }
    .home_others h2 {
        top: -26px;
    }
    
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .dine_transaction ul li {
        padding: 0 !important;
    }
    .home_transaction ul li span {
        font-size: 13px;
    }
    .home_transaction ul li {
        padding: 28px 20px;
    }
    .home_others ul li a {
    font-size:16px;
    }
    .home_others h2{
        margin-top: 28px;
    }
    .home_others{
        padding: 15px 0;
    }
    .login_header h2{
        font-size: 20px;
    }
    .login_header a{
        height: 60px;
    }
    .home_transaction h2{
        margin-top: 4px;
    }
    .home_transaction{
        padding: 15px 27px 10px;
    }
    .head_rgt{
        margin-top: 10px;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
    .home_transaction ul{
        justify-content: center;
        flex-direction: row;
    flex-wrap: wrap;
    }
    .home_transaction ul li {
        padding: 20px 0;
        width: 125px;
    }
    .dinein_tophead h2 {
        text-align: center;
        width: 100%;
    }
    .dinein_tophead_right {
        float: right;
        width: 100%;
        text-align: center;
    }
    .dinein_tophead_right select {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .search_icon {
        float: none !important;
        display: block;
        clear: both;
        margin: 0 auto;
    }
    .dinein_tophead_right .dine_tab {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .dinein_tophead_right .dine_tab ul {
        float: none;
        background: #ffffff;
        padding: 13px 10px;
        border-radius: 50px;
        margin: 0 auto;
        width: 248px;
        display: block;
        min-height: 55px;
    }
    .customer_info_frm .search_icon {
        width: 100% !important;
    }
    /*21*/
    .nocharges_tab .bill_screen_tab ul.nav-tabs,
    .nocharges_tab .bill_screen_tab ul.nav-tabs li {
        width: 100%;
    }
    .guest_charges .form-group .text-right .btn {
        margin-left: 7px;
    }
    .guest_charges .form-group .text-right {
        text-align: center;
    }
    /*28*/
    .guest_charges .dine_in_lft {
        padding: 15px;
    }
    .nocharges_tab {
        padding-left: 0px;
        padding-right: 0px;
    }
    .inlineAmount .form-inline {
        flex-direction: column;
        align-items: flex-start;
    }
    .miscellCreate .transaction_order_btm ul {
        justify-content: center;
    }
    /*13-2020*/
    .head_rgt .head_menu {
        right: 33%;
    }
    .mob_pad button.btn {
        margin: auto;
        display: block;
    }
    .receipt_tb {
        padding: 0px;
    }
}

@media only screen and (min-width:768px) and (max-width:1316px) {
    .dinein_tophead h2 {
        text-align: center;
        float: left;
        width: 100%;
        margin-bottom: 24px;
    }
    .search_icon {
        width: 200px;
    }
    .dinein_tophead_right select {
        width: 130px;
    }
    .dinein_tophead {
        width: 100%;
        float: left;
        text-align: center;
    }
    .dinein_tophead_right {
        float: none;
        display: inline-block;
    }
    .dinein_tophead_right .dine_tab {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media only screen and (min-width:320px) and (max-width:991px) {
    body .simple-keyboard {
        width: 100% !important;
        overflow-x: scroll !important;
    }
    /*20*/
    .fluid_spit .split_wrapper {
        width: 100%;
        margin: 0px auto 10px auto !important;
    }
    /*21*/
    .d-inline,
    .wt_900_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: left;
    }
    .switch_buttons {
        text-align: center;
    }
    select.selectable_show {
        width: 100%;
    }
    .sort_swap {
        flex-direction: row;
        margin-bottom: 10px;
    }
    .wt_900_flex .wt_50 {
        width: 100%;
        display: inline;
    }
    .sort_swap img {
        margin: 0px 8px;
    }
    .guest_charges .search_icon {
        width: 100%;
    }
    /*23*/
    .padding_mob_0 {
        padding: 0 !important;
    }
    .dine_in_lft_bg.din_in_cs {
        margin-top: 10px;
    }
    .dine_in_wrap.guest-menu-screens .bill_screen_tab ul li {
        width: 100%;
    }
    /*27*/
    .sales_flex {
        flex-direction: column-reverse;
    }
    .sales_box {
        width: 100%;
        float: left;
    }
    .tabs_headerList {
        width: 100%;
        overflow-x: auto;
        border: none;
    }
    .sales_box_btnParent {
        margin-top: 25px;
    }
    .tabs_headerList .side_nav li.accounts_li.active:before {
        display: none;
    }
    .sales_flex ul.nav.nav-tabs.side_nav {
        width: 2141px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 5px;
        border: none;
        border: 1px solid #f39c12;
        border-radius: 4px;
        border-radius: 50px;
        padding: 4px;
    }
    .sales_flex .tabs_headerList ul li {
        display: inline-block;
        width: auto;
    }
    .sales_flex .tabs_headerList .side_nav li a {
        font-size: 14px;
        border-radius: 50px;
        background: #ffffff;
        border: 1px solid #f39c12;
        color: #f39c12;
    }
    /*28*/
    .tabs_headerList .side_nav li.accounts_li.active a {
        color: #ffffff;
        background: #F39C12;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
    }
    .tabs_headerList .nav-tabs>li>a,
    .tabs_headerList .nav-tabs>li.active>a,
    .tabs_headerList .nav-tabs>li.active>a:focus,
    .tabs_headerList .nav-tabs>li.active>a:hover {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .tableWtkds {
        margin-bottom: 15px;
    }
    /*13-2020*/
    .ops_cal .nxt_btn input {
        float: none;
    }
    .ops_cal .nxt_btn {
        float: left;
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .dine_in_lft.headersplit .button_group button.btn.btn-create {
        float: none;
        margin: auto;
    }
    .bg_wrap .home_others ul {
        height: auto;
        padding-bottom: 20px;
    }
    .dine_in_rgt_bg {
        min-height: auto;
        padding-bottom: 20px !important;
    }
    .bill_screen_tab .table-responsive.order_menu table.table {
        margin: auto;
    }
    p.divider_Point {
        font-size: 18px;
        color: #666666;
        text-align: center;
    }
    .header_SubWapper {
        display: block;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .search_icon {
        width: 260px;
    }
    .dine_in_lft_bg {
        padding: 30px 10px;
    }
    .dine_transaction {
        padding-bottom: 0px !important;
    }
    /*20*/
    .fluid_spit .split_wrapper {
        padding: 10px;
    }
    /*29*/
    .rowio {
        flex-direction: column;
    }
    .print_srcFlex>* {
        margin-right: 10px;
    }
    .print_srcFlex {
        justify-content: start;
    }
    .table_containerUi #fields {
        margin-bottom: 10px !important;
        max-width: 100% !important;
        justify-content: flex-start;
    }
    .rowio>* {
        padding: 0px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1364px) {
    .bill_screen_tab ul li a {
        min-width: 118px;
        font-size: 16px;
    }
    .food_tab_section .side_nav li.accounts_li a {
        padding: 10px 18px;
        min-width: 100px;
    }
    .transaction_order_btm ul li a {
        width: 100%;
    }
    .transaction_order_btm ul li {
        min-width: 105px;
        font-size: 14px;
    }
    .order_menu tbody td {
        padding: 10px !important;
    }
}

@media only screen and (min-width:1080px) and (max-width:1199px) {
    .bill_screen_tab ul li a {
        min-width: 118px;
        font-size: 16px;
    }
    .food_tab_section .side_nav li.accounts_li a {
        padding: 10px 11px;
        min-width: 87px;
    }
    .transaction_order_btm ul li a {
        width: 100%;
    }
    .transaction_order_btm ul li {
        min-width: 96px !important;
        font-size: 14px;
    }
    .order_menu tbody td {
        padding: 10px !important;
    }
    .transaction_order_btm ul li {
        padding-bottom: 15px;
    }
}


/*  */

@media screen and (max-width:400px) {
    .dine_transaction ul li {
        width: 230px;
    }
    /*28*/
    .table_containerUi #pincode button {
        width: 60px;
    }
    .input_labels {
        flex-direction: column;
    }
    form.form-inline.billable_form .input_labels.label_wt label,
    form.form-inline.billable_form .input_labels.label_wt_0 label,
    form.form-inline.billable_form input.form-control.sub_child_2,
    form.form-inline.billable_form input.form-control.sub_child_1,
    form.form-inline.billable_form input.form-control.sub_child_3 {
        width: 100%;
    }
}


/*merge-receipt*/

.merge_order ul {
    justify-content: center !important;
}


/*20*/

@media screen and (min-width:992px) {
    .form-inline .sort_imgs {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .transferrable_tabs .bill_screen_tab ul li a {
        min-width: 298px;
    }
    .relative_post .selector.selectorarrow.selectorarrowleft {
        left: -70px;
    }
    /*24*/
    .sales_box_btnParent {
        margin-right: 20px;
    }
    .dine_in_wrap.msgScreen .sales_box_btnParent {
        margin-left: 20px;
        margin-right: 0px;
    }
    /*12*/
    .kds-table-wrap {
        /* overflow: hidden; */
        /* overflow-y: scroll;
        height: 550px; */
    }
}

@media screen and (max-width:500px) {
    .fluid_spit label.label_light {
        display: block;
    }
    .fluid_spit .sort_imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sort_imgs input.form-control {
        margin-bottom: 12px;
    }
    .fluid_spit .form-inline input.form-control {
        width: 100% !important;
    }
    .sort_imgs img {
        margin: 0px !important;
    }
    /*21*/
    .select_wt_align {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .select_wt_align select.selectable_show {
        width: 100%;
        margin-bottom: 10px;
    }
}


/*21*/

@media screen and (max-width:567px) {
    .flexible_merged {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .flexible_merged .floorChange {
        margin-bottom: 15px;
    }
    .bg_orange.btn-radius {
        margin: 10px auto;
    }
    /*27*/
    .sales_box {
        padding: 0px;
    }
    /*29*/
    .item_details_category .list_payment ul li {
        font-size: 15px;
    }
    p.divider_Point {
        overflow: hidden;
    }
    /*12-20*/
    .table_desc .form-inline input,
    .table_desc .form-inline label {
        font-size: 13px;
    }
    /*13-20*/
    .modal-dialog.customClass_receipt .modal-content {
        padding: 0px;
    }
    .modal-dialog.customClass_receipt .modal-content .buttons_orders {
        padding: 0px;
    }
    form.order_tb .form-group input.form-control,
    form.order_tb .form-group label {
        width: 100%;
    }
    .print_screen_section {
        width: 100%
    }
    .print_screen_wrap {
        padding: 15px;
    }
}


/*12-02-2020*/

@media only screen and (min-width:992px) and (max-width:1199px) {
    .kds-table-wrap {
        /* overflow: hidden; */
        overflow-y: scroll;
        height: auto;
    }
    .tableWtkds {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width:992px) and (max-width:1360px) {
    .tableWtkds .form-inline {
        height: 60px;
    }
}

@media screen and (max-width:1100px) {
    .menu_category_tab_wrap .food_tab_section {
        overflow: auto;
    }
    .menu_category_tab_wrap .food_tab_section ul.nav-tabs {
        width: 800px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 5px;
        border: none;
        border: 1px solid #f39c12;
        border-radius: 4px;
        border-radius: 50px;
        padding: 4px;
    }
    .menu_category_tab_wrap .food_tab_section ul.nav-tabs li.active a {
        color: #ffffff;
        background: #F39C12;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
    }
    .menu_category_tab_wrap .food_tab_section ul.nav-tabs li a {
        font-size: 14px;
        border-radius: 50px;
        background: #ffffff;
        border: 1px solid #f39c12;
        color: #f39c12;
    }
}

@media only screen and (max-width:1200px) {
    .transaction_order_btm ul {
        justify-content: flex-start;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .bill_screen_wrap ul.nav.nav-tabs.side_nav li {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    form.form-inline.billable_form>div {
        padding: 0px;
        width: 100%;
    }
}

@media only screen and (min-width:568px) and (max-width:991px) {
    .dine_in_wrap.menudinelist .bill_screen_tab ul.nav.nav-tabs li.accounts_li {
        width: 33%;
    }
}

@media screen and (max-width:1180px) {
    .searchWrap_list {
        float: none;
        margin: 0px auto;
        display: block;
        width: 70%;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .menulistSearchWrap .menu_category_tab_wrap {
        width: 96%;
    }
    .menulistSearchWrap .search_icon {
        width: 100%;
        margin-top: 0;
    }
    ul.hidden_listWrap {
        width: 100%;
        float: left;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .home_transaction ul li span {
        font-size: 13px;
    }
    .home_transaction ul li {
        padding: 28px 20px;
    }
    .home_others ul li a {
    font-size:16px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .home_transaction ul li span {
    font-size: 13px;
    }
    .home_transaction ul li {
    padding: 28px 20px;
    }
    .home_others ul li a {
    font-size:16px;
    }
    .home_others h2{
    margin-top: 28px;
    }
    .home_others{
    padding: 15px 0;
    }
    .login_header h2{
    font-size: 20px;
    }
    .login_header a{
    height: 60px;
    }
    .home_transaction h2{
    margin-top: 4px;
    }
    .home_transaction{
    padding: 15px 27px 10px;
    }
    .head_rgt{
    margin-top: 10px;
    }
    }