/*Fonts Styles*/

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold/roboto-bold-webfont.woff") format("woff"),
    url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0px;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Login Page Style Start*/

.login_header {
  background: #ff5b2e;
  position: fixed;
  top: 0;
  z-index: 111;
  width: 100%;
}
.login_header .second-header {
  background: #fff;
}

/* .login_header h2 {
    color: #FFFFFF;
    font-size: 28px;
    display: flex;
    margin-bottom: 0px;
    height: 70px;
    margin-top: 0px;
    justify-content: center;
    position: absolute;
    top: -49px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 97%;
    left: 0;
} */

.login_header h2 {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}

.logtext {
  position: relative;
}

.login_header a {
  display: flex;
  width: fit-content;
  align-items: center;
  align-self: center;
  height: 70px;
  color: #ffffff;
  font-size: 30px;
}

.login_header a img {
  padding-right: 5px;
}

.log_sec {
  background: url(../images/loginbg.png) #fff;
  height: 100%;
  position: fixed;
  width: 100%;
}

.pass_sec {
  display: flex;
  justify-content: center;
}

.pass_cont {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: fixed;
  top: 18%;
  padding-bottom: 100px !important;
}

.pass_cont h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.open_balance_wrap div#fields input {
  background: #f0f0f0 !important;
  border: 0px;
  width: 100%;
  height: 94px;
  font-size: 22px;
  color: #1c254d;
}

.open_balance_wrap div#fields input:focus {
  border: 0px !important;
  outline: none;
}

.open_balance_wrap div#fields {
  background: #f0f0f0 !important;
  max-width: 391px !important;
  width: 100% !important;
  height: 111px;
}

.open_balance_wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
}

.openbalance {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 50px 50px 30px 50px;
  width: 100%;
  float: left;
}

.open_sec {
  position: relative !important;
}

.open_bal_title {
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.open_list thead th:last-child {
  border-top-right-radius: 8px;
}

.open_list thead th:first-child {
  border-top-left-radius: 8px;
}

.open_list thead th {
  background: #f39c12;
  color: #fff !important;
  vertical-align: middle;
  text-align: center;
}

.open_list tbody td {
  text-align: center;
  vertical-align: middle;
}

.open_list table {
  background: #f9f9f9;
  border-radius: 8px;
  border: 0px !important;
}

.open_list table thead tr th {
  border-bottom: 0px !important;
  border-top: 0px !important;
  font-weight: 500;
  font-size: 20px;
  border-left: 0px !important;
  border-right: 0px !important;
  padding: 16px;
}

.open_list table tbody tr td {
  border-bottom: 0px !important;
  border-top: 0px !important;
  color: #4f4f4f;
  font-weight: 500;
  font-size: 20px;
  padding: 16px;
}

.open_list table tbody tr td:first-child {
  border-left: 0px;
}

.open_list table tbody tr td:last-child {
  border-right: 0px;
}

.open_list td.opb {
  border-bottom: 0px !important;
  border-top: 1px solid #ddd !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.pass_sec input {
  /* border-radius: 4px; */
  /* height: 50px; */
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0px 0px;
  margin: 0px 16px;
  font-size: 22px;
}

.pass_sec .input-group span {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 999;
  padding-top: 15px;
  position: absolute;
  background: transparent;
}

.pass_sec .input-group input {
  background: #eeeeee;
  border: none;
  height: 50px;
  box-shadow: none;
  color: #a0a0a0;
  font-size: 16px;
  padding-left: 60px;
  margin-bottom: 25px !important;
  border-radius: 5px !important;
}

.pass_sec input:focus + span svg path {
  fill: #ff5b2e;
}

.pass_sec input:focus {
  border: 1px solid #ff5b2e;
  background: #fff;
  color: #ff5b2e;
}

.pass_sec svg path {
  fill: #a0a0a0;
}

.pass_sec p {
  color: #444444;
  font-size: 18px;
  padding: 25px 0px;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
}

.log_bt a {
  color: #fff !important;
}

.pass_sec p::after {
  content: "";
  width: 40%;
  height: 1px;
  background: #e6e6e6;
  position: absolute;
  top: 40px;
  right: 15px;
}

.pass_sec p::before {
  content: "";
  width: 40%;
  height: 1px;
  background: #e6e6e6;
  position: absolute;
  top: 40px;
  left: 15px;
}

.input-groupc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-groupc .cancel_bt {
  background: #d7d7d7;
  border-radius: 4px;
  width: 48%;
  color: #878787;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

.input-groupc .submit_bt {
  background: #ff5b2e;
  border-radius: 4px;
  width: 48%;
  height: 50px;
  color: #fff;
  font-size: 16px;
}

.log_bt {
  background: #f39c12;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  color: #fff !important;
  font-size: 18px;
}

.log_bt:hover {
  color: #fff !important;
}

.pass_cont .input-group {
  display: flex;
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ff5b2e;
}

/*Login Page Style Last*/

/*Passcode Page Style Start*/

#fields {
  background: #f0f0f0;
  margin: 0 !important;
  max-width: 294px !important;
  height: 140px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px !important;
  margin: 0 auto !important;
}

.log_pass h2 {
  font-size: 22px;
  margin-bottom: -15px;
}

#restartbtn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.cell {
  display: table-cell;
  position: relative;
  width: 100%;
  text-align: center;
}

/*------
# Pincode
----*/

#pincode {
  overflow: hidden;
  z-index: 9999;
  color: #fff;
  text-align: center;
}

#numbers {
  max-width: 294px;
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
  background: #f0f0f0;
}

#numbers.hide {
  opacity: 0.3;
}

#pincode button {
  width: 92px;
  height: 50px;
  margin-bottom: 2px;
  background-color: #f0f0f0;
  border: 0;
  color: #1c254d;
  font-size: 25px;
  line-height: 50px;
  opacity: 1;
  outline: 0;
}

#pincode button:active {
  background-color: rgba(0, 0, 0, 0.6);
  outline: 0;
}

#fields {
  padding: 0 20px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 10px !important;
}

#numbers .bck_clr button,
#numbers .bck_clr {
  background: #dbdbdb;
}

.open_balance_wrap #pincode button {
  font-size: 22px;
}

.open_balance_wrap div#numbers {
  max-width: 391px;
  width: 100%;
  margin-bottom: 30px;
}

#numbers .grid__col,
#denomination .grid__col {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.nxt_btn {
  float: right;
  padding: 0px 20px;
}

.open_balance_wrap .cell {
  padding-top: 22px;
}

.nxt_btn input {
  border: 0px;
  height: 60px;
  width: 200px;
  background: #ff5b2e;
  float: left;
  max-width: 100%;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

#fields .numberfield {
  text-align: center;
  padding: 0px 11px;
}

#fields .numberfield span {
  width: 30px;
  border: 1px solid #cacaca;
  background: url("../images/star.png") no-repeat;
  background-position: top center;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-top: 25px !important;
}

#fields .numberfield.active span {
  background: url("../images/star.png") no-repeat;
  background-position: top center;
  width: 30px;
  font-size: 50px;
  height: 30px;
  border-bottom: 2px solid #cacac9 !important;
  border: none;
  top: 0px;
}

#fields .numberfield.right span {
  background-color: #272a2f;
  border-color: #272a2f;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*------
# Toast Grid
----*/

.grid {
  list-style: none;
}

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
  width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
  width: 25%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  /* margin-right: -.25em; */
  min-height: 1px;
  vertical-align: top;
}

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--d-first {
  float: left;
}

.grid__col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid--no-gutter .grid__col {
  padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid__col--ab {
  vertical-align: bottom;
}

.grid__col--am {
  vertical-align: middle;
}

.miss {
  -webkit-animation: miss 0.8s ease-out 1;
  animation: miss 0.8s ease-out 1;
}

@-webkit-keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#hastylink {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.clc {
  background: #566cce !important;
  color: #fff !important;
  font-size: 15px !important;
}

.logclc {
  background: #f39c12 !important;
  color: #fff !important;
  font-size: 15px !important;
}

.lasec button {
  width: 94px !important;
  margin-top: -5px;
}

body .clcout {
  width: 92px !important;
}

/*Passcode Page Style Last*/

/*Home Screen Starts*/

.container {
  width: 1440px;
  max-width: 100%;
}

.bg_wrap {
  background: url(../images/loginbg.png) #fff;
  /* height: 100%; */
  width: 100%;
  padding: 30px 0px 0;
}

.head_rgt {
  float: right;
  margin-top: 14px;
  margin-right: 18px;
}

/*home transaction*/

.home_transaction {
  background: #fff;
  padding: 20px 27px 10px;
  width: 100%;
  position: relative;
}

.home_transaction h2 {
  position: absolute;
  top: 0px;
  left: 46px;
  top: -6px;
  background: #fff;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.home_transaction ul {
  border: 1px solid #566cce;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: flex-start; */
}

.home_transaction ul li {
  padding: 5px;
  display: inline-block;
}

.home_transaction ul li .trans_mg {
  background: #fff2ef;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.home_transaction ul li .trans_mg label {
  background: #ff5b2e;
  border-radius: 20px;
  width: 20px;
  color: #fff;
  position: absolute;
  top: -3px;
  right: 4px;
  height: 20px;
  font-size: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.home_transaction ul li .trans_mg img {
  margin: 0 auto;
  align-items: center;
  width: 36px;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: contain;
  height: 36px;
}

.home_transaction ul li span {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  color: #333333;
  text-transform: capitalize;
  /* max-width: 100px; */
  width: 100%;
  text-align: center;
}

/*home transaction*/

/*home_others*/

.home_others {
  background: #fff;
  padding: 27px;
  width: 100%;
}

.home_others h2 {
  position: absolute;
  top: 0px;
  left: 46px;
  top: -3px;
  background: #fff;
  padding: 0px 10px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}

.home_others ul {
  border: 1px solid #566cce;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 30px;
}

.home_others ul li {
  padding: 13px 15px;
  display: inline-block;
  float: none;
  text-align: center;
  width: 100%;
}
.popup-min {
  width: 780px !important;
}
.popup-min .modal-header {
  padding: 0px;
}

.home_others ul li a {
  background: #566cce;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
  float: left;
  justify-content: center;
}
.send_to_kot {
  width: 32% !important;
}

/*home_others*/

/*Home Screen Ends*/

/*header_rgt_menu*/

.head_rgt button div {
  border: 0px;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 14px;
}

.head_rgt button img {
  margin-top: 2px;
  max-width: 29px;
}

.head_rgt button {
  background: transparent;
  border: 0px;
  position: relative;
}

.head_rgt i {
  float: right;
  position: absolute;
  right: -5px;
  top: 17px;
  color: #fff;
}

.head_rgt img {
  margin-top: 10px;
}

/*header_rgt_menu*/

/*Dine In*/

.dine_in_wrap {
  background: #ffffff;
  width: 100%;
  float: left;
  margin-top: 140px;
}
.bg_wrap {
  margin-top: 140px;
  padding: 0;
}
body {
  height: auto;
  min-height: auto;
}
.dinein_tophead {
  width: 100%;
  float: left;
}

.dinein_tophead h2 {
  float: left;
  width: auto;
  margin-top: 0px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.dinein_tophead h2 i {
  color: #ff5b2e;
  padding-right: 6px;
  font-size: 22px;
}

.dinein_tophead_right {
  float: right;
}

.dinein_tophead_right select {
  float: left;
  width: auto;
  background: #ffffff;
  border: 1px solid #f39c12;
  box-sizing: border-box;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  padding-left: 21px;
  font-size: 18px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("../images/arrow_select.png") no-repeat;
  background-position: 91%;
  color: #f39c12;
}

.dinein_tophead_right .dine_tab {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.dinein_tophead_right .dine_tab ul {
  float: left;
  background: #ffffff;
  padding: 10px 10px;
  border-radius: 50px;
}

.dinein_tophead_right .dine_tab ul li {
  float: left;
  margin: 5px 7px;
}

.dinein_tophead_right .dine_tab ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 9px 23px;
  background: #f39c12;
  color: #fff;
  border-radius: 50px;
}

.dinein_tophead_right .dine_tab ul li a:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 9px 23px;
  background: #f39c12;
  color: #fff;
  border-radius: 50px;
}

.dine_transaction {
  background: transparent;
  border: 0px !important;
  width: 100%;
  float: left;
  padding: 5px 0px;
}

.dine_transaction ul {
  border: 0px;
  background: transparent;
  box-shadow: inherit;
}

.dine_mg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dine_transaction ul li {
  background: #fffbfa;
  box-sizing: border-box;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  max-width: 100%;
  width: 125px;
  border: 1.5px solid #fffbfa;
}

.dine_transaction ul li:hover {
  border: 1.5px solid #ff5b2e;
}

ul.dine_lst {
  padding: 0px;
  border: 0px;
  background: transparent;
  display: block;
  box-shadow: inherit !important;
  margin-top: 17px;
}

ul.dine_lst li {
  padding: 0px;
  box-shadow: inherit;
  background: transparent;
  display: flex;
  color: #a7a7a7;
  border: 0px !important;
}

ul.dine_lst li:hover {
  border: 0px !important;
}

ul.dine_lst li p {
  width: 50px;
  font-size: 14px;
  margin-bottom: 0px;
}

ul.dine_lst li label {
  font-size: 14px;
  color: #333333;
}

.disable_mg {
  display: none;
}

.dine_in_lft_bg {
  background: #e5e5e5;
  padding: 30px;
  height: calc(100vh - 145px);
  padding-top: 10px;
}
.invoice_listing_bg {
  height: calc(100vh - 145px);
}
.sales-report_bg {
  height: auto;
}
/*dine_rgt_section_tab*/

.dine_in_rgt_bg {
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 19vh);
}

.dine_in_rgt_bg.no-padding {
  padding: 0px;
}

.dine_ts_lst {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.dine_ts_lst a {
  display: flex;
  flex-direction: column;
  padding: 18px 0px;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 16px;
}

.dine_ts_lst a i {
  font-size: 55px;
}

.dine_ts_lst a span {
  margin-top: 8px;
}

.dine_ts_lst:hover a,
.dine_ts_lst a.active {
  background: #ffe7e0;
}

.dine_ts_lst:hover a i,
.dine_ts_lst a.active i {
  color: #ff5b2e;
}

.dine_ts_lst:hover a .dine_h,
.dine_ts_lst a.active .dine_h {
  display: block;
}

.dine_ts_lst:hover a .dine_b,
.dine_ts_lst a.active .dine_b {
  display: none;
}

.dine_ts_lst a .dine_b,
.dine_ts_lst a .dine_h {
  max-width: 40px;
  object-fit: cover;
}

.dine_ts_lst:hover a span,
.dine_ts_lst a.active span {
  color: #444444;
  font-weight: 600;
}

.dine_h {
  display: none;
}

.dine_others {
  padding: 0px;
}

.dine_others ul {
  border: 0px;
  box-shadow: inherit;
  height: auto;
  padding-top: 10px;
}

.dine_table {
  display: block;
  width: 100%;
  float: left;
  padding: 20px;
  text-align: center;
}

.dine_table h2 {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 600;
}

.dine_table_lst {
  display: flex;
  justify-content: center;
  padding: 22px 0px;
  align-items: center;
  align-self: center;
  margin-left: 33px;
}

.dine_table_lst ul {
  margin-left: 13px;
}

.dine_table_lst ul li {
  float: left;
  width: 100%;
  font-size: 20px;
}

.dine_table_lst ul li p {
  float: left;
  color: #a7a7a7;
}

.dine_others ul li a.ass_water {
  background: #ff5b2e;
}

.dine_others ul li a.tab_reservation {
  background: #f39c12;
}

.dine_others ul li {
  padding: 8px 28px;
}

/*dine_rgt_section_tab*/

/* dine In Customer*/

.customer_dine {
  width: 100%;
  float: left;
  background: #fff;
  margin: 23px 0px;
  padding: 10px;
}

.customer_list table thead th {
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
}

.customer_list table tbody td {
  color: #444444;
  font-size: 18px;
  padding: 20px;
  vertical-align: middle;
}

.customer_list table tbody td span {
  display: block;
  color: #a2a2a2;
  font-size: 16px;
}

.search_icon {
  float: left;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  border-radius: 31px;
  width: 300px;
  height: 50px;
  position: relative;
}

.search_icon input {
  border: 0px !important;
  background: transparent;
  box-shadow: none !important;
  height: 100%;
  font-size: 16px;
  color: #cacaca;
  margin-left: 9px;
}

.search_icon i {
  position: absolute;
  right: 20px;
  top: 16px;
  color: #bfbfbe;
  font-size: 16px;
}

/* dine In Customer*/

/*dine in customer information*/

.din_in_cs {
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dine_ci_title {
  border-bottom: 1px solid #333;
}

.customer_info_frm .search_icon {
  border-radius: 4px;
  max-width: 100%;
}

.customer_info_frm .form-group .form-control {
  width: 300px;
  max-width: 100%;
  height: 35px;
  border-radius: 4px;
}

.customer_info_frm .form-group {
  /* margin-top: 20px; */
  width: 100%;
  float: left;
}

.customer_info_frm .form-group label {
  color: #888888;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  padding-bottom: 6px;
  float: left;
}

.customer_info_frm .form-group .form-control {
  color: #555555;
  font-size: 18px;
  width: 100%;
  float: left;
}

.no-pad {
  padding-left: 0px;
}

.finish_btn {
  background: #566cce;
  border-radius: 4px;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  border: 0px;
  color: #ffffff;
  font-size: 18px;
  display: inherit;
  float: none;
  margin-top: 10px;
}

.customer_info_frm .mydp {
  border: 0px;
}

.dine_mg img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

/*Dine In*/

/*header_menu*/

.head_menu {
  position: absolute;
  top: 69px;
  z-index: 9999999999999;
  right: 26px;
  background: #fff;
  /* max-width: 100%; */
  width: 210px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.head_menu ul li {
  border-top: 1px solid #f2f2f2;
  padding: 0px !important;
  margin: 0px !important;
  float: left;
  width: 100%;
}

.head_menu ul li a {
  color: #444444;
  font-size: 16px;
  padding: 18px 43px;
  height: 100%;
  width: 100%;
  float: left;
}

.user_pro {
  background: #f4f4f4;
  padding: 16px;
  float: left;
  width: 100%;
}

.user_pro span {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

.user_pro img {
  width: 39px;
  height: 39px;
  background: #fff;
  border-radius: 39px;
  object-fit: contain;
  float: left;
}

.user_pro span {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  margin-top: 17px;
  float: left;
  margin-left: 20px;
}

.head_menu .arw img {
  position: absolute;
  top: -16px;
  right: 0px;
}

.head_menu .arw {
  background: transparent;
}

button:focus {
  outline: none;
}

/*header_menu*/

/* PASSWORD STYLES STARTS HERE */

.enter-pass {
  width: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cacaca;
  text-align: center;
  margin-right: 15px;
  background: transparent;
  color: #555;
  border-radius: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ENDS HERE */

.dine_mg {
  position: relative;
}

span.dine_txt_cen.din_tab_cen {
  top: 13px !important;
  color: #27ae60 !important;
}

span.dine_txt_cen.din_tab_cen.clr_change {
  top: 0px !important;
  color: #b8b8b8 !important;
}

span.dine_txt_cen {
  position: absolute;
  top: 90%;
  left: inherit;
  color: #000 !important;
  font-size: 15px !important;
  font-weight: 600;
}

.dine_center h2 {
  padding: 0px 10px;
  width: 100%;
}

/*menu_category*/

.menu_category ul.dine_lst li label {
  font-size: 18px;
  color: #333333;
  text-align: center;
  width: 100%;
}

.menu_category ul li {
  background: #ffffff;
}

.menu_category_wrap {
  margin: 0 auto;
  float: none;
}

.menu_category ul {
  flex-wrap: wrap;
}

.menu_category ul li {
  margin-top: 24px;
}

.menu_category ul li {
  width: 192px;
}

.menu_category .dine_mg img {
  width: 150px;
  height: 150px;
}

/*menu_category*/

/*menu search_select*/

.customer_input_search {
  width: 70%;
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

form.search_form {
  width: auto;
  float: left;
  display: block;
}

form.search_form input[type="text"] {
  width: 516px;
  max-width: 100%;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #ff5b2e;
  padding-left: 25px;
  font-size: 16px;
}

form.search_form input:focus {
  outline: none !important;
}

form.search_form button.btn_search {
  height: 35px;
  width: 65px;
  background: #ff5b2e;
  border: 1px solid #ff5b2e;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 0px;
  margin-left: -1px;
}

form.search_form button.btn_search i.fa.fa-search {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200 !important;
}

form.search_form input[type="text"]::-webkit-input-placeholder {
  color: #bfbfbf;
}

form.search_form input[type="text"]:-ms-input-placeholder {
  color: #bfbfbf;
}

form.search_form input[type="text"]::placeholder {
  color: #bfbfbf;
}

.form-group.cutom_frm {
  width: auto !important;
  position: relative;
}

select.search_select {
  position: absolute;
  right: 100px;
  top: 0px;
  width: 157px;
  border-radius: 4px;
  height: 35px;
  border: 1px solid #bfbfbf;
  -webkit-appearance: none !important;
  padding-left: 20px;
  font-size: 14px;
  background-image: url("../../assets/images/Vector.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

select.search_select:focus {
  border: 1px solid #ff5b2e;
  outline: none;
}

@media screen and (max-width: 767px) {
  select.search_select {
    width: 80px;
    height: 25px;
    top: 8px;
    right: 58px;
  }
  form.search_form input[type="text"] {
    width: 275px;
    height: 40px;
  }
  form.search_form button.btn_search {
    height: 40px;
    width: 50px;
  }
  select.search_select {
    padding-left: 7px;
    padding-right: 22px;
  }
}

@media screen and (max-width: 567px) {
  form.search_form button.btn_search {
    width: 40px;
  }
  form.search_form input[type="text"] {
    width: 220px;
  }
  /*13-01-2020*/
  .dinein_tophead.merge-receipts .dinein_tophead_right {
    flex-direction: column-reverse;
  }
  .filter_receipt > * {
    width: 100% !important;
  }
  .merge-receipts .search_icon {
    width: 100%;
    margin-bottom: 6px;
  }
}

/*menu search_select*/

/*bill screen */

.bill_screen_wrap {
  padding: 20px 9px 0px 9px;
  width: 100%;
  float: left;
}

.bill_screen_wrap h2 {
  color: #333333;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  float: left;
  margin-bottom: 19px;
}

/*bill screen */

/*Bill_Screen*/

.bill_screen_wrap {
  padding: 9px 9px 0px 9px;
  width: 100%;
  float: left;
}

.bill_screen_wrap h2 {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 0px !important;
}

.bill_screen_tab ul {
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 0px;
  width: 100%;
  float: left;
}

.bill_screen_tab ul li {
  border-left: 1px solid #e1e1e1;
}

.bill_screen_tab ul li a {
  font-size: 18px;
  color: #4c4c4c;
  font-weight: 500;
  min-width: 139px;
  text-align: center;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
  margin-right: 0px !important;
  padding: 7px 15px;
}

.bill_screen_tab ul li.active a {
  border-radius: 0px;
  background: #ffe7e0;
  box-sizing: border-box;
  border-bottom: 2px solid #f9592d !important;
  border: 0px;
  margin-right: 0px !important;
}

.billable_form label {
  font-size: 16px;
  color: #444444;
}

.billable_form input.form-control {
  border: none;
  border-bottom: 1px solid #444444;
  box-shadow: none;
  border-radius: 0;
  padding-bottom: 0;
  height: auto;
  padding-top: 0px;
}

form.form-inline.billable_form {
  width: 100%;
  float: left;
  margin-top: 17px;
}

.input_labels label {
  margin-bottom: 0;
}

.input_labels {
  display: flex;
  align-items: flex-end;
}

.input_labels.label_wt label {
  width: 40%;
}

.input_labels.label_wt_0 label {
  width: 30%;
}

input.form-control.sub_child_1 {
  width: 40%;
}

input.form-control.sub_child_2 {
  width: 60%;
}

input.form-control.sub_child_3 {
  width: 70%;
}

.order_menu {
  width: 100%;
  margin-top: 15px;

  float: left;
}

.menu_resp {
  max-height: 210px;
  margin-bottom: 5px;
  overflow: auto;
}

.order_menu thead {
  background: #efefef;
}

.table-responsive.order_menu table {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.order_menu thead th {
  font-size: 14px;
  color: #4c4c4c;
  padding: 12px !important;
  vertical-align: middle;
  text-align: center;
}

.order_menu tbody td {
  font-size: 14px;
  color: #666666;
  padding: 12px !important;
  vertical-align: middle;
  text-align: center;
}

td.cell_mark_g,
td.cell_mark_y,
td.cell_mark_b,
td.cell_mark_p {
  position: relative;
}

td.cell_mark_g::after,
td.cell_mark_y::after,
td.cell_mark_b::after,
td.cell_mark_p::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 4px;
  height: 30px;
}

td.cell_mark_g::after {
  border-left: 4px solid #2ecc71;
}

td.cell_mark_y::after {
  border-left: 4px solid #f1c40f;
}

td.cell_mark_b::after {
  border-left: 4px solid #3498db;
}

td.cell_mark_p::after {
  border-left: 4px solid #9b59b6;
}

.item_details_category,
.custom_dinein_layout {
  width: 100%;
  float: left;
}

.item_details_category .list_payment ul,
.custom_dinein_layout ul {
  border: none !important;
  background: transparent;
}

.item_details_category .list_payment ul li {
  border: none;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 3rem;
  padding-bottom: 8px;
}

.item_details_category .list_payment ul li span {
  color: #444444;
  font-weight: 600;
  float: right;
  margin-right: 13px;
}

.custom_dinein_layout ul li {
  /* width: 225px; */
  width: 100%;
}

.custom_dinein_layout ul li a {
  border-radius: 4px;
  color: #ffffff;
}

.custom_dinein_layout ul li {
  border: none !important;
}

.custom_dinein_layout {
  border-top: 1px solid #dddddd;
  /* margin-top: 60px; */
}

.bill_screen_tab .dine_others ul li {
  padding: 4px;
}

span.counter_val {
  padding: 0px 10px;
}

.order_menu tbody td i {
  color: #aeaeae;
  font-size: 14px;
}

form.form-inline.billable_form > div {
  margin-bottom: 17px;
}

/*2ndtab*/

.no-padding {
  padding: 0;
}

.tab-pane .guest_profile_tab {
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  border-radius: 4px;
  margin-top: 8px;
}

.tab-pane .guest_profile_tab .sub_tab_guest_profile {
  padding: 17px 8px 12px 8px !important;
  float: left;
  width: 100%;
}

.sub_tab_guest_profile h6 {
  color: #444444;
  font-size: 18px;
  font-weight: 600;
}

h6.editable a {
  color: #ff5b2e;
  float: right;
}

form.order_tb > div {
  padding: 0px;
}

form.order_tb input.form-control {
  background: transparent !important;
}

ul.table_selected li {
  border: none !important;
  background: #ffffff;
  box-shadow: none !important;
  width: 100%;
  display: block;
}

ul.table_selected {
  border: none !important;
  background: #ffffff;
}

ul.table_selected ul.dine_lst {
  border: none !important;
  background: none !important;
}

ul.table_selected li > h6 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 15px;
}

/**/

form.order_tb .form-group {
  display: table !important;
  width: 100%;
  margin-bottom: 25px;
}

form.order_tb .form-group label {
  display: table-cell;
  min-width: initial !important;
  width: auto;
  padding-bottom: 0px;
}

form.order_tb .form-group input.form-control {
  display: table-cell;
  width: 100%;
}

.billable_form label {
  font-weight: normal;
}

.side_nav li.accounts_li.active a {
  color: #ff5b2e;
}

.bill_screen_tab ul li:hover {
  cursor: pointer;
}

ul.table_selected .dine_mg > img {
  height: 114px !important;
  min-width: 114px !important;
}

ul.table_selected li p,
ul.table_selected li label {
  font-size: 20px;
  display: inline;
}

.home_others.table_selected ul {
  background: none !important;
  border: none;
  display: flex;
}

.home_others.table_selected ul li {
  border-left: 0;
  width: 140px;
  margin: 0px 8px 20px 8px;
}

.home_others.table_selected ul li a.change_bg_clr {
  color: #ffffff;
  padding: 11px 10px;
}

.dine_others ul li a.change_bg_clr {
  background: #ff5b2e;
  border-radius: 4px;
}

.menu_category_wrap {
  max-width: 100%;
}

@media screen and (max-width: 567px) {
  .bill_screen_tab ul li {
    width: 100%;
    border-bottom: 1px solid #dddddd;
  }
}

@media screen and (max-width: 567px) {
  .tab-pane .guest_profile_tab {
    border: none;
    background: none;
  }
  .order_listWrapper form.label_static .form-inline .form-group.button_group,
  .order_listWrapper form.form-inline .form-group.button_group {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) and (min-width: 568px) {
  .bill_screen_tab .list_payment ul li {
    width: 45%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  ul.table_selected li {
    width: 100% !important;
  }
  form.order_tb .form-group label {
    width: 25%;
    display: inline-block;
  }
  form.order_tb .form-group input.form-control {
    display: inline-block;
    width: 75%;
  }
  form.order_tb .form-group {
    display: inline-block;
    width: 100%;
  }
  form.form-inline.billable_form .input_labels.label_wt label,
  form.form-inline.billable_form .input_labels.label_wt_0 label {
    width: 25%;
  }
  form.form-inline.billable_form input.form-control.sub_child_1,
  form.form-inline.billable_form input.form-control.sub_child_3 {
    width: 75%;
  }
  form.form-inline.billable_form input.form-control.sub_child_2 {
    width: 75%;
  }
}

/*customer_tab_menu_category*/

.customer_tab_menu.menu_category > ul > li {
  width: 128px;
  height: 128px;
  margin: 5px;
}

.customer_tab_menu.menu_category ul li .dine_mg img {
  max-width: 112px;
  height: 73px;
  object-fit: cover;
  overflow: hidden;
}

.customer_tab_menu.menu_category ul li .dine_lst {
  margin-top: 0px;
}

.customer_tab_menu.menu_category ul li .dine_lst li {
  margin-top: 5px;
}

.customer_tab_menu.menu_category ul li .dine_lst li label {
  font-size: 13px !important;
  font-weight: 600;
  color: #545454;
}

.menu_category_tab_wrap {
  margin: 0 auto;
  max-width: 100%;
}

/*fast food menu*/

.food_tab_section {
  width: 100%;
  float: left;
}

.food_tab_section > ul {
  background: #f4f4f4;
  float: left;
  width: 100%;
  border: 0px;
  border-radius: 50px;
  padding: 6px 9px;
  margin-top: 14px;
}

.food_tab_section .side_nav li.accounts_li a {
  padding: 10px 23px;
  font-size: 16px;
  color: #bfbfbf;
  min-width: 120px;
  text-align: center;
  margin-right: 5px;
}

.food_tab_section .side_nav li.accounts_li a:hover {
  background: #f39c12;
  border-radius: 50px;
  color: #ffffff;
}

.food_tab_section .side_nav li.accounts_li.active a {
  background: #f39c12;
  border-radius: 50px;
  border: 0px;
  color: #ffffff;
}

.food_tab_section .dine_transaction {
  padding-top: 14px;
}

.transaction_order_btm {
  width: 100%;
  float: left;
}

.transaction_order_btm ul {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
}

.transaction_order_btm ul li {
  min-width: 130px;
  font-size: 15px;
}

.transaction_order_btm ul li a {
  background: #ff5b2e;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  float: left;
  padding: 10px 8px;
}

.transaction_order_btm ul li a.cancel_btn {
  background: #9e9e9e;
}

.transaction_order_btm ul li a.active {
  background: #3498db;
}

.merge_order ul li {
  max-width: 156px;
  width: 100%;
}

.settle {
  background: #566cce !important;
}

/*fast food menu*/

/*06-01-2020*/

.modal-dialog {
  width: 992px;
  max-width: 100%;
}

/* .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px auto;
} */

.modal-content {
  border-radius: 4px !important;
  padding: 25px 15px;
  /* margin-top: 10%; */
}

.modal-content,
.modal-body {
  width: 100%;
  float: left;
}

.list_quantities {
  width: 90%;
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
}

.modal-body .customer_tab_menu.menu_category.dine_transaction ul li img {
  max-width: 150px;
  height: 150px;
}

.modal-body .customer_tab_menu.menu_category.dine_transaction ul li {
  margin: 0px !important;
  width: 281px;
  height: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body .dine_transaction {
  padding: 0px;
}

.list_quantities h2 {
  width: 100%;
}

.list_quantities ul li {
  display: inline-block;
  width: 30%;
}

.list_quantities ul li label {
  display: block;
  font-size: 18px;
  color: #333333;
  font-weight: normal;
  margin-bottom: 10px;
}

label.btn.btn-filter.checkbox-button:active {
  box-shadow: none !important;
}

.list_quantities ul li span {
  color: #333333;
  font-size: 26px;
}

.counter_count > img {
  height: 31px;
  width: 31px;
}

.counter_count {
  display: flex;
  align-items: center;
}

.checked_label .checked_bg {
  border-right: 1px solid #efefef;
}

.checked_label > div {
  padding-top: 15px;
}

.checked_label {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.checked_label small {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  display: block;
  margin-bottom: 0px;
}

/*check_box*/

.checked_label .checkbox-button {
  cursor: pointer;
  padding-right: 0px;
  padding-left: 0px;
}

.checked_label input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.checked_label .checkbox-button__input {
  opacity: 0;
  position: absolute;
}

.checked_label .checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: #017b5f;
  border: 2px solid #666;
  top: -2px;
}

.checked_label
  .checkbox-button__input:checked
  + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -1px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/checked_rt.png");
  background-size: cover;
}

.checked_label
  .checked_bg_light
  .checkbox-button__input:checked
  + .checkbox-button__control:after {
  background-image: url("../../assets/images/checked.png");
}

.checked_label .checkbox-button__input:checked + .checkbox-button__control {
  border-color: transparent;
}

.checked_label .checkbox-button__control {
  transform: scale(0.75);
}

.checked_label span.checkbox-button__label {
  font-size: 20px;
  color: #444444;
  line-height: 19px;
}

.checked_label
  .checkbox-button__input:checked
  + .checked_label
  .checkbox-button__label {
  color: #424547;
}

.checked_label .single-checkbox {
  padding: 0 20px;
}

.checked_label .single-checkbox label {
  float: none !important;
  margin: 0 !important;
  text-align: left;
  padding-left: 0px;
  white-space: nowrap;
}

.no-padding {
  padding: 0;
}

.checked_label .checked_bg_light {
  padding-left: 30px;
}

.checked_label .single_check_align {
  padding-top: 15px;
}

/* /Checkbox*/

.button_group {
  float: right;
}

.button_group > .btn {
  width: 150px;
  height: 50px;
  box-shadow: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

button.btn.btn-cancel {
  background: #9e9e9e;
}

button.btn.btn-create {
  background: #566cce;
}

.modal-body button.btn.btn-create {
  margin-left: 15px;
}

/*Order_List*/

.pl1 {
  padding-left: 1px;
}

.pr1 {
  padding-right: 1px;
}

.bg_white {
  background: #ffffff;
}

.order_listWrapper .container_form {
  width: 640px;
  max-width: 100%;
  height: 40px;
  margin: auto;
}

.order_listWrapper ul.nav.nav-tabs.side_nav {
  background: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order_listWrapper .tab-pane {
  margin: 10px;
}

.order_listWrapper .food_tab_section .side_nav li.accounts_li.active a {
  background: #f39c12;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
}

.order_listWrapper .food_tab_section .side_nav li.accounts_li a:hover {
  background: #f39c12;
  border-radius: 4px;
  color: #ffffff;
}

.order_listWrapper .food_tab_section .side_nav li.accounts_li a {
  width: 200px;
  border: 1px solid #f39c12;
  color: #f39c12;
  border-radius: 4px;
  font-size: 20px;
}

.sub_container_form {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  width: 100%;
  float: left;
  padding: 20px 20px 30px 20px;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 25px;
}

.wt_100 {
  width: 100%;
  display: block;
}

.header_sub_container .form-group input[type="text"],
.header_sub_container .form-group select {
  width: 260px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #d4d4d4;
  box-shadow: none;
}

.header_sub_container .form-inline .form-group {
  width: 100%;
}

.header_sub_container .form-inline .form-group label {
  font-size: 18px;
  margin-right: 15px;
}

button.btn.btn-create_success {
  background: #ff5b2e;
  border: 1px solid #ff5b2e;
  margin-left: 15px;
}

.header_sub_container .form-group input[type="text"]:focus {
  outline: none;
}

.header_sub_container .form-group.button_group {
  margin-top: 30px;
}

.header_sub_container button {
  font-weight: 500 !important;
}

.label_static label {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/images/Vector.png") no-repeat #ffffff 95% !important;
}

.header_sub_container button.btn.btn-create_success.pull-right {
  margin-right: 40px;
}

.receipt_tb table.recipt th:nth-child(2),
.receipt_tb table.recipt td:nth-child(2) {
  text-align: right;
}

.receipt_tb table.recipt th:first-child,
.receipt_tb table.recipt td:first-child {
  text-align: left;
}

.receipt_tb table th,
.receipt_tb table td {
  font-size: 18px;
  border-bottom: 0 !important;
}

.toal_amt {
  color: #ff5b2e !important;
  font-size: 22px !important;
  font-weight: bold;
}

/* .position_total {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.table.ht_70 {
    height: 270px;
}

.radius_alt {
    position: relative;
} */

td.td_footer {
  background: #efefef;
  padding: 8px;
}

td.b_lt {
  border-top-left-radius: 4px;
}

tr.visible_hidden {
  height: 112px;
}

table.table.ht_70 tr:last-child td {
  border-top: 0;
  padding: 10px 10px 4px 10px !important;
}

.radius_alt table td small {
  display: block;
  color: #888888;
}

.order_listWrapper .bill_screen_wrap {
  padding-top: 0px;
}

td.bill_amt {
  color: #333333;
  font-weight: bold;
}

table.table.recipt {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .header_sub_container .form-group input[type="text"],
  .header_sub_container .form-group select {
    width: 100%;
  }
  .radios_header .radio > label {
    padding-left: 0px;
  }
  button.btn.btn-create_success {
    margin-left: 0px;
    margin-top: 15px;
  }
  .receipt_tb {
    border: none;
  }
  .order_listWrapper ul.nav.nav-tabs.side_nav li {
    margin-bottom: 10px;
  }
  .order_listWrapper ul.nav.nav-tabs.side_nav {
    justify-content: flex-start;
    padding: 10px;
  }
  .modal-dialog {
    margin: 0px;
  }
  .checked_label .checked_bg {
    border-right: 0;
    border-bottom: 1px solid #dddddd;
  }
  .checked_label .checked_bg_light {
    padding-left: 0;
  }
}

@media screen and (max-width: 567px) {
  .order_listWrapper ul.nav.nav-tabs.side_nav li {
    width: 100%;
  }
  .order_listWrapper ul.nav.nav-tabs.side_nav li a {
    width: 250px;
    margin: auto;
  }
  .button_group {
    width: 100%;
    display: flex;
  }
  .list_quantities {
    width: 100%;
  }
  .list_quantities ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  .counter_count {
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .modal-body .customer_tab_menu.menu_category.dine_transaction ul li {
    margin: 0px auto !important;
  }
  modal-container {
    margin: 15px;
  }
}

/*KOT*/

.select_bgClr select {
  background: #fff url("/assets/images/arrow_select.png") no-repeat 92% !important;
}

.auto_select select {
  width: 250px;
  height: 50px;
}

.kot_table-details {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
  width: 81%;
  max-width: 100%;
}

h2.behind_linetxt {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #454545;
  position: relative;
  z-index: 1;
}

h2.behind_linetxt:before {
  border-top: 1px solid #878787;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

h2.behind_linetxt span {
  background: #fff;
  padding: 0 15px;
}

.constant_header h2 {
  margin-top: 8px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.receipt_orderdetails {
  width: 100%;
  float: left;
  margin-top: 30px;
}

/*10-01-2020*/

.content_shownText {
  background: #ededed;
  border-radius: 8px;
  width: 385px;
  max-width: 100%;
  padding: 15px;
  float: left;
}

label.text_normal {
  color: #454545;
  font-size: 16px;
  font-weight: 500;
}

.content_shownText h6 {
  font-size: 18px;
  color: #454545;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dine_others ul li a.assist_water {
  background: #ff5b2e;
}

.buttons_orders .home_others.dine_others ul li {
  padding: 0;
  margin-bottom: 15px;
  width: 210px;
}

.buttons_orders .dine_others ul {
  padding-top: 0;
}

.buttons_orders .home_others ul li a span {
  width: 50px;
}

.buttons_orders .home_others ul li a {
  align-items: center;
  padding: 13px 15px;
  font-size: 18px;
  justify-content: flex-start;
}

.buttons_orders .kot_operations .dine_others ul li {
  width: 230px;
}

.buttons_orders .kot_operations .dine_others ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_kot_details {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dine_table_lst:focus {
  outline: 0;
}

.buttons_orders .home_others ul li a:focus {
  background: #566cce;
  text-decoration: none;
}

.header_kot_details .home_others {
  float: left;
}

.kot_operations {
  margin-top: 50px;
  width: 100%;
  float: left;
}

.hd_dinein ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 991px) {
  .buttons_orders .kot_operations .dine_others ul,
  .buttons_orders .dine_others ul {
    justify-content: center !important;
  }
  .buttons_orders .kot_operations .dine_others ul li,
  .buttons_orders .dine_others ul li {
    margin: 10px !important;
  }
  /*13*/
  .dinein_tophead.merge-receipts h2 {
    width: 100% !important;
    text-align: left;
  }
  .dinein_tophead.merge-receipts .dinein_tophead_right {
    width: 100% !important;
    justify-content: start !important;
  }
}

@media screen and (min-width: 768px) {
  .constant_header.h2_align h2 {
    width: 210px;
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .buttons_orders .home_others ul li a {
    font-size: 16px;
  }
  .constant_header {
    width: 100%;
    float: left;
  }
  .buttons_orders .dine_others ul {
    align-items: flex-start;
  }
  .buttons_orders .dine_others ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .constant_header {
    width: 50%;
  }
  .kot_operations_header {
    width: 100%;
  }
  .constant_header.kot_operations_header h2 {
    text-align: center;
  }
  .button_group {
    width: 100%;
    text-align: center;
  }
}

.home_others .modal-body {
  background: blue;
}

.btn_radius ul li {
  width: 300px !important;
  border-radius: 50px;
}

.btn_radius ul {
  text-align: center;
  margin-top: 40px;
}

.btn_radius ul li a {
  border-radius: 50px !important;
}

.modal-dialog.customClass_receipt {
  max-width: 100%;
  width: 400px;
  margin-top: 12%;
}

.modal-dialog.customClass_receipt .modal-body {
  padding: 40px 0px;
}

h2.backclick {
  cursor: pointer;
}

.finish_btn {
  max-width: 100%;
}

.tab-pane .guest_profile_tab {
  width: 100%;
  float: left;
}

.transaction_order_btm ul li {
  margin-bottom: 10px;
}

.bill_screen_tab .nav > li > a:focus,
.bill_screen_tab .nav-tabs > li > a:hover,
.bill_screen_tab .nav > li > a:hover {
  text-decoration: none;
  background-color: unset;
  border-color: transparent;
}

@media screen and (max-width: 1080px) {
  .food_tab_section > ul {
    padding: 25px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 567px) {
  .food_tab_section > ul {
    flex-direction: column;
  }
  /*13-01-2020*/
  .dinein_tophead.merge-receipts .dinein_tophead_right {
    flex-direction: column-reverse;
  }
  .filter_receipt > * {
    width: 100% !important;
  }
  .merge-receipts .search_icon {
    width: 100%;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .bill_screen_wrap ul.nav.nav-tabs.side_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bill_screen_wrap ul.nav.nav-tabs.side_nav li {
    border: none;
  }
}

/*13-01-2020*/

.dinein_tophead.merge-receipts h2 {
  width: 15%;
}

.dinein_tophead.merge-receipts .dinein_tophead_right {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

.dinein_tophead.merge-receipts .dinein_tophead_right .filter_receipt {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.filter_receipt .btn > img {
  margin-right: 10px;
}

.filter_receipt .btn {
  background: #ffffff;
  border-radius: 50px;
  padding: 0px 19px;
  font-size: 16px;
  color: #555555;
  height: 50px;
  margin: 0px 7px;
  border: 1px solid #dcdcdc;
}

.filter_receipt my-date-picker {
  background: #ffffff;
  border-radius: 50px;
  padding: 0px 19px;
  font-size: 16px;
  color: #555555;
  margin: 0px 7px;
  border: 1px solid #dcdcdc;
  height: auto;
  width: 180px;
}

.filter_receipt my-date-picker .mydp {
  border: 0 !important;
}

.filter_receipt .btn:focus {
  outline: 0;
  box-shadow: none;
  background: #f1f1f1;
}

.filter_receipt my-date-picker input.selection {
  height: 47px !important;
  font-size: 16px !important;
  background: url("../../assets/images/calendar.png") 95% #ffffff no-repeat;
}

.filter_receipt .selbtngroup {
  top: 7px;
  opacity: 0;
}

.merged_custom ul li a {
  justify-content: center !important;
}

.merged_custom ul li {
  width: 150px !important;
  text-align: center;
}

.modal-dialog.list_receipt {
  width: 600px;
}

span.highlight {
  font-size: 22px;
  color: #ff5b2e !important;
}

/*14-01-2020*/

/*split-bill*/

.split_bills .order_menu table th,
.split_bills .order_menu table td {
  font-size: 18px;
}

.headersplit_select_option {
  width: 100%;
  float: left;
}

.dine_in_lft.headersplit {
  width: 640px;
  margin: auto;
  max-width: 100%;
}

.split_select_option {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  /* width: 640px; */
  padding: 20px;
  margin: auto;
}

label.label_common {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

.split_bills input.form-control {
  border: 1px solid #d4d4d4;
  height: 50px;
  box-shadow: none;
}

.split_bills .form-inline input.form-control {
  width: 260px !important;
}

.split_bills .form-inline label.label_light {
  margin-right: 15px;
}

.split_bills .form-inline {
  width: 100%;
  float: left;
  text-align: center;
}

label.label_light {
  font-size: 18px;
  color: #666666;
  font-weight: 500;
}

.split_bills span.counter_val {
  width: 68px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #a89f9d;
  border-radius: 4px;
  font-size: 20px;
  color: #2d2d2d;
  margin: 0px 15px;
}

.split_bills .counter_count > img {
  height: 50px;
  width: 50px;
}

.split_select_option .counter_count {
  margin: 5px 0px 25px 0px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e2e2e2;
}

.button_group.mt_40 {
  margin-top: 40px;
}

.split_bills .list_payment ul li {
  line-height: 4rem;
}

.modal-dialog.customClass_500 {
  max-width: 100%;
  width: 500px;
  margin-top: 12%;
}

.modal-dialog.customClass_500 .modal-content {
  padding: 31px 25px;
}

.split_btn_wrapper button.btn {
  background: #ff5b2e;
  width: 150px;
  height: 50px;
  box-shadow: none !important;
  border: none;
  color: #ffffff !important;
  font-size: 20px;
}

.split_btn_wrapper {
  margin-top: 20px;
}

.split_btn_wrapper input.form-control {
  margin-bottom: 20px;
}

input.form-control {
  font-size: 20px;
}

.btn-center {
  text-align: center;
}

.btn-center .btn {
  margin: 0px 7px;
}

button.btn.btn-cancel {
  background: #cdcdcd;
}

button.btn.btn-okay {
  background: #566cce;
}

.split_btn_wrapper .btn-center {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .split_bills .form-inline input.form-control {
    width: 215px !important;
    display: inline-block;
  }
  .modal-dialog.customClass_500 .modal-content {
    padding: 31px 15px;
  }
  .button_group {
    width: 100%;
    text-align: center;
  }
  .split_btn_wrapper button.btn {
    margin-bottom: 10px;
  }
  .button_group > .btn {
    margin: auto;
  }
  .split_btn_wrapper input.form-control {
    margin-bottom: 10px;
  }
  .mob_pad {
    padding: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 992px) {
  .split_bills .form-inline input.form-control {
    width: 224px !important;
  }
  .item_details_category .list_payment ul li {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .split_bills .list_payment ul li {
    width: 100%;
  }
}

.cancel_bg {
  background: #9e9e9e !important;
}

/*newtrip*/

.trip_status {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 30px;
}

.trip_title {
  font-size: 18px;
  text-align: center;
  padding: 16px 14px;
  color: #4c4c4c;
  background: #efefef;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.trip_list {
  padding: 16px;
}

.trip_list ul li {
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 4px;
}

.trip_list ul li:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.selected_group {
  margin-top: 26px;
}

.selected_group label {
  font-size: 18px;
  color: #4c4c4c;
}

.selected_group {
  margin-top: 33px;
}

.selected_group select {
  height: 50px;
  font-size: 18px;
  color: #4c4c4c;
  width: 100%;
}

.newtrip_list table thead th label.btn.btn-filter {
  padding: 0px;
}

.customer_list table thead th label.btn.btn-filter {
  padding: 0px 12px;
}

.newtrip_list .customer_list table thead th,
.newtrip_list .customer_list table tbody td {
  padding: 14px 5px;
}

.trip_add {
  width: 130px;
  max-width: 100%;
}

.transaction_order_btm.flex-end-cs ul {
  justify-content: flex-end !important;
}

/*newtrip*/

/*20-01-2020*/

/*split_receipt*/

.fluid_spit {
  display: inline;
  padding: 0px;
}

.fluid_spit .split_wrapper {
  width: 49.5%;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 30px;
  min-height: 634px;
}

.align_lt {
  float: left;
}

.align_rt {
  float: right;
}

.sort_imgs img {
  border: 1px solid #ff5b2e;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  cursor: pointer;
  margin: 0px 10px;
}

.sort_imgs input.form-control {
  height: 45px;
}

.fluid_spit .bill_screen_wrap {
  padding-top: 0px;
}

.fluid_spit .form-inline {
  margin-bottom: 15px;
}

.visible_hide {
  visibility: hidden;
}

.fluid_spit .bill_screen_tab {
  width: 460px;
  max-width: 100%;
  margin: auto;
}

.btn_180 {
  width: 180px !important;
}

button.bg_orange {
  background: #ff5b2e !important;
}

.button_group.text_center {
  float: none;
  text-align: center;
}

.text_center .btn_180 {
  margin-top: 30px;
}

.wrpper_btn_grp {
  width: 100%;
}

.button_group.mt_40 button {
  float: right;
  margin-right: 9%;
}

/*Order_Transfer*/

.transferrable_tabs .bill_screen_tab {
  width: 900px;
  max-width: 100%;
  margin: 0px auto;
}

.transferrable_tabs ul {
  border-radius: 4px;
  margin-bottom: 30px;
}

.transferrable_tabs ul li.active a {
  font-weight: bold;
}

.switch_buttons {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.switch_buttons button {
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}

button.bg_grey {
  background: #cdcdcd !important;
}

.d-inline {
  display: flex;
  justify-content: space-between;
}

.transferrable_tabs .checked_marks {
  width: 438px;
  max-width: 100%;
}

.align_lt table th,
.align_lt table td {
  text-align: left;
}

table.checked_label th,
table.checked_label td {
  font-size: 18px !important;
}

.checked_marks .order_menu {
  margin-top: 0px;
}

label.label_grey {
  font-size: 18px;
  color: #777777;
  display: block;
}

select.selectable_show {
  width: 403px;
  max-width: 100%;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  height: 50px;
  padding: 0px 20px;
  background: url("/assets/images/sort-down.png") no-repeat #efefef 95% !important;
  border-radius: 4px;
  font-size: 18px;
  color: #4c4c4c;
  font-weight: 600;
}

select.selectable_show:focus {
  outline: 0;
}

.checked_marks .kot_adder {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  float: left;
  min-height: 307px;
}

h2.text_left {
  background: #efefef;
  border: 1px solid #e1e1e1;
  padding: 10px 20px;
  text-align: left;
}

p.para_txt {
  font-size: 18px;
  color: #444444;
  margin-bottom: 0px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
}

.showHideSection {
  width: 100%;
  float: left;
  padding: 0px 20px 20px 20px;
}

.wt_900_flex {
  display: flex;
  justify-content: space-between;
}

.wt_900_flex .wt_400 {
  width: 400px;
  max-width: 100%;
  display: inline-block;
}

.wt_900_flex .wt_50 {
  width: 50px;
  display: inline-block;
}

.select_wt_align {
  display: flex;
  justify-content: space-between;
}

.select_wt_align select.selectable_show {
  width: 190px;
}

.sort_swap img {
  background: #ffffff;
  border: 1px solid #ff5b2e;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.sort_swap {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.transferrable_tabs table th,
.transferrable_tabs table td {
  text-align: left;
}

/*21-01-2020*/

/*NO-CHARGE*/

.nocharges_tab .bill_screen_tab ul.nav-tabs {
  width: 602px;
  max-width: 100%;
  border-radius: 4px;
}

.nocharges_tab .bill_screen_tab ul.nav-tabs li {
  width: 300px;
}

.bill_screen_tab ul li.active a {
  font-weight: bold;
}

.nocharges_tab {
  padding: 40px 20px 20px 20px;
}

table.checked_label label.btn {
  padding: 0px;
}

.nocharges_tab .customer_list table tbody td,
.nocharges_tab .customer_list table tbody th {
  padding: 15px;
}

.nocharges_tab .customer_dine {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px 15px;
  margin-bottom: 0;
}

.customer_list {
  width: 100%;
  float: left;
}

.nocharges_tab .search_icon {
  width: 400px;
  max-width: 100%;
}

/* .nocharges_tab .switch_buttons {
    margin-top: 80px;
} */

.customer_list table tbody td {
  /* border-bottom: 1px solid #ddd; */
}

.btn_full_wt button.btn.btn-create.btn_180 {
  width: 300px !important;
  max-width: 100%;
}

button:focus {
  outline: 0 !important;
}

.nocharges_tab .dinein_tophead {
  margin-bottom: 20px;
}

.bg_orange.btn-radius {
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  margin-left: 20px;
}

.guest_charges {
  padding: 20px;
}

.guest_charges .dine_in_lft {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  float: left;
  padding: 30px;
}

.guest_charges .form-group {
  margin-bottom: 10px;
}

.guest_charges .split_btn_wrapper .btn {
  margin-left: 15px;
}

/*22*/

.filter_receipt my-date-picker {
  height: 50px;
}

.radius_alt table {
  background: #ffffff;
}

.gurest_histories .customer_dine,
.gurest_histories .order_menu {
  margin-top: 0px;
}

.gurest_histories .dinein_tophead.merge-receipts {
  margin-bottom: 12px;
}

.gurest_histories tr.visible_hidden {
  height: 230px;
}

.gurest_histories .customer_list table tbody td {
  border-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.customer_list table tbody td span {
  font-weight: 300;
  margin-top: 3px;
}

tr.highlight td,
tr.highlight td span {
  color: #ffffff !important;
}

tr.highlight {
  background: #ff5b2e;
}

/*23-01-2020*/

.form-group.dining_bg select {
  background: url("/assets/images/dining_bg.png") 95% no-repeat #ffffff !important;
}

.form-control.time-pick {
  background: url("/assets/images/time_pick.png") 88% no-repeat #ffffff !important;
}

.call-guest-list ul.nav.nav-tabs.side_nav {
  width: 300px;
}

.nocharges_tab .bill_screen_tab ul.nav-tabs li:hover a {
  border: initial;
}

.call-guest-list li.accounts_li.firstItem {
  display: none;
}

.call-guest-list .btn_full_wt button.bg_orange {
  background: #f39c12 !important;
}

.guest-menu-screens .bill_screen_tab ul.nav.nav-tabs.side_nav li {
  width: 50%;
}

.guest-menu-screens .transaction_order_btm ul {
  justify-content: flex-start;
}

.transaction_order_btm ul li.kitch {
  min-width: 163px;
}

.guest-menu-screens .transaction_order_btm ul li a {
  padding: 14px 8px;
}

.guest-menu-screens .din_in_cs {
  background: #e5e5e5;
  float: left;
}

.guest-menu-screens .din_in_cs .dine_in_lft {
  width: 100%;
  float: left;
  background: #ffffff;
  margin-bottom: 20px;
}

.guest-menu-screens .din_in_cs {
  background: #e5e5e5;
  float: left;
  padding: 0px 0px 0px 10px;
}

.form_selectionOrder .menu_category_tab_wrap {
  width: 100%;
  float: left;
}

.form_selectionOrder .form_order_select {
  width: 100%;
  float: left;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: auto;
  padding: 40px;
}

.form_selectionOrder .menu_category_tab_wrap .sub_selectionOrder {
  width: 400px;
  margin: auto;
  max-width: 100%;
}

.section_copied .dine_in_lft {
  height: 100vh;
}

.header6_common {
  font-size: 18px;
  color: #555555;
  font-weight: 500;
}

.btn_120 {
  width: 120px !important;
}

.guest-menu-screens .split_btn_wrapper .btn {
  margin: 0px 5px 10px 5px;
}

.section_copied .dinein_tophead h2 {
  margin-top: 21px;
  margin-bottom: 20px;
}

/*sales-report*/

.sales_wrapper_aside {
  width: 100%;
  margin: auto;
  max-width: 100%;
}

/*24-01-2020*/

h2.pre_header {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  margin-top: 0;
}

.sales_box {
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  float: left;
}

.tabs_headerList {
  margin-top: 34px;
  width: 25%;
  max-width: 100%;
  height: fit-content;
}

.sales_flex {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}

.tabs_headerList ul li {
  width: 100%;
  font-size: 16px;
  position: relative;
}

.tabs_headerList {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.tabs_headerList .nav-tabs > li > a,
.tabs_headerList .nav-tabs > li.active > a,
.tabs_headerList .nav-tabs > li.active > a:focus,
.tabs_headerList .nav-tabs > li.active > a:hover {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tabs_headerList .side_nav li.accounts_li.active a {
  color: #ffffff;
  background: #ff5b2e;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  font-weight: bold;
}

.tabs_headerList .side_nav li a {
  color: #555555;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

li.btn_okay a {
  background: #566cce !important;
}

.tabs_headerList .side_nav li.accounts_li.active:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translate(-6%, -14px);
  height: -webkit-fill-available;
  clear: both;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 24px 14px 0;
  border-color: transparent #ff5b2e transparent transparent;
}

.sales_flex .transaction_order_btm ul {
  justify-content: center;
}

.sales_flex .transaction_order_btm ul li {
  width: 120px;
}

.reportable_sales .customer_info_frm .form-group {
  margin: 8px 0px 20px 0px;
}

.reportable_sales .customer_info_frm .form-group label {
  margin-bottom: 0px;
}

/*27-01-2020*/

.form-group.radio_groups ul li label {
  margin-bottom: 2rem !important;
}

.reportable_sales .checked_label span.checkbox-button__label {
  font-size: 16px;
  color: #444444;
  line-height: 19px;
}

.checked_label .checkbox-button__input:checked ~ span.checkbox-button__label {
  color: #444444;
  font-weight: 600;
}

.list_block_check .checked_label > div {
  padding-top: 0px;
  margin-bottom: 1rem;
}

input[type="radio"]:checked + label {
  color: #444444 !important;
  font-weight: 600;
}

.pt_0 .checked_label > div {
  padding-top: 0;
}

.mt_20 {
  margin-top: 20px;
}

.dateTimepick {
  background: url("/assets/images/calendar-grey.png") #fff 95% no-repeat !important;
}

.sales_box .counter_count > img {
  margin: 0px 8px;
}

.tabs_headerList::-webkit-scrollbar {
  width: 1px;
}

.tabs_headerList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(255, 91, 46);
  border-radius: 10px;
}

.tabs_headerList::-webkit-scrollbar-thumb {
  background-color: #ff5b2e;
  outline: 1px solid #ff5b2e;
  border-radius: 10px;
}

.sales_flex .tabs_headerList ul li:hover {
  cursor: pointer;
}

/*Ramkumar*/

.takeawaymenu .bill_screen_tab ul.nav.nav-tabs.side_nav li {
  width: 50%;
}

.takeawaymenu .tab-content .transaction_order_btm ul {
  justify-content: flex-start;
}

.takeawaymenu .tab-content .transaction_order_btm ul li {
  width: 130px;
}

.takeawaymenu .custom_dinein_layout ul li a {
  padding: 22px 29px;
}

.takeawaymenu .custom_dinein_layout ul li {
  width: 100%;
}

/*End_Ramkumar*/

/*28*/

.delivered_guest .customer_dine {
  box-shadow: none;
}

.delivered_guest textarea.form-control {
  border: 1px solid #d4d4d4;
  height: 150px !important;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
}

.delivered_guest .customer_dine {
  margin-top: 0px;
  padding: 0px;
}

.btn_100 {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
}

button.bg_orange:focus,
button.bg_orange:hover {
  color: #ffffff;
}

.btn_100.btn_transparent {
  border: 1px solid #e74c3c;
  background: transparent !important;
  color: #e74c3c;
}

my-date-picker input.selection {
  font-size: 18px !important;
}

.button_areas .btn {
  margin-bottom: 4px !important;
}

.include_cellcenter ul.nav.nav-tabs.side_nav {
  width: auto;
}

.customer_info_frm .form-group textarea.form-control {
  height: 150px;
  resize: none;
}

.customer_info_frm .form-group textarea.ht_120 {
  height: 120px;
}

.dayclose_screen .bill_screen_tab ul.nav.nav-tabs.side_nav li {
  width: 100%;
}

.dayclose_screen .sub_tab_guest_profile {
  background: #ffffff;
  /* border: 1px solid #E1E1E1; */
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.align_listWidth ul li label {
  width: 40%;
  display: inline;
  font-weight: normal;
}

.item_details_category.align_listWidth ul li span {
  width: 60%;
  display: inline;
  margin-right: 0;
}

p.divider_Point {
  font-size: 18px;
  color: #666666;
}

.align_listWidth ul li span small {
  font-size: 16px;
  color: #888888;
  font-weight: normal;
  float: right;
}

.item_details_category .list_payment ul li span.float_right {
  text-align: right;
}

.table_containerUi {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  width: 720px;
  max-width: 100%;
  margin: auto;
}

.dayclose_screen .menu_category_tab_wrap {
  padding: 20px 0;
}

.table_containerUi table th,
.table_containerUi table td {
  text-align: center !important;
  border: 1px solid #a89f9d !important;
  padding: 13px 0px !important;
}

.table_containerUi table td {
  font-size: 16px;
  color: #333333;
}

.table_containerUi table th {
  font-size: 20px;
  color: #666666;
  font-weight: normal;
}

div#text_center ul {
  justify-content: center;
}

.table_containerUi #fields {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 0 !important;
  padding: 0px;
}

.print_src .align_print {
  background: #ff5b2e;
  padding: 13px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.print_src .align_dollar {
  background: #ffffff;
  padding: 13px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ff5b2e;
}

.print_srcFlex {
  display: flex;
  justify-content: space-around;
}

.print_src img:nth-child(2) {
  background: #ffffff;
  border: 1px solid #fe5b2e;
}

.table_containerUi .table label.label_common {
  width: 100%;
  text-align: left;
}

.rowio {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.table_containerUi #fields .grid input {
  width: 100%;
  border: none !important;
  background: #ffffff;
  text-align: left;
  box-shadow: none;
}

/*29*/

.wrapper_waiter {
  width: 1070px;
  max-width: 100%;
  margin: auto;
}

.sub_wrapperWaiter {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  float: left;
  padding: 20px;
  min-height: 400px;
}

.header_SubWapper {
  display: inline-block;
  width: 527px;
  max-width: 100%;
}

.flex_wapperWaier {
  display: inline;
}

.float_right {
  float: right;
}

.dine_in_wrap.waiter_manage {
  padding: 20px;
}

.waiter_manage .input_labels.label_wt label {
  width: 35%;
  font-weight: 600;
}

.waiter_manage input.form-control.sub_child_1 {
  width: 65%;
}

.header_SubWapper form.form-inline.billable_form {
  margin-top: 0px;
}

.header_SubWapper > h2.pre_header {
  font-size: 18px;
  padding: 8px 0px;
}

.waiter_manage .customer_list table thead th,
.waiter_manage .customer_list table thead td {
  padding: 12px !important;
}

.waiter_manage .customer_list table tbody td {
  padding: 7px 12px !important;
}

button.btn.btn-create.btn_orange.btn_180 {
  background: #ff5b2e;
}

/*07-02-2020*/

.dine_in_wrap.msgScreen .tabs_headerList {
  margin-top: 0;
  min-height: 556px;
  width: 100%;
}

.dine_in_wrap.msgScreen .sales_flex {
  flex-direction: row-reverse;
}

.dine_in_wrap.msgScreen
  .tabs_headerList
  .side_nav
  li.accounts_li.active:before {
  left: unset;
  right: -17px;
  border-width: 12px 0px 14px 20px;
  border-color: #bb141400 #ffffff transparent #ff5b2e;
}

.msgScreen .sub_wrapperWaiter {
  box-shadow: none;
  padding: 0px;
}

/*11-02-2020*/

.miscellaneous_wrap .selectUi_filter select {
  width: 210px;
  color: #ffffff;
  background: url("/assets/images/vector_white.png") no-repeat #ff5b2e 95% !important;
}

.miscellaneous_wrap .merge-receipts h2 {
  width: 25%;
}

.miscellaneous_wrap .dinein_tophead.merge-receipts .dinein_tophead_right {
  width: 75%;
}

.transaction_order_btm ul li a.bg_add {
  background: #e74c3c;
}

.miscellaneous_wrap .selector.selectorarrow.selectorarrowleft {
  right: 0px;
}

.miscellaneous_wrap .mydp .selectorarrowleft:after,
.miscellaneous_wrap .mydp .selectorarrowleft:before {
  right: 24px;
  left: unset;
}

.miscellCreate .table-bordered > tbody > tr > td,
.miscellCreate .table-bordered > tbody > tr > th,
.miscellCreate .table-bordered > thead > tr > td,
.miscellCreate .table-bordered > thead > tr > th {
  border: 1px solid #a89f9d !important;
  font-size: 16px;
  padding: 13px 10px;
}

.miscellCreate .tableChargelist {
  margin-top: 50px;
}

.miscellCreate table th {
  color: #666666;
  font-weight: 500;
}

.miscellCreate table td {
  color: #333333;
  font-weight: 600;
}

.form-inline input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 50px;
  width: 300px;
  max-width: 100%;
}

.form-inline label {
  font-size: 18px;
  color: #555555;
  font-weight: normal;
  width: 20%;
}

.form-inline input:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #cccccc;
}

.inlineAmount .form-inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.inlineAmount {
  margin-top: 40px;
}

/*12-02-2020*/

.miscellCreate .transaction_order_btm ul {
  justify-content: flex-end;
}

.miscellCreate .transaction_order_btm ul li a {
  width: 100%;
  padding: 14px 8px;
}

.transaction_order_btm ul li {
  min-width: 120px;
  margin-left: 10px;
}

.miscellCreate .button_group {
  text-align: center;
}

.miscellCreate .din_in_cs {
  background: #e5e5e5;
}

.miscellaneous_wrap .selectUi_filter select:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #ff5b2e;
}

/*KDS*/

.table_desc .form-inline input {
  width: 45%;
  background: none;
  border: none;
  box-shadow: none;
  /* border-bottom: 1px solid #888888; */
  border-radius: 0;
  padding: 0px;
  height: 30px;
  font-size: 16px;
}

.table_desc .form-inline label {
  font-size: 16px;
  width: 55%;
  font-weight: 600;
  color: #4c4c4c;
}

.tableWtkds .form-inline {
  display: flex;
  align-items: flex-end;
  padding: 6px;
}

input.disabledio {
  border: none !important;
}

.table_desc {
  width: 100%;
  float: left;
}

.kds-c1 {
  background: #ffeae3;
}

.br-b {
  border-bottom: 1px solid #d6d6d6;
}

.br-rb {
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.br-r {
  border-right: 1px solid #d6d6d6;
}

.listOrderCategory {
  width: 100%;
  float: left;
  padding: 6px;
  background: #ffffff;
}

.tableWtkds.bg_lite01 .uiListTable {
  background: #ffeae3;
}

.uiListTable {
  border-radius: 4px;
  height: auto;
}

.listOrderCategory ul li,
.bodyListContent ul li {
  display: block;
  width: 100%;
}

.headerListContent ul li > *,
.bodyListContent ul li > * {
  display: block;
  float: left;
  padding: 0;
}

.headerListContent {
  padding: 4px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bg_lite01 .headerListContent {
  background: #ffd9cd;
}

.bodyListContent {
  padding: 10px;
}

.headerListContent ul li > * {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 600;
}

li.bold-lt > * {
  font-size: 14px;
  font-weight: 600;
}

a.cancel_kot img {
  width: 25px;
  display: inline;
}
a.complete_kot img {
  width: 25px;
  display: inline-block;
  margin-left: 10px;
}

a.hold_kot img {
  width: 25px;
  display: inline-block;
  margin-left: 10px;
}

li.pad_mv > label {
  padding-left: 20px;
}

li.pad_mv > * {
  font-size: 14px;
  font-weight: 400;
}

.listOrderCategory ul li {
  line-height: 2;
}

.kds-table-wrap {
  width: 100%;
  float: left;
  margin-top: 20px;
  /* overflow: hidden;
    height: 550px; */
}

/* .kds-c2 {
    background: #FDF0FF;
}

.bg_lite02 .uiListTable {
    background: #FDF0FF;
}

.kds-c3 {
    background: #E6FFF1;
}

.bg_lite03 .uiListTable {
    background: #E6FFF1;
}

.kds-c4 {
    background: #E2FFFE;
}

.bg_lite04 .uiListTable {
    background: #E2FFFE;
}

.bg_lite02 .headerListContent {
    background: #F9D0FF;
}

.bg_lite03 .headerListContent {
    background: #FFF7E5;
    
} */

.bg_lite022 .headerListContent {
  background: #fff7e5;
}

.kds-c22 {
  background: #fff7e5;
}

.bg_lite022 .uiListTable {
  background: #fff7e5;
}

.bg_lite055 .headerListContent {
  background: #91fffd;
}

.kds-c55 {
  background: #91fffd;
}

.bg_lite055 .uiListTable {
  background: #91fffd;
}

.bg_lite033 .headerListContent {
  background: #ff9a9a;
}

.kds-c33 {
  background: #ff9a9a;
}

.bg_lite033 .uiListTable {
  background: #ff9a9a;
}

.bg_lite011 .headerListContent,
.bg_lite011 .bodyListContent {
  background: #fff7e5;
}

.kds-c11 {
  background: #fff7e5;
}

.bg_lite011 .uiListTable {
  background: #fff7e5;
}

.kds-c44 {
  background: #b5ffd5;
}

.bg_lite044 .uiListTable {
  background: #b5ffd5;
}

.bg_lite044 .headerListContent {
  background: #b5ffd5;
}

.tableWtkds {
  width: 100%;
  float: left;
}

.tableWtkds.mt-40 {
  margin-top: 25px;
}

.bg_lite02 .uiListTable,
.bg_lite022 .uiListTable {
  /* height: auto; */
  overflow: auto;
}

.bg_lite03 .uiListTable,
.bg_lite033 .uiListTable {
  overflow: auto;
  /* height: 460px; */
}

.bg_lite04 .uiListTable,
.bg_lite044 .uiListTable {
  /* height: 190px; */
  overflow: auto;
}

.bg_lite05 .uiListTable,
.bg_lite055 .uiListTable {
  /* height: 190px; */
  overflow: auto;
}

.uiListTable::-webkit-scrollbar {
  width: 4px;
}

.uiListTable::-webkit-scrollbar-track {
  background: #ddd;
}

.uiListTable::-webkit-scrollbar-thumb {
  background: #ccc;
}

.kdsHeader .split_btn_wrapper .btn {
  margin-left: 10px;
}

.kdsHeader button.btn.btn-cancel {
  background: #9e9e9e;
}

.kdsHeader .split_btn_wrapper {
  margin-top: 20px;
}

/*13-02-2020*/

div#one .radios_header .radio label input {
  width: auto;
}

.guest-menu-screens .transaction_order_btm ul li a {
  width: 100%;
}

.input_labels.label_wt_0 label {
  width: 35%;
}

.input_labels.label_wt label {
  width: 50%;
}

.menudinelist .din_in_cs {
  background: #e5e5e5;
}

.menudinelist .din_in_cs .dine_in_lft {
  width: 100%;
  float: left;
  background: #ffffff;
  margin-bottom: 20px;
}

.menudinelist .din_in_cs {
  background: #e5e5e5;
  padding: 0 0px 0px 10px;
}

.bill_screen_tab .table-responsive.order_menu table.table {
  overflow-x: auto;
  margin: auto;
}

.tab-pane
  .guest_profile_tab
  .sub_tab_guest_profile
  .billable_form
  input.form-control:focus {
  border: none;
  border-bottom: 1px solid #444444;
}

/*clear-kot*/

.kot_clears .split_btn_wrapper {
  float: left;
  text-align: center;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 600px;
  margin: auto;
  max-width: 100%;
}

.kot_clears {
  width: 600px;
  max-width: 100%;
  margin: auto;
  margin-top: 10%;
}

.marg-kotui {
  width: 100%;
  float: left;
  padding: 40px;
}

.marg-kotui h4 {
  font-size: 20px;
  color: #333333;
}

.transferrable_tabs .bill_screen_tab .table-responsive.order_menu table.table {
  width: inherit;
}

.dayclose_screen .tab-pane .guest_profile_tab .sub_tab_guest_profile {
  overflow: hidden;
}

/*MenuListSearch*/

@media screen and (min-width: 1500px) {
  .menudinelist .bill_screen_tab ul.nav.nav-tabs li {
    width: 33%;
  }
}

.menulistSearchWrap .customer_input_search {
  display: none;
}

.menulistSearchWrap .menu_category_tab_wrap {
  width: 70%;
  margin-left: 10px;
}

.menulistSearchWrap .food_tab_section > ul {
  width: 900px;
}

.menulistSearchWrap .food_tab_section {
  overflow: auto;
}

.searchWrap_list {
  float: left;
  margin-left: 10px;
}

.menulistSearchWrap .search_icon {
  width: 200px;
  margin-top: -70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

ul.hidden_listWrap li {
  color: #8e8e8e;
  font-size: 16px;
  text-align: center;
  line-height: 3;
  border-bottom: 1px solid #ececec;
}

ul.hidden_listWrap {
  border: 1px solid #ececec;
  border-top: 0;
}

ul.hidden_listWrap li.active {
  background: #f39c12;
  color: #ffffff;
  border-radius: 4px;
}

.menulistSearchWrap .customer_tab_menu.menu_category > ul > li {
  margin: 5px;
}

.menulistSearchWrap .food_tab_section::-webkit-scrollbar {
  width: 1px;
}

.menulistSearchWrap .food_tab_section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(255, 91, 46);
  border-radius: 10px;
}

.menulistSearchWrap .food_tab_section::-webkit-scrollbar-thumb {
  background-color: #ff5b2e;
  outline: 1px solid #ff5b2e;
  border-radius: 10px;
}

/*20-02-2020*/

.kot_operations.listingFloors {
  margin-top: 10px;
}

.kot_operations.listingFloors h5 {
  text-align: center;
  color: #333333;
  font-size: 20px;
}

.flexible_merged .floorChange {
  background: #fff1ed;
  border: 1px solid #ff5b2e;
  box-sizing: border-box;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  width: 200px;
  display: flex;
  height: 170px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexible_merged {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.floorChange h6 {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

.switchWrap h2.behind_linetxt {
  font-weight: 700;
}

/* .modal {
  top: 10%;
} */
.invoice-details-wrap {
  height: calc(100vh - 142px);
  background: #e5e5e5;
}
.invoice-details-wrap .dine_in_lft_bg {
  height: auto;
}
.height-dine_in_lft_bg {
  height: auto;
}
.customer_info_wrap {
  margin-top: 0;
}
.customer_info_frm .form-group input[type="radio"] {
  border: 0;
  outline: 0;
  box-shadow: none;
  display: inline-block;
  width: 17px;
  text-align: center;
  vertical-align: top;
  max-width: initial;
  height: 17px;
  margin-top: 1px;
}
.button-footer-section .btn-warning {
  margin-right: 10px;
}
.zero-padding {
  padding: 0;
}
.customer_info_frm .form-group select {
  max-width: 100%;
  height: 35px;
  border-radius: 4px;
  color: #555555;
  font-size: 18px;
  /* width: 100%; */
  float: left;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.d-flex {
  display: flex;
}
.address_space {
  display: inline-block;
  float: left;
  width: 70%;
  margin-left: 15px;
  margin-bottom: 20px;
}
#toast-container > div {
  opacity: 1;
}

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.sales_box_btnParent {
  width: 71%;
}
.msgScreen .sales_box_btnParent {
  width: 100%;
}

.dine-selection_ul ul {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 60px;
}
.dine-selection_ul ul li {
  margin: 10px 5px;
}
.no-ul-margin li,
.no-ul-margin {
  margin: 0 !important;
}
.no-ul-margin {
  margin-top: 17px !important;
}
.dine_in_lft {
  margin-top: 20px;
}

.mat-autocomplete-panel {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
  background: #fff;
}
.mat-autocomplete-panel
  .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
  color: rgba(0, 0, 0, 0.87);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-ripple {
  height: 0px !important;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px)
    translateZ(0.001px);
}
