<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap reportable_sales msgScreen">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg din_in_cs ">
                <div class="sales_wrapper_aside">

                    <div class="sales_flex">
                        <div class="sales_box_btnParent">
                            <div class=" tab_content">
                                <!---->
                                <div class="tab-content">
                                    <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">
                                        <div class="sales_box customer_info_frm">
                                            <div class="sub_wrapperWaiter  ">
                                                <div class="table-responsive customer_list">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <label class="btn btn-filter">
                                                                        <input type="checkbox" name="trades" [value]="allmessageReceiptList" (change)="allmessageReceiptList($event)">
                                                                        <span class="checkbox-button__control"></span>
                                                                        </label>
                                                                </th>
                                                                <th>Sender</th>
                                                                <th>Subject</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let MessageReceiptList of MessageReceiptListData">
                                                                <td>
                                                                    <label class="btn btn-filter">
                                                                    <input type="checkbox" name="trades" [checked]="MessageReceiptList.selected" (change)="changemessageReceiptList($event)">{{ MessageReceiptList.label }} <span class="checkbox-button__control"></span>
                                                                   </label>
                                                                </td>
                                                                <td>{{MessageReceiptList.sender}}</td>
                                                                <td>{{MessageReceiptList.subject}}</td>
                                                                <td>{{MessageReceiptList.date}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active" id="two">
                                        <div class="sales_box customer_info_frm">
                                            <div class="sub_wrapperWaiter  ">
                                                <div class="table-responsive customer_list">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <label class="btn btn-filter">
                                                                        <input type="checkbox" name="trades" [value]="allmessageReceiptList" (change)="allmessageReceiptList($event)">
                                                                        <span class="checkbox-button__control"></span>
                                                                        </label>
                                                                </th>
                                                                <th>Sender</th>
                                                                <th>Subject</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let MessageReceiptList of MessageReceiptListData">
                                                                <td>
                                                                    <label class="btn btn-filter">
                                                                    <input type="checkbox" name="trades" [checked]="MessageReceiptList.selected" (change)="changemessageReceiptList($event)">{{ MessageReceiptList.label }} <span class="checkbox-button__control"></span>
                                                                   </label>
                                                                </td>
                                                                <td>{{MessageReceiptList.sender}}</td>
                                                                <td>{{MessageReceiptList.subject}}</td>
                                                                <td>{{MessageReceiptList.date}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="selectedorder === ordermenus[2]" role="tabpanel" class="tab-pane active" id="three">
                                        <div class="sales_box customer_info_frm">
                                            <div class="sub_wrapperWaiter  ">
                                                <div class="table-responsive customer_list">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <label class="btn btn-filter">
                                                                        <input type="checkbox" name="trades" [value]="allmessageReceiptList" (change)="allmessageReceiptList($event)">
                                                                        <span class="checkbox-button__control"></span>
                                                                        </label>
                                                                </th>
                                                                <th>Sender</th>
                                                                <th>Subject</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let MessageReceiptList of MessageReceiptListData">
                                                                <td>
                                                                    <label class="btn btn-filter">
                                                                    <input type="checkbox" name="trades" [checked]="MessageReceiptList.selected" (change)="changemessageReceiptList($event)">{{ MessageReceiptList.label }} <span class="checkbox-button__control"></span>
                                                                   </label>
                                                                </td>
                                                                <td>{{MessageReceiptList.sender}}</td>
                                                                <td>{{MessageReceiptList.subject}}</td>
                                                                <td>{{MessageReceiptList.date}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="selectedorder === ordermenus[3]" role="tabpanel" class="tab-pane active" id="four">
                                        <div class="sales_box customer_info_frm">
                                            <div class="sub_wrapperWaiter  ">
                                                <div class="table-responsive customer_list">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <label class="btn btn-filter">
                                                                        <input type="checkbox" name="trades" [value]="allmessageReceiptList" (change)="allmessageReceiptList($event)">
                                                                        <span class="checkbox-button__control"></span>
                                                                        </label>
                                                                </th>
                                                                <th>Sender</th>
                                                                <th>Subject</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let MessageReceiptList of MessageReceiptListData">
                                                                <td>
                                                                    <label class="btn btn-filter">
                                                                    <input type="checkbox" name="trades" [checked]="MessageReceiptList.selected" (change)="changemessageReceiptList($event)">{{ MessageReceiptList.label }} <span class="checkbox-button__control"></span>
                                                                   </label>
                                                                </td>
                                                                <td>{{MessageReceiptList.sender}}</td>
                                                                <td>{{MessageReceiptList.subject}}</td>
                                                                <td>{{MessageReceiptList.date}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <!--/-->

                            </div>
                            <div class="transaction_order_btm">
                                <ul>
                                    <li>
                                        <a href="JavaScript:Void(0)">Mark as unread </a>
                                    </li>
                                    <li>
                                        <a href="JavaScript:Void(0)">Mark as read</a>
                                    </li>
                                    <li class="btn_okay">
                                        <a href="JavaScript:Void(0)">Read</a>
                                    </li>
                                    <li>
                                        <a href="JavaScript:Void(0)">Delete</a>
                                    </li>

                                    <li>
                                        <a routerLink="/" class="cancel_btn">Close</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="preheaderMsg">
                            <h2 class="pre_header">Messages</h2>
                            <div class="tabs_headerList">
                                <ul class="nav nav-tabs side_nav" role="tablist">
                                    <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                        <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                      {{order}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>