input[type="checkbox"]:checked+span.checkbox-button__control {
    border: none !important;
}

input[type="checkbox"]:checked+span.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/images/checked.png");
    background-size: cover;
}

input[type="checkbox"] {
    opacity: 0;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    top: -2px;
    transform: scale(0.75);
}

input[type="checkbox"]:checked+span.checkbox-button__control {
    border-color: transparent;
}

label.btn.btn-filter:focus {
    outline: 0;
}

label.btn.btn-filter:active {
    box-shadow: none;
    outline: 0 !important;
}


/***********/

.checkbox input,
.checkbox-inline input,
.radio input,
.radio-inline input {
    opacity: 0;
    position: absolute;
}

.checkbox label,
.radio label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox .indicator,
.checkbox-inline .indicator,
.radio .indicator,
.radio-inline .indicator {
    position: relative;
}

.checkbox .indicator:before,
.checkbox-inline .indicator:before,
.radio .indicator:before,
.radio-inline .indicator:before {
    content: '';
    width: 150px;
    display: inline-block;
    text-align: center;
    border: 1px solid #FB5A2E;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    color: #BDBDBD;
    font-size: 20px;
    border-radius: 4px !important;
}

.checkbox input:checked+.indicator address,
.checkbox-inline input:checked+.indicator address {
    color: #ffffff !important;
    z-index: 999999;
}

.checkbox input:checked+.indicator:before,
.checkbox-inline input:checked+.indicator:before {
    border-color: #FB5A2E;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#00f" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>') no-repeat;
}

.checkbox input:disabled+.indicator:before,
.checkbox-inline input:disabled+.indicator:before {
    border-color: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox input:checked:disabled+.indicator:before,
.checkbox-inline input:checked:disabled+.indicator:before {
    border-color: #ccc;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#ccc" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>') no-repeat;
}

span.indicator {
    width: 100% !important;
    display: inline;
    background: none;
    border: none;
    box-sizing: unset;
    box-shadow: none;
}

.checkbox,
.radio {
    margin: 20px 0px 0px 0px !important;
}

span.indicator address {
    position: absolute;
    top: -26px;
    left: 40px;
    margin-bottom: 0;
    color: #FB5A2E;
    font-size: 20px;
}

.radios_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radios_header .radio {
    margin-top: 0px !important;
    margin-bottom: 8px !important;
}

.radios_header {
    margin-bottom: 15px;
}

.checkbox label,
.radio label {
    padding-left: 0px;
}

.tabs_headerList ul li.active::after {
    color: #ffffff !important;
}

.tabs_headerList ul li {
    position: relative;
}

.tabs_headerList ul li::after {
    font-family: FontAwesome;
    font-size: 21px;
    position: absolute;
    top: 12px;
    color: #555555;
    left: 20px;
}

.tabs_headerList ul li:first-child::after {
    content: "\f044";
}

.tabs_headerList ul li:nth-child(2)::after {
    content: "\f01c";
}

.tabs_headerList ul li:nth-child(3)::after {
    content: "\f1d8";
}

.tabs_headerList ul li:last-child::after {
    content: "\f1f8";
}

.tabs_headerList .side_nav li a {
    padding-left: 50px;
    text-align: left;
}

.tabs_headerList .side_nav li.accounts_li.active a {
    text-align: left;
}