<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap guest-menu-screens dayclose_screen">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Bill Screen</h2>
                    <div class="bill_screen_tab">
                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                  {{order}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="sub_tab_guest_profile">
                                        <h6>Cashier Report</h6>
                                        <p class="divider_Point">********************************************************</p>
                                        <div class="item_details_category align_listWidth">
                                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                <div class="list_payment">
                                                    <ul>
                                                        <li><label>Shift #</label><span>38</span></li>
                                                        <li><label>User </label><span>Restautent Cashier</span></li>
                                                        <li><label>Time In</label><span>20-08-2019<small>9:05:34 PM</small></span></li>
                                                        <li><label>Time Out</label><span>20-08-2019<small>6:05:34 PM</small></span></li>
                                                        <li><label>Print</label><span>1</span></li>
                                                        <p class="divider_Point">********************************************************</p>
                                                        <li><label>Opening Balance </label><span class="float_right">000000</span></li>
                                                        <li><label class="float_center">$</label><span class="float_right">000000</span></li>
                                                        <p class="divider_Point">============================================</p>
                                                        <li><label>Total </label><span class="float_right">000000</span></li>
                                                        <p class="divider_Point">============================================</p>
                                                        <li><label>Closeing Balance </label><span class="float_right">000000</span></li>
                                                        <li>
                                                            <h6>Cashier Report</h6>
                                                            <p class="divider_Point">********************************************************</p>
                                                            <label>$100000</label><span class="float_right">000000</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs padding_mob_0 ">
                <div class="dine_in_lft ">
                    <div class="customer_info_frm menu_category_wrap menu_category_tab_wrap">
                        <div class="table_containerUi">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let table of tablesDay; let i=index;">
                                            <td>
                                                {{currency.currency_symbol}} <input type="text" class="form-control" placeholder="Enter Manually" appOnlyNumbers=1 (keyup)="updateDenom($event.target.value,i)">
                                            </td>
                                            <td><input type="text" class="form-control" placeholder="Enter Manually" appOnlyNumbers=1 [(ngModel)]="qtyArray[i]" (keyup)="updateQty($event.target.value,i)"> </td>
                                            <td>{{ denomTotal[i] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pincode">
                                <div class="table">
                                    <div class="cell">
                                        <div class="rowio">
                                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                                                <label class="label_common">Closing Balance</label>
                                                <div id="fields">
                                                    <div class="grid" #passwordRef>
                                                        <input type="text" class="enter-pass form-control" placeholder="Enter Manually" appOnlyNumbers=1 (focus)="currentlyFocused = 1" [(ngModel)]="passwordOne" (input)="changeFocusToNext($event.inputType,1)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                                                <label class="label_common">Cash Drawer Balance</label>
                                                <div id="fields">
                                                    <div class="grid" #passwordRef>
                                                        <input type="text" class="enter-pass form-control" placeholder="Enter Manually" appOnlyNumbers=1 (focus)="currentlyFocused = 1" [(ngModel)]="passwordOne" (input)="changeFocusToNext($event.inputType,1)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 print_src no-padding">
                                                <div class="print_srcFlex">
                                                    <div class="align_print">
                                                        <img src="assets/images/dollar.png">
                                                    </div>
                                                    <div class="align_dollar">
                                                        <img src="assets/images/print.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-12 no-padding">
                                            <div id=" ">
                                                <div class="grid">
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(1)">1</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(2)">2</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(3)">3</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(4)">4</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(5)">5</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(6)">6</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(7)">7</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(8)">8</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(9)">9</button></div>
                                                    <div class="grid__col grid__col--1-of-3"><button (click)="pressedKey(0)">0</button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 no-padding">
                                            <div class="buttons_keypress">
                                                <button class="btn ">Back Space</button>
                                                <button class="btn ">Enter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="transaction_order_btm" id="text_center">
                        <ul>
                            <li>
                                <a href="JavaScript:Void(0)">Print</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Close Shift</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)" class="settle">Close</a>
                            </li>
                        </ul>
                    </div>
                    <!--dine_transaction-->
                </div>

                <router-outlet></router-outlet>
                <!--dine_transaction-->


            </div>








        </div>
    </div>