<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 dine_in_lft_bg bg_white">
                <div class="header_kot_details">
                    <div class="customer_dine kot_table-details">
                        <h2 class="behind_linetxt"><span>Table Details</span></h2>
                        <div class="receipt_orderdetails">
                            <div class="col-lg-7 col-md-7 col-sm-12 constant_header no-padding">
                                <h2>Running Order</h2>
                                <div class="content_shownText">
                                    <label class="text_normal">KOT No</label>
                                    <h6>Guest Name 1 </h6>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 constant_header buttons_orders no-padding h2_align">
                                <h2>Table in Use</h2>
                                <div class="home_others dine_others hd_dinein">
                                    <ul>
                                        <li>
                                            <a href="JavaScript:Void(0)" class="assist_water">
                                                <span>
                                                <img src="/assets/images/kot/receipt.png" alt="" title="" />
                                            </span> Make Receipt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="JavaScript:Void(0)" class="assist_water">
                                                <span>
                                                <img src="/assets/images/kot/settle.png" alt="" title="" />
                                            </span> Settle Receipt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="JavaScript:Void(0)" class="assist_water">
                                                <span>
                                                <img src="/assets/images/kot/print.png" alt="" title="" />
                                            </span> Reprint All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 constant_header buttons_orders no-padding kot_operations_header">
                                <div class="kot_operations">
                                    <h2>Operations</h2>
                                    <div class="home_others dine_others">
                                        <ul>
                                            <li (click)="openModal(template)">
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/add-kot.png" alt="" title="" />
                                                </span> Add Another KOT
                                                </a>
                                            </li>
                                            <!--Modal-Popup-->
                                            <ng-template #template>
                                                <div class="modal-body ">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 buttons_orders">
                                                        <h2 class="behind_linetxt"><span>Table in Use</span></h2>
                                                        <div class=" home_others dine_others btn_radius  ">
                                                            <ul>
                                                                <li>
                                                                    <a routerLink="/" class="assist_water">
                                                                        <span>
                                                                        <img src="/assets/images/kot/add-receipt.png" alt="" title="" />
                                                                    </span>Add Gratuity on Receipt
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerLink="/" class="assist_water">
                                                                        <span>
                                                                        <img src="/assets/images/kot/swipe.png" alt="" title="" />
                                                                    </span>Clean
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerLink="/" class="assist_water">
                                                                        <span>
                                                                        <img src="/assets/images/kot/swipe_a.png" alt="" title="" />
                                                                    </span> Clean and New KOT
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <!--/Modal-Popup-->

                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/edit.png" alt="" title="" />
                                                </span> Edit KOT
                                                </a>
                                            </li>
                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/merge.png" alt="" title="" />
                                                </span> Merge Receipt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/settle.png" alt="" title="" />
                                                </span> Recall Receipt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/print.png" alt="" title="" />
                                                </span> Reprint Receipt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/split.png" alt="" title="" />
                                                </span>Split Receipt
                                                </a>
                                            </li>
                                            <li>
                                                <a href="JavaScript:Void(0)" class="assist_water">
                                                    <span>
                                                    <img src="/assets/images/kot/settle_a.png" alt="" title="" />
                                                </span> Settle Receipt
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinSelection"></app-dineintab>
                    <!--dine_tab_section-->

                    <!--dine_table-->
                    <div class="dine_table">
                        <h2>Table 2</h2>
                        <div class="dine_table_lst">
                            <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                            <ul>
                                <li>
                                    <p>Seat</p><label>: 04</label>
                                </li>
                                <li>
                                    <p>Status</p><label>: Open</label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--dine_table-->
                </div>
            </div>
        </div>
    </div>
</div>