<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead auto_select select_bgClr">
                        <!-- <h2><i class="fa fa-arrow-left" aria-hidden="true"></i> Order Type</h2> -->
                        <div class="dinein_tophead_right ">
                            <select class="form-control">
                                 <option *ngFor="let in of floors">{{in.optionname}}</option>
                             </select>
                            <div class="dine_tab">
                                <select class="form-control">
                                    <option *ngFor="let in of areas">{{in.optionname}}</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <!--dine_transaction-->
                    <div class="home_transaction dine_transaction">
                        <ul>
                            <li routerLink="/dinein/DineinCustomerinforamtion">
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/circle.png" alt="" />
                                        <img src="assets/images/dinein/circle_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T1</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>



                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T2</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dinning-table.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen din_tab_cen">T3</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/square_diasble.png" alt="" />
                                        <img src="assets/images/dinein/square.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T4</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/ellipse.png" alt="" />
                                        <img src="assets/images/dinein/ellipse_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T5</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                        </ul>

                    </div>
                    <!--dine_transaction-->
                    <!--dine_transaction-->
                    <div class="home_transaction dine_transaction">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/circle_disable.png" alt="" />
                                        <img src="assets/images/dinein/circle.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T1</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>


                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T7</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dinning-table_disable.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen din_tab_cen clr_change">T8</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/square.png" alt="" />
                                        <img src="assets/images/dinein/square_diasble.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T9</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/ellipse.png" alt="" />
                                        <img src="assets/images/dinein/ellipse_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T10</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                        </ul>

                    </div>
                    <!--dine_transaction-->
                    <!--dine_transaction-->
                    <div class="home_transaction dine_transaction">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/circle_disable.png" alt="" />
                                        <img src="assets/images/dinein/circle.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T1</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>


                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T12</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/dinning-table.png" alt="" />
                                        <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen din_tab_cen">T13</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/square.png" alt="" />
                                        <img src="assets/images/dinein/square_diasble.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T14</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" routerLink="/">
                                    <div class="dine_mg">
                                        <img src="assets/images/dinein/ellipse.png" alt="" />
                                        <img src="assets/images/dinein/ellipse_disable.png" alt="" class="disable_mg" />
                                        <span class="dine_txt_cen">T15</span>
                                    </div>
                                    <ul class="dine_lst">
                                        <li>
                                            <p>Seat</p><label>: 04</label>
                                        </li>
                                        <li>
                                            <p>Status</p><label>: Open</label>
                                        </li>
                                    </ul>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinSelection"></app-dineintab>
                    <!--dine_tab_section-->

                    <!--dine_table-->
                    <div class="dine_table">
                        <h2>Table 2</h2>
                        <div class="dine_table_lst" routerLink="/dinein/DineinTableDetails">
                            <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                            <ul>
                                <li>
                                    <p>Seat</p><label>: 04</label>
                                </li>
                                <li>
                                    <p>Status</p><label>: Open</label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--dine_table-->
                </div>
            </div>
        </div>
    </div>
</div>