<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap waiter_manage">
            <div class="wrapper_waiter">
                <div class="flex_wapperWaier">
                    <div class="header_SubWapper">
                        <form class="form-inline billable_form" action="/action_page.php">
                            <div class="col-lg-7 col-md-7 col-sm-12 no-padding">
                                <div class="input_labels label_wt">
                                    <label for="table">Location </label>
                                    <input type="text" class="form-control sub_child_1" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 no-padding">
                                <div class="input_labels label_wt">
                                    <label for="name">Table No</label>
                                    <input type="text" class="form-control sub_child_2" placeholder="">
                                </div>
                            </div>
                        </form>
                        <div class="sub_wrapperWaiter  ">
                            <div class="table-responsive customer_list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="btn btn-filter">
                                         <input type="checkbox" name="allholdItemList" [value]="holdItemData" (change)="allholdItemList($event)">
                                          <span class="checkbox-button__control"></span>
                                         </label>
                                            </th>
                                            <th>KOT No</th>
                                            <th>Order Source</th>
                                            <th>Floor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let holditemlist of holdItemData">
                                            <td>
                                                <label class="btn btn-filter">
                                                         <input type="checkbox" name="holditem" [checked]="holditemlist.selected" (change)="changeholdItemList($event)">{{ holditemlist.label }} <span class="checkbox-button__control"></span>
                                                </label>
                                            </td>
                                            <td>{{holditemlist.holdItemKOTNO}}</td>
                                            <td>{{holditemlist.holdItemordersource}}</td>
                                            <td>{{holditemlist.holdItemfloor}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="button_group switch_buttons">
                            <button class="btn btn-create btn_orange btn_180" type="button">Take</button>
                        </div>

                    </div>
                    <div class="header_SubWapper float_right">
                        <h2 class="pre_header">Sales Report</h2>
                        <div class="sub_wrapperWaiter">
                            <div class="radios_header">
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Waiter 1</address></span>
                                     </label>
                                </div>
                                <div class="radio">
                                    <label>
                                         <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Waiter 2</address></span>  
                                     </label>
                                </div>
                                <div class="radio ">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address> Waiter 3
                                        </address></span> 
                                   </label>
                                </div>
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Waiter 4</address></span>
                                     </label>
                                </div>
                                <div class="radio">
                                    <label>
                                         <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Waiter 5</address></span>  
                                     </label>
                                </div>
                                <div class="radio ">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address> Waiter 6
                                        </address></span> 
                                   </label>
                                </div>
                            </div>
                        </div>
                        <div class="button_group switch_buttons">
                            <button class="btn btn-create btn_180" type="button">Assign</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>