<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sales-report_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Item Listing</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>

                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                     <input type="checkbox" name="allholdreceiptlist" [value]="holdreceiptData" (change)="allholdreceiptlist($event)">
                                      <span class="checkbox-button__control"></span>
                                     </label>
                                        </th>
                                        <th>Receipt</th>
                                        <th>Floor</th>
                                        <th>Table/User</th>
                                        <th>Item Name</th>
                                        <th>Order Time</th>
                                        <th>Deliver Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let holdreceiptlist of holdreceiptData">
                                        <td>
                                            <label class="btn btn-filter">
    <input type="checkbox" name="holdreceipt" [checked]="holdreceiptlist.selected" (change)="changeholdreceiptlist($event)">{{ holdreceiptlist.label }} <span class="checkbox-button__control"></span>
                                            </label>
                                        </td>
                                        <td>{{holdreceiptlist.holdreceiptNo}}</td>
                                        <td>{{holdreceiptlist.holdreceiptfloor}}</td>
                                        <td>{{holdreceiptlist.holdreceipttable}}</td>
                                        <td>{{holdreceiptlist.holdreceiptitemname}}</td>
                                        <td>{{holdreceiptlist.holdreceiptordertime}}</td>
                                        <td>{{holdreceiptlist.holdreceiptDelivertime}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order flex-end-cs">
                        <ul>
                            <li>
                                <a routerLink="/">Manual</a>
                            </li>


                            <li>
                                <a routerLink="/" class="settle">Fire</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
