<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap miscellaneous_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sales-report_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Miscellaneous Sales Listing </h2>
                        <div class="dinein_tophead_right">
                            <div class="selectUi_filter">
                                <select class="form-control">
                                    <option>Select Extra Service</option>
                                    <option>Select Extra Service</option>
                                    <option>Select Extra Service</option>
                                </select>
                            </div>
                            <div class="filter_receipt">
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="Date" required></my-date-picker>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th> Received by </th>
                                        <th> Payment type </th>
                                        <th> Rec No </th>
                                        <th> Amount </th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let miscell of misSales">
                                        <td>{{miscell.date}}</td>
                                        <td>{{miscell.received}}</td>
                                        <td>{{miscell.payment}}</td>
                                        <td>{{miscell.recno}}</td>
                                        <td>{{miscell.amount}}</td>
                                        <td>{{miscell.remark}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                    </div>
                    <!--dine_transaction-->
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a href="JavaScript:Void(0)">Reprint</a>

                            </li>
                            <li>
                                <a routerLink="/">Void</a>
                            </li>
                            <li>
                                <a routerLink="/" class="settle">Recall </a>
                            </li>
                            <li>
                                <a routerLink="/" class="bg_add">Add</a>
                            </li>
                        </ul>
                    </div>
                    <!---->
                </div>


            </div>
        </div>
    </div>
</div>