<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="print_screen_wrap">
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                <h2>Print Invoice screen</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                <button (click)="printPageArea('print-ticket')"
                    style="float: right;margin-top: 20px;margin-bottom: 10px;" type="button"
                    printSectionId="print-section" ngxPrint class="btn btn-primary onPrint">Print Invoice</button>
            </div>

            <div  id="print-section" class="print_screen_section">
                <div class="print-ticket">
                    <table *ngIf="invoiceOrganisation" >
                        <thead>
                            <tr>
                                <th class="quantity"><img class="logo-print"
                                        src="{{ invoiceDetailsData.org_img_path+'/'+invoiceOrganisation.org_logo_img }}"
                                        alt="Logo"></th>
                                <th class="description">
                                    <p class="centered">
                                        {{ invoiceOrganisation.org_name | titlecase }}
                                        <br>{{ invoiceOrganisation.org_address}}
                                        <br>{{ invoiceOrganisation.org_state.region_name}}
                                        <br>{{ invoiceOrganisation.org_country.country_name}}
                                        <br>{{ invoiceOrganisation.org_phone}} , {{ invoiceOrganisation.org_alt_phone}}
                                    </p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <p class="centered">Duplicate Copy/نسخة مكررة</p>
                    <table>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="invoiceDetailsData && invoiceWaiter" class="inv_head">
                        <thead>
                            <tr>
                                <th class="description">Invoice #/<br> # فاتورة</th>
                                <th class="quantity">{{ invoiceDetailsData.increment_number }}</th>
                            </tr>
                            <tr>
                                <th class="description">Sales By /<br> مبيعات بواسطة</th>
                                <th class="quantity">{{invoiceWaiter.first_name+' '+invoiceWaiter.last_name}}</th>
                            </tr>
                            <tr>
                                <th class="description">Customer /<br> الزبون</th>
                                <th class="quantity">{{invoiceCustomer.first_name+' '+invoiceCustomer.last_name}}
                                </th>
                            </tr>
                            <tr>
                                <th class="description">Mobile /<br> التليفون المحمول</th>
                                <th class="quantity">{{invoiceCustomer.alt_phone ?invoiceCustomer.alt_phone : "-"}}
                                </th>
                            </tr>
                            <tr>
                                <th class="description">Time Out /<br> نفذ الوقت</th>
                                <th class="quantity">
                                    {{invoiceDetailsData.invoice_date}}<small>{{invoiceDetailsData.invoice_time}}</small>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th class="description">Item /<br> بند</th>
                                <th class="price">Price /<br>السعر</th>
                                <th class="quantity">Qty/<br>الكمية</th>
                                <th class="total">Total /<br> مجموع</th>
                            </tr>
                        </thead>

                    </table>
                    <table *ngFor="let kot of kotDetailMenu">

                        <tbody *ngFor="let menu of kot.menus">
                            <tr>
                                <td class="description">
                                    <span>{{ menu.menu_name_eng }}<br>{{ menu.menu_name_arb }}</span>
                                    <br><small><i>
                                            {{ (menu.menu_notes != '' && menu.menu_notes != null) ? '(Notes:'+menu.menu_notes+')' :"" }}</i></small>
                                </td>
                                <td class="price">{{currency.currency_symbol}} {{ menu.menu_price }}</td>
                                <td class="quantity">{{ menu.qty }}</td>
                                <td class="total">{{currency.currency_symbol}} {{ menu.Purchased_cost.toFixed(2)}}</td>
                            </tr>

                            <tr *ngFor="let modifier of menu.modifiers;let i = index">
                                <td width="5%"></td>
                                <td class="description">
                                    {{ modifier.modifier_name_eng }}<br>{{ modifier.modifier_name_arb }}</td>
                                <td class="price">{{currency.currency_symbol}} {{ modifier.menu_price }}</td>
                                <td class="quantity">{{ modifier.qty }}</td>
                                <td class="total">{{currency.currency_symbol}} {{ modifier.Purchased_cost.toFixed(2)}}
                                </td>
                            </tr>

                        </tbody>

                    </table>                    
                    <table>
                        <tbody>
                            <tr>
                                <p class="centered">Amount Details / تفاصيل المبلغ</p>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="invoiceDetailsData" class="inv_head">
                        <thead>
                            <tr>
                                <th class="description">Sub Total /<br> المجموع الفرعي</th>
                                <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.sub_total}}
                                </th>
                            </tr>
                            <tr
                                *ngIf="(invoiceDetailsData.discount_amount > 0 &&  invoiceDetailsData.discount_amount != null)">
                                <th class="description">Item Discount /<br> خصم البند</th>
                                <th class="quantity">{{currency.currency_symbol}}
                                    {{ (invoiceDetailsData.coupon_amount ? invoiceDetailsData.discount_amount-invoiceDetailsData.coupon_amount : invoiceDetailsData.discount_amount ) | number:'.2-2'}}
                                </th>
                            </tr>
                            <tr
                                *ngIf="(invoiceDetailsData.coupon_amount > 0 &&  invoiceDetailsData.coupon_amount != null)">
                                <th class="description">Coupon /<br> القسيمة</th>
                                <th class="quantity">{{currency.currency_symbol}}
                                    {{ invoiceDetailsData.coupon_amount }}</th>
                            </tr>
                            <tr>
                                <th class="description">Grand Total /<br> المبلغ الإجمالي</th>
                                <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.grand_total}}
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <p class="centered">Payment Details / بيانات الدفع</p>
                    <table>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="invoiceDetailsData" class="inv_head">
                        <thead>
                            <tr>
                                <th class="description">Payment Type /<br> نوع الدفع</th>
                                <th class="quantity">{{invoiceDetailsData.payent_type}}</th>
                            </tr>
                            <tr>
                                <th class="description">Paid Amount /<br> المبلغ المدفوع</th>
                                <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.paid_amount}}
                                </th>
                            </tr>
                            <tr>
                                <th class="description">Balance /<br> توازن</th>
                                <th class="quantity">{{currency.currency_symbol}}
                                    {{invoiceDetailsData.balance_to_customer}}</th>
                            </tr>
                            <tr>
                                <th class="description">Status /<br> الحالة</th>
                                <th class="quantity">{{invoiceDetailsData.status == 2 ? 'PAID':'PENDING'}}</th>
                            </tr>
                        </thead>
                    </table>

                    <p class="centered">*** Thank You! Visit Again. ***</p>
                    <p class="centered">*** شكرا! زورني مره اخرى. ***</p>
                </div>
            </div>
        </div>
    </div>
</div>