.print_screen_wrap {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 160px;
}

.print_screen_wrap h2 {
    font-size: 20px;
    font-family: roboto-bold;
}

.print_screen_section {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 16px 22px;
    float: left;
}

.print_screen_section .item_details_category .list_payment ul li {
    width: 100%;
    float: left;
    display: block;
    line-height: 1rem;
}

.print_screen_section .item_details_category .list_payment ul li label {
    float: left;
    width: auto;
}

.print_screen_section .item_details_category .list_payment ul li span {
    float: left;
    padding-left: 14px;
    width: auto;
}

.print_screen_section .item_details_category .list_payment ul li span small {
    float: right;
    padding-left: 10px;
}

/* .print_screen_section .cash_count li label {
    width: 100px !important;
    max-width: 100% !important;
} */

.divide_point_tb {
    border-top: 1px dashed #777777 !important;
    border-bottom: 1px dashed #777777 !important;
    padding: 10px 0px;
    margin-bottom: 15px;
}
.divide_point_menu_bottom {
    /* border-top: 1px dashed #777777 !important; */
    border-bottom: 1px dashed #777777 !important;
    padding: 10px 0px;
    margin-bottom: 15px;
}
.divide_point_menu_top {
    border-top: 1px dashed #777777 !important;
    /* border-bottom: 1px dashed #777777 !important; */
    padding: 10px 0px;
    margin-bottom: 15px;
}
.tab2 { 
    margin-right: 20px;
} 

#circle {
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    padding: 0.25rem;
    border-radius: 50%;
}
.org_name{
    color: #444444;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.header_content{
    text-align: left;
}
span.header.org_address,span.header.org_state {
    font-size: 17px;
    width: 100%;   
    float: left;
}
span.header.org_country,span.header.org_pin {
    font-size: 17px;
    margin-right: 10px;
    display: inline-block;
}
.header.org_phone{
    width: 100%;
    float: left;
}
.header.org_phone span{
    margin-top: 5px;
    display: block;
}
.org_phone img {
    width: 20px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}
.invoice_basic span{
    width: 60% !important;
    display: block;
    text-align: left;
}
.invoice_basic label{
    width: 40% !important;
    display: block;
    text-align: left;
}
.payment_detail span{
    width: 40% !important;
    display: block;
    text-align: left;
}
.payment_detail label{
    width: 60% !important;
    display: block;
    text-align: left;
}
.cash_count li{
    padding: 0px;
}
.cash_count li label,.cash_count li span{
    width: 100%;
    font-size: 15px;
}
.cash_count .modifier li label, .cash_count .modifier li span{
    width: 100%;
    font-size: 12px;
}
.total_sec{
    padding-bottom: 20px;
}
.total_sec label{
    line-height: 20px;
}
.total_sec span{
    margin-top: 10px;
}
.total_sec label,.total_sec span{
    padding-bottom: 10px;
    font-size: 14px;
}


*.print-ticket {
    font-size: 10px;
    font-family: 'Times New Roman';
	text-transform: uppercase;
}

td,
th,
tr,
table {
   /*border-bottom: 2px dotted black;*/
    border-collapse: collapse;
}
table {
   border-bottom: 2px dotted black;
   width:100%;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 40%;
    max-width: 40%;
}

td.quantity,
th.quantity {
    width: 15%;
    max-width: 15%;
    word-break: break-all;
    text-align: right;
}

td.price,
th.price {
    width: 20%;
    max-width: 20%;
    word-break: break-all;
	text-align: right;
}
td.total,
th.total {
    width: 25%;
    max-width: 25%;
    word-break: break-all;
	text-align: right;
}
th.item {
    width: 20%;
    max-width: 20%;
    word-break: break-all;
}
th.item-value {
    width: 10%;
    max-width: 10%;
    word-break: break-all;
}
th.paid-total {
    width: 20%;
    max-width: 20%;
    word-break: break-all;
}
th.paid-total-value {
    width: 15%;
    max-width: 15%;
    word-break: break-all;
}
th.balance {
    width: 20%;
    max-width: 20%;
    word-break: break-all;
}
th.balance-value {
    width: 15%;
    max-width: 15%;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 100%;
    max-width: 100%;
}

img.logo-print {
    background-size: cover;
    width: 120px;
    height: 120px;
    border: 5px solid white;
    padding: 0.25rem;
    border-radius: 50%;
}
table.inv_head {
    text-align: left;
}
.inv_head th.quantity {
    width: 60%;
}
.inv_head th.description {
    width: 40%;
}
@page { margin: 0; }