<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <!-- <div class="dine_in_lft"> -->
                <div class="">
                    <!--dineIn_tophead-->
                    <!-- <div class="dinein_tophead merge-receipts">
                        <h2>Billing Screen</h2>
                        <div class="dinein_tophead_right">

                        </div>
                    </div> -->
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <div class="">
                                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg"> -->
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg">
                                    <div class="dine_in_lft">
                                        <!--dineIn_tophead-->
                                        <div class="dinein_tophead merge-receipts">
                                            <h2 style="display: block;float: left;width:100%">Billing Screen</h2>
                                            <!-- <div style="display: block;float: left;"> -->
                                            <!-- <label class="label_light">KOT#</label> -->
                                            <!-- <input type="text" readonly class="form-control" /> -->
                                            <!-- </div> -->
                                            <div class="bill_screen_tab">

                                                <div class="item_details_category">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                        <div class="list_payment">
                                                            <ul>
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                                    Customer Name<span>{{
                                                                        split_bill_save.customer_name[0]?
                                                                        split_bill_save.customer_name[0] : '-' }}</span>
                                                                </li>
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                                    Customer Contact<span>{{
                                                                        split_bill_save.customer_mobile[0] ?
                                                                        split_bill_save.customer_mobile[0] : '-'
                                                                        }}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="table-responsive order_menu">
                                                    <table class="table"
                                                        *ngFor="let amt of split_by_amount ; let i=index;">
                                                        <caption>Bill {{i+1}}</caption>
                                                        <tbody>
                                                            <tr>
                                                                <th>Bill Amount</th>
                                                                <td>{{currency.currency_symbol}} {{ amt }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Paid</th>
                                                                <td class="paid_{{i}}">{{currency.currency_symbol}} {{
                                                                    splitpaid[i] }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Balance</th>
                                                                <td>{{currency.currency_symbol}} {{ splitbalance[i] }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--dineIn_tophead-->
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">

                                    <!-- 'cash on delivery' section start -->
                                    <div
                                        [ngClass]="(showSection == 'cod'  )? 'table-responsive customer_list show':'hide'">
                                        <div class="dinein_tophead dine_center ">
                                            <h2>Enter Address Details For Cash On Delivery</h2>
                                        </div>
                                        <div class="customer_info_frm">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Address Number</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_no" name="address_no">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Street 1</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_street_1" name="address_street_1">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">country</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_country" name="address_country">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Region</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_region" name="address_region">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Landmark</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_landmark" name="address_landmark">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Zip Code</label>
                                                    <div class="search_icon">
                                                        <input readonly class="form-control" type="text"
                                                            [(ngModel)]="address_zipcode" name="address_zipcode">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="split_select_option">
                                                <div class="menu_list">
                                                    <button (click)="cash_on_delivery_save()" class="btn btn-okay"
                                                        style="color: #fff; float:right;margin-top: 30px;">Make
                                                        COD</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- 'cash on delivery' section end -->


                                    <!-- card / cash - 'card or cash' section start -->
                                    <div
                                        [ngClass]="(showSection != 'cod'  )? 'table-responsive customer_list show':'hide'">
                                        <div class="dinein_tophead dine_center ">
                                            <h2>Select Bill Details</h2>
                                        </div>
                                        <div class="headersplit_select_option">
                                            <div class="split_select_option">


                                                <div class="menu_list">

                                                    <table class="table" style="margin-bottom:20px;">
                                                        <tbody *ngFor="let amt of split_by_amount ; let i=index;"
                                                            style=" border-top: 2px solid #000;">
                                                            <tr>
                                                                <td>Bill {{i+1}}</td>
                                                                <td>{{currency.currency_symbol}} {{ amt }}</td>
                                                                <td>
                                                                    <a (click)="typeAssign('points',i)"
                                                                        class="top_points type_points">Loyalty</a>
                                                                    <a (click)="typeAssign('card',i)"
                                                                        class="top_points type_card">Card</a>
                                                                    <a (click)="typeAssign('cash',i)"
                                                                        class="top_points type_cash">Cash</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div
                                                                        [ngClass]="(split_type[i] == 'cash')?'split_bills cash show':'split_bills cash hide'">
                                                                        <div
                                                                            class="col-lg-12 col-md-12 col-sm-12 buttons_orders">
                                                                            <!-- <h2 class="behind_linetxt"><span>Cash Bill</span></h2> -->
                                                                            <div class="split_btn_wrapper">

                                                                                <div
                                                                                    class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                                    <h2 class="total_amount">Total
                                                                                        Amount Bill {{ i+1 }} :<span
                                                                                            class="total_amt_label">{{currency.currency_symbol}}
                                                                                            {{ amt }}</span> </h2>
                                                                                    <!-- <span class="split_error split_amt_error_{{i}}">{{splitError[i]}}</span> -->
                                                                                    <input type="text"
                                                                                        (keyup)="checkingvalidtion($event.target.value,i,amt)"
                                                                                        class="form-control splited_amt" />
                                                                                </div>

                                                                                <div
                                                                                    class="col-lg-3 col-md-3 col-sm-3 no-padding btn-center">
                                                                                    <button
                                                                                        (click)="splited_data_save(i)"
                                                                                        style="margin-top: 35px;"
                                                                                        class="btn btn-okay">Ok</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div
                                                                        [ngClass]="(split_type[i] == 'card'  )?'split_bills card show':'split_bills card hide'">
                                                                        <div
                                                                            class="col-lg-12 col-md-12 col-sm-12 buttons_orders">
                                                                            <div class="split_btn_wrapper">

                                                                                <div
                                                                                    class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                                                    <h2 class="total_amount">Total
                                                                                        Amount Bill {{ i+1 }} :<span
                                                                                            class="total_amt_label">{{
                                                                                            amt }}</span> </h2>
                                                                                    <div
                                                                                        class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                                                        <div
                                                                                            class="col-lg-4 col-md-4 col-sm-4">
                                                                                            <label
                                                                                                for="card_name">Name</label><input
                                                                                                type="text"
                                                                                                [(ngModel)]="card_name[i]"
                                                                                                id="card_name"
                                                                                                class="form-control card_name" />
                                                                                        </div>
                                                                                        <div
                                                                                            class="col-lg-4 col-md-4 col-sm-4">
                                                                                            <label
                                                                                                for="card_number">Number</label><input
                                                                                                type="text"
                                                                                                [(ngModel)]="card_number[i]"
                                                                                                id="card_number"
                                                                                                class="form-control card_number" />
                                                                                        </div>
                                                                                        <div
                                                                                            class="col-lg-4 col-md-4 col-sm-4 ">
                                                                                            <label
                                                                                                for="card_type">Type</label>
                                                                                            <select
                                                                                                style="height: 50px;"
                                                                                                class="form-control card_type[i]"
                                                                                                (change)="card_type_assign($event.target.value,i)"
                                                                                                [(ngModel)]="card_type[i]"
                                                                                                id="card_type">
                                                                                                <option value="0">Select
                                                                                                    Card</option>
                                                                                                <option value="visa">
                                                                                                    Visa</option>
                                                                                                <option
                                                                                                    value="visa_electron">
                                                                                                    Visa Electron
                                                                                                </option>
                                                                                                <option value="master">
                                                                                                    Master</option>
                                                                                                <option value="rupay">
                                                                                                    RuPay</option>
                                                                                                <option value="maestro">
                                                                                                    Maestro</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-lg-12 col-md-12 col-sm-12">
                                                                                        <span
                                                                                            class="split_error split_amt_error_{{i}}">{{splitError[i]}}</span>
                                                                                        <input type="text"
                                                                                            (keyup)="checkingvalidtion($event.target.value,i,amt)"
                                                                                            class="form-control splited_amt" />
                                                                                    </div>

                                                                                </div>

                                                                                <div
                                                                                    class="col-lg-3 col-md-3 col-sm-3 no-padding btn-center">
                                                                                    <button
                                                                                        (click)="splited_data_save(i)"
                                                                                        class="btn btn-okay">Ok</button>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div
                                                                        [ngClass]="(split_type[i] == 'points')?'split_bills points show':'split_bills points hide'">

                                                                        <div class="col-lg-12 col-md-12 col-sm-12 buttons_orders"
                                                                            *ngIf="(enableFlag == true)">
                                                                            <!-- <h2 class="behind_linetxt"><span>Cash Bill</span></h2> -->
                                                                            <div class="split_btn_wrapper">

                                                                                <div>
                                                                                    <span
                                                                                        class="total_amt_label">Available
                                                                                        Reward :
                                                                                        {{currency.currency_symbol}} {{
                                                                                        rewardData.balance_amt
                                                                                        }}</span><br>
                                                                                    <span class="total_amt_label">Usable
                                                                                        Reward :
                                                                                        {{currency.currency_symbol}} {{
                                                                                        rewardData.balance_amt - (
                                                                                        rewardData.mini_usage ?
                                                                                        rewardData.mini_usage : 0 ) |
                                                                                        number:'1.2-2' }}</span>
                                                                                </div>

                                                                                <div
                                                                                    *ngIf="(rewardData.mini_usage <= rewardData.balance_amt)">
                                                                                    <div
                                                                                        class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                                        <h2 class="total_amount">Total
                                                                                            Amount Bill {{ i+1 }} :<span
                                                                                                class="total_amt_label">{{currency.currency_symbol}}
                                                                                                {{ amt }}</span> </h2>
                                                                                        <!-- <span class="split_error split_amt_error_{{i}}">{{splitError[i]}}</span> -->
                                                                                        <input type="text"
                                                                                            (keyup)="checkingvalidtion($event.target.value,i,amt,'points')"
                                                                                            class="form-control splited_amt" />
                                                                                    </div>

                                                                                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding btn-center"
                                                                                        *ngIf="(ok_button == true)">
                                                                                        <button
                                                                                            (click)="splited_data_save(i)"
                                                                                            style="margin-top: 35px;"
                                                                                            class="btn btn-okay">Ok</button>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    *ngIf="(rewardData.mini_usage > rewardData.balance_amt)">
                                                                                    <label>Reward Amount Is Too Low Make
                                                                                        Payment</label>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <button (click)="splited_save()"
                                                        [ngClass]="(show_completed == 1)? 'btn btn-okay show':'btn btn-okay hide'"
                                                        style="color: #fff; float:right;margin-top: 30px;">Completed
                                                        Payment</button>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <!-- card / cash - 'card or cash' section end -->


                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<div *ngIf="invoiceOrganisation" style="display: none;">
    <div class="print-ticket">
        <table>
            <thead>
                <tr>
                    <th class="quantity"><img class="logo-print"
                            src="{{ invoiceDetailsData.org_img_path+'/'+invoiceOrganisation.org_logo_img }}" alt="Logo">
                    </th>
                    <th class="description">
                        <p class="centered">
                            {{ invoiceOrganisation.org_name | titlecase }}
                            <br>{{ invoiceOrganisation.org_address}}
                            <br>{{ invoiceOrganisation.org_state.region_name}}
                            <br>{{ invoiceOrganisation.org_country.country_name}}
                            <br>{{ invoiceOrganisation.org_phone}} , {{ invoiceOrganisation.org_alt_phone}}
                        </p>
                    </th>
                </tr>
            </thead>
        </table>
        <p class="centered">Original Copy/النسخة الأصلية</p>
        <table>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
        <table class="inv_head">
            <thead>
                <tr>
                    <th class="description">#{{ invoiceDetailsData.increment_number }}</th>
                    <th *ngIf="invoiceDetailsData.sales_type == 'dinein'" class="quantity">Dine In</th>
                    <th *ngIf="invoiceDetailsData.sales_type == 'takeaway'" class="quantity">Pick Up</th>
                    <th *ngIf="invoiceDetailsData.sales_type == 'delivery'" class="quantity">Delivery</th>
                </tr>
                <tr>
                    <th class="description">{{invoiceWaiter.first_name+' '+invoiceWaiter.last_name}}</th>
                    <!-- <th class="quantity">{{invoiceOrganisation.org_address}}</th> -->
                    <th class="quantity">{{''}}</th>
                </tr>
                <tr>
                    <th class="description">{{invoiceDetailsData.invoice_date}}</th>
                    <th class="quantity">{{invoiceDetailsData.invoice_time}}</th>
                </tr>
                <tr *ngIf="invoiceDetailsData.sales_type == 'delivery'">
                    <th class="description">{{invoiceCustomer.first_name+' '+invoiceCustomer.last_name}}</th>
                    <th class="quantity"></th>
                </tr>
                <tr *ngIf="invoiceDetailsData.sales_type == 'delivery'">
                    <th class="description">{{invoiceCustomer.alt_phone ?invoiceCustomer.alt_phone : "-"}}</th>
                    <th class="quantity"></th>
                </tr>
                <!-- <tr>
                    <th class="description">Time Out /<br> نفذ الوقت</th>
                    <th class="quantity">
                        {{invoiceDetailsData.invoice_date}}<small>{{invoiceDetailsData.invoice_time}}</small>
                    </th>
                </tr> -->
                <tr
                    *ngIf="invoiceDetailsData.sales_type == 'dinein' && kotDetailMenu && kotDetailMenu[0] && kotDetailMenu[0].kot_table && kotDetailMenu[0].kot_table[0] && kotDetailMenu[0].kot_table[0].table_name">
                    <th colspan="3">
                        <p class="centered">Table {{kotDetailMenu[0].kot_table[0].table_name}}</p>
                    </th>
                </tr>
            </thead>
        </table>

        <table>
            <thead>
                <tr>
                    <th class="description">Item /<br> بند</th>
                    <!-- <th class="price">Price /<br>السعر</th> -->
                    <th class="quantity">Qty/<br>الكمية</th>
                    <th class="total">Total /<br> مجموع</th>
                </tr>
            </thead>

        </table>
        <table *ngFor="let kot of kotDetailMenu">

            <tbody *ngFor="let menu of kot.menus">
                <tr>
                    <td class="description">
                        <span>{{ menu.menu_name_eng }}<br>{{ menu.menu_name_arb }}</span>
                        <br><small><i>
                                {{ (menu.menu_notes != '' && menu.menu_notes != null) ? '(Notes:'+menu.menu_notes+')'
                                :"" }}</i></small>
                    </td>
                    <!-- <td class="price">{{currency.currency_symbol}} {{ menu.menu_price }}</td> -->
                    <td class="quantity">{{ menu.qty }}</td>
                    <td class="total">{{currency.currency_symbol}} {{ menu.Purchased_cost.toFixed(2)}}</td>
                </tr>

                <tr *ngFor="let modifier of menu.modifiers;let i = index">
                    <td width="5%"></td>
                    <td class="description">
                        {{ modifier.modifier_name_eng }}<br>{{ modifier.modifier_name_arb }}</td>
                    <!-- <td class="price">{{currency.currency_symbol}} {{ modifier.menu_price }}</td> -->
                    <td class="quantity">{{ modifier.qty }}</td>
                    <td class="total">{{currency.currency_symbol}} {{ modifier.Purchased_cost.toFixed(2)}}
                    </td>
                </tr>

            </tbody>

        </table>
        <!--  <table>
            <tbody>
                <tr>
                    <p class="centered">Amount Details / تفاصيل المبلغ</p>
                </tr>
            </tbody>
        </table> -->
        <table class="inv_head">
            <thead>
                <tr *ngIf="invoiceDetailsData.sub_total !== invoiceDetailsData.grand_total">
                    <th class="description">Item Total</th>
                    <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.sub_total}}
                    </th>
                </tr>
                <tr *ngIf="(invoiceDetailsData.shipping_total > 0 &&  invoiceDetailsData.shipping_total != null)">
                    <th class="description">Delivery Charge</th>
                    <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.shipping_total}}
                    </th>
                </tr>
                <tr *ngIf="(invoiceDetailsData.discount_amount > 0 &&  invoiceDetailsData.discount_amount != null)">
                    <th class="description">Item Discount /<br> خصم البند</th>
                    <th class="quantity">{{currency.currency_symbol}}
                        {{ (invoiceDetailsData.coupon_amount ?
                        invoiceDetailsData.discount_amount-invoiceDetailsData.coupon_amount :
                        invoiceDetailsData.discount_amount ) | number:'.2-2'}}
                    </th>
                </tr>
                <tr *ngIf="(invoiceDetailsData.coupon_amount > 0 &&  invoiceDetailsData.coupon_amount != null)">
                    <th class="description">Coupon /<br> القسيمة</th>
                    <th class="quantity">{{currency.currency_symbol}}
                        {{ invoiceDetailsData.coupon_amount }}</th>
                </tr>
                <!-- <tr>
                    <th class="description">Grand Total /<br> المبلغ الإجمالي</th>
                    <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.grand_total}}
                    </th>
                </tr> -->
            </thead>
        </table>
        <!-- <p class="centered">Payment Details / بيانات الدفع</p> -->
        <table class="inv_head">
            <tbody>
                <tr>
                    <th class="description">Total</th>
                    <th class="total">{{currency.currency_symbol}} {{invoiceDetailsData.grand_total}}
                    </th>
                </tr>
                <tr *ngFor="let payment of invoiceDetailsData.payent_type.split(','); let i=index">
                    <td class="description">{{payment}}</td>
                    <td class="total">{{currency.currency_symbol}} {{invoiceDetailsData.paid_amount.split(',')[i]}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <table class="inv_head">
            <thead>
                <tr>
                    <th class="description">Payment Type /<br> نوع الدفع</th>
                    <th class="quantity">{{invoiceDetailsData.payent_type}}</th>
                </tr>
                <tr>
                    <th class="description">Paid Amount /<br> المبلغ المدفوع</th>
                    <th class="quantity">{{currency.currency_symbol}} {{invoiceDetailsData.paid_amount}}
                    </th>
                </tr>
                <tr>
                    <th class="description">Balance /<br> توازن</th>
                    <th class="quantity">{{currency.currency_symbol}}
                        {{invoiceDetailsData.balance_to_customer}}</th>
                </tr>
                <tr>
                    <th class="description">Status /<br> الحالة</th>
                    <th class="quantity">{{invoiceDetailsData.status == 2 ? 'PAID':'PENDING'}}</th>
                </tr>
            </thead>
        </table> -->

        <p class="centered">*** Thank You! Visit Again. ***</p>
        <p class="centered">*** شكرا! زورني مره اخرى. ***</p>
    </div>
</div>

<style>
    a.top_points {
        display: block;
        float: right;
        background: #ff5b2e;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
        cursor: pointer;
    }

    .total_amt_label {
        font-size: 16px;
    }

    .total_amount {
        font-size: 20px;
    }

    .total_amt_label {
        display: inline-block;
        font-size: 20px;
        color: #000;
        font-weight: 600;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .bill_screen_tab .table-responsive.order_menu table.table {
        width: 400px;
        margin-bottom: 10px;
    }
</style>