<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead">
                        <!-- <h2><i class="fa fa-arrow-left" aria-hidden="true"></i>Waiting List</h2> -->
                        <div class="dinein_tophead_right">
                            <select class="form-control" #selectfloor
                            (change)='onFloorSelected(selectfloor.value)' >
                                <option *ngFor="let floor of floorList" 
                                    [value]="floor.id" >
                                {{floor.floor_name}}
                                </option>
                       </select>
                            <div class="dine_tab">
                                <ul>
                                    <li>
                                        <a routerLink="/">Main Area </a>
                                    </li>
                                    <li>
                                        <a routerLink="/">Tabs</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->
                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Guest Name</th>
                                        <th>No of Guest</th>
                                        <th>Arrived Time</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let waitinglistview of waitinglistData">
                                        <td>{{waitinglistview.customer_id[0].first_name}} {{waitinglistview.customer_id[0].last_name}}</td>
                                        <td>{{waitinglistview.customer_guest_no}}</td>
                                        <td>{{waitinglistview.created_at}}</td>
                                        <td>{{waitinglistview.status}}</td>
                                    </tr>
                                    <tr *ngIf="waitinglistData.length == 0" >
                                        <td rowspan="3"> No Customer Waiting Details Found </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinWaitingList"></app-dineintab>
                    <!--dine_tab_section-->


                </div>
            </div>
        </div>
    </div>
</div>
