<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg fluid_spit">
                <div class="split_wrapper align_lt split_bills">
                    <div class="bill_screen_wrap">
                        <h2>Bill Screen</h2>
                        <div class="form-inline">
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                              
                            </div> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding sort_imgs">
                                <img src="assets/images/sort-up.png" alt="" title="" />
                                <label class="label_light">Receipt#</label>
                                <input type="text" class="form-control" />
                                <img src="assets/images/sort-down.png" alt="" title="" />
                            </div>
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                              
                            </div> -->

                        </div>
                        <div class="bill_screen_tab">
                            <div class="table-responsive order_menu">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>QTY</th>
                                            <th>Description</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let split of amounts">
                                            <td>{{split.amoutValues}}</td>
                                            <td>{{split.amoutValues1}}</td>
                                            <td>{{split.amoutValues2}}</td>
                                    </tbody>
                                </table>
                            </div>


                            <div class="item_details_category">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                    <div class="list_payment">
                                        <ul>
                                            <li>Items<span>04</span></li>
                                            <li>Total Discount<span>10%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                    <div class="list_payment">
                                        <ul>
                                            <li>Tax<span>$12.00</span></li>
                                            <li>Total<span class="highlight">$1112.00</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="button_group text_center">
                                <button class="btn btn-create btn_180 bg_orange" type="button">Split Receipt</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="split_wrapper align_rt split_bills">
                    <div class="bill_screen_wrap">
                        <h2 class="visible_hide">Bill Screen</h2>
                        <div class="form-inline">
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                              
                            </div> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding sort_imgs">
                                <img src="assets/images/sort-up.png" alt="" title="" />
                                <label class="label_light">Receipt#</label>
                                <input type="text" class="form-control" />
                                <img src="assets/images/sort-down.png" alt="" title="" />
                            </div>
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                              
                            </div> -->

                        </div>
                        <div class="bill_screen_tab">
                            <div class="table-responsive order_menu">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>QTY</th>
                                            <th>Description</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let split of amounts">
                                            <td>{{split.amoutValues}}</td>
                                            <td>{{split.amoutValues1}}</td>
                                            <td>{{split.amoutValues2}}</td>
                                    </tbody>
                                </table>
                            </div>


                            <div class="item_details_category">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                    <div class="list_payment">
                                        <ul>
                                            <li>Items<span>04</span></li>
                                            <li>Total Discount<span>10%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                    <div class="list_payment">
                                        <ul>
                                            <li>Tax<span>$12.00</span></li>
                                            <li>Total<span class="highlight">$1112.00</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                <div class="button_group mt_40 wrpper_btn_grp">
                    <button class="btn btn-create btn_180" type="button">Finish</button>
                </div>
            </div>
        </div>
    </div>