.print_screen_wrap {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 140px;
}

.print_screen_wrap h2 {
    font-size: 20px;
    font-family: roboto-bold;
}

.print_screen_section {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 16px 22px;
    float: left;
}

.print_screen_section .item_details_category .list_payment ul li {
    width: 100%;
    float: left;
    display: block;
}

.print_screen_section .item_details_category .list_payment ul li label {
    float: left;
    width: auto;
}

.print_screen_section .item_details_category .list_payment ul li span {
    float: left;
    padding-left: 14px;
    width: auto;
}

.print_screen_section .item_details_category .list_payment ul li span small {
    float: right;
    padding-left: 10px;
}

.print_screen_section .cash_count li label {
    width: 100px !important;
    max-width: 100% !important;
}

.divide_point_tb {
    border-top: 1px dashed #777777 !important;
    border-bottom: 1px dashed #777777 !important;
    padding: 10px 0px;
    margin-bottom: 15px;
}