<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="print_screen_wrap">
            <h2>Print Bill screen</h2>
            <div class="print_screen_section">
                <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                    <div class="sub_tab_guest_profile">
                        <h6>Cashier Report</h6>
                        <p class="divider_Point">********************************************************</p>
                        <div class="item_details_category align_listWidth">
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <li><label>Shift #</label><span>38</span></li>
                                        <li><label>User </label><span>Restautent Cashier</span></li>
                                        <li><label>Time In</label><span>20-08-2019<small>9:05:34 PM</small></span></li>
                                        <li><label>Time Out</label><span>20-08-2019<small>6:05:34 PM</small></span></li>
                                        <li><label>Print</label><span>1</span></li>
                                        <p class="divider_Point">********************************************************</p>
                                        <li><label>Opening Balance </label><span class="float_right">000000</span></li>
                                        <li><label class="float_center">$</label><span class="float_right">000000</span></li>
                                        <p class="divider_Point">============================================</p>
                                        <li><label>Total </label><span class="float_right">000000</span></li>
                                        <p class="divider_Point">============================================</p>
                                        <li><label>Closeing Balance </label><span class="float_right">000000</span></li>
                                        <li>
                                            <h6>Cash Count</h6>
                                            <p class="divider_Point">********************************************************</p>
                                            <ul class="cash_count">
                                                <li> <label>$100000</label><span class="float_right">000000</span></li>
                                                <li> <label>$ 50.0000</label><span class="float_right">000000</span></li>
                                                <li> <label>$ 20.0000</label><span class="float_right">000000</span></li>
                                                <li> <label>$ 100.0000 </label><span class="float_right">000000</span></li>
                                                <li> <label>$ 5.0000</label><span class="float_right">000000</span></li>
                                                <li> <label>$ 1.0000</label><span class="float_right">000000</span></li>
                                            </ul>
                                        </li>
                                        <li class="divide_point_tb"><label>Total </label><span class="float_right">000000</span></li>
                                        <li><label>£ 100.0000 0 0.0000 </label></li>
                                        <li><label>£ 100.0000 0 0.0000 </label></li>
                                        <li class="divide_point_tb"><label>Total </label><span class="float_right">000000</span></li>
                                        <li><label>Rs 1,000.0000 0 0.0000  </label></li>
                                        <li><label>Rs 500.0000 0 0.0000</label></li>
                                        <li class="divide_point_tb"><label>Total </label><span class="float_right">000000</span></li>
                                        <li><label>$ 0 1 K Sh 0.0000</label></li>
                                        <li><label>£ 0 1.6184 K Sh 0.0000</label></li>
                                        <li><label>Rs 0 0.025 K Sh 0.0000</label></li>
                                        <li>
                                            <p class="divider_Point">============================================</p>
                                        </li>
                                        <li>
                                            <h6>TOTAL In K Sh 0.0000</h6>
                                        </li>
                                        <li>
                                            <h6>BALANCE AMOUNT K Sh 0.0000</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>