<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Receipt List</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>
                                <button class="btn"><img src="assets/images/merge-kot.png" />KOT</button>
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="KOTDate" required></my-date-picker>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" name="allmergeReceipt" [value]="mergereceiptdata" (change)="allmergeReceipt($event)">
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </th>
                                        <th>KOT # / Token #</th>
                                        <th>Date/Time</th>
                                        <th>Floor</th>
                                        <th>Table</th>
                                        <th>Guest Name</th>
                                        <th>Table/Server</th>
                                        <th>Shift</th>
                                        <th>Status</th>
                                        <th>Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mergereceipt of mergereceiptdata">
                                        <td>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" class="checkbox-button__input" name="trades" [checked]="mergereceipt.selected" (change)="changeMergeByCategory($event)">{{ mergereceipt.label }}
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </td>
                                        <td>{{mergereceipt.mergekot}}</td>
                                        <td>{{mergereceipt.mergedate}}<span>{{mergereceipt.mergetime}}</span></td>
                                        <td>{{mergereceipt.mergefloor}}</td>
                                        <td>{{mergereceipt.mergetable}}</td>
                                        <td>{{mergereceipt.mergeGuestname}}</td>
                                        <td>{{mergereceipt.mergetableserver}}</td>
                                        <td>{{mergereceipt.mergeShift}}</td>
                                        <td>{{mergereceipt.mergeStatus}}</td>
                                        <td>{{mergereceipt.mergeAmount}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                    </div>
                    <!--dine_transaction-->
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a href="JavaScript:Void(0)">Reprint Label</a>

                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Reprint KOT</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Reprint Receipt</a>

                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Add Gratuity</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Split</a>

                            </li>
                            <li>
                                <a href="JavaScript:Void(0)">Void</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0)" class="settle">Settlement</a>
                            </li>



                        </ul>

                    </div>
                    <!---->
                </div>


            </div>
        </div>
    </div>
</div>