<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sales-report_bg dine_in_lft_bg">
                <div class="dine_in_lft">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 no_pad">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;">
                            <h2>Delivered List</h2>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;">
                            <div class="form-group selected_group" style="width: 100%;float: left;margin-top: 20px !important;margin-bottom: 0px;">
                                <label for="selectcard">Total Amount</label>
                                <span class="total_amount">{{totalSelectAmount | number:'.2-2'}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: right;">
                            <div class="form-group selected_group" style="width: 50%;float: left;margin-top: 20px !important;margin-bottom: 0px;">
                                <select class="form-control" id="selectcard" (change)="assignDriver($event)">
                                    <option value="">Select Driver</option>
                                    <option *ngFor="let driver of driver_list; let i=index;" [value]="driver.id">{{ driver.first_name }} {{ driver.last_name }}</option>
                                </select>
                            </div>
                            <a class="overall_comp" (click)="overallUpdate()" href="javascript:void(0)">Overall Completion</a>
                        </div>
                       
                            <div class="customer_dine newtrip_list">
                                <div class="table-responsive customer_list">
                                    
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="btn btn-filter">
                                                        <input type="checkbox" name="allholdItemList" [checked]="checkAllDeliverylist" (change)="allDeliveryList($event.target.checked)">
                                                        <span class="checkbox-button__control"></span>
                                                    </label>
                                                </th>
                                                <th>Invoice Number</th>
                                                <th>Customer</th>
                                                <th>Address</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Delivery By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="delivery_list.length > 0">
                                            <tr *ngFor="let dellist of delivery_list;let i = index;">
                                                <td>
                                                    <label class="btn btn-filter">  
                                                        <input type="checkbox" name="holditem" [value]="dellist.id" [checked]="selectedIds[i]"  (change)="changeDeliveryList($event,dellist.invoice_detail.grand_total)"><span class="checkbox-button__control"></span>
                                                    </label>
                                                </td>
                                                <td>{{ dellist.invoice_detail.increment_number }}</td>
                                                <td>{{ dellist.customer_id.first_name }} {{ dellist.customer_id.last_name }}</td>
                                                <td>{{ dellist.delivery_address }}</td>
                                                <td>{{ dellist.created_at }}</td>
                                                <td>{{ dellist.order_status }}</td>
                                                <td>{{ dellist.driver_details.first_name }} {{ dellist.driver_details.last_name }}</td>
                                                <td><a (click)="UpdateDelivery(dellist.id,i)" href="javascript:void(0);" class="settle Completed_action" style="color: #fff;padding: 6px;border-radius: 5px;">Complete</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="delivery_list.length <= 0">
                                            <tr>
                                                <td colspan="8" style="text-align: center;">
                                                    No Pending List Available
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>

                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
