input[type="checkbox"]:checked+span.checkbox-button__control {
    border: none !important;
}

input[type="checkbox"]:checked+span.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/images/checked.png");
    background-size: cover;
}

input[type="checkbox"] {
    opacity: 0;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    top: -2px;
    transform: scale(0.75);
}

input[type="checkbox"]:checked+span.checkbox-button__control {
    border-color: transparent;
}

label.btn.btn-filter:focus {
    outline: 0;
}

label.btn.btn-filter:active {
    box-shadow: none;
    outline: 0 !important;
}

.overall_comp{
    width: 40%;
    float: left;
    background: #ff5b2e;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    padding: 15px 10px 10px 10px;
    margin-left: 10px;
    margin-top: 20px !important;
    margin-bottom: 0px;
    color: #fff;
}
.total_amount{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
