<app-header></app-header>
<div class="log_sec">
    <div class="container-fluid">
        <div class="row pass_sec">
            <div class="col-md-4 col-sm-7 pass_cont">
                <h2>CLOCK IN</h2>
                <form>
                    <div class="input-group">
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                        <span class="input-group-addon">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M7.99996 9.78131C10.2236 9.78131 12.0264 7.59171 12.0264 4.89069C12.0264 2.1896 11.4345 0 7.99996 0C4.56539 0 3.97339 2.1896 3.97339 4.89069C3.97339 7.59171 5.77619 9.78131 7.99996 9.78131Z" fill="#FF5B2E"/>
                           <path d="M0.394836 17.2487C0.394149 17.084 0.393463 17.2023 0.394836 17.2487V17.2487Z" fill="#FF5B2E"/>
                           <path d="M15.605 17.3771C15.6071 17.332 15.6057 17.0643 15.605 17.3771V17.3771Z" fill="#FF5B2E"/>
                           <path d="M15.5963 17.0514C15.5217 12.3462 14.9072 11.0054 10.2048 10.1567C10.2048 10.1567 9.54283 11.0002 7.99997 11.0002C6.45712 11.0002 5.79506 10.1567 5.79506 10.1567C1.14392 10.9962 0.492033 12.317 0.406318 16.8986C0.39929 17.2727 0.396033 17.2923 0.394775 17.2489C0.395061 17.3303 0.395404 17.4808 0.395404 17.7433C0.395404 17.7433 1.51495 20.0002 7.99997 20.0002C14.4849 20.0002 15.6045 17.7433 15.6045 17.7433C15.6045 17.5746 15.6047 17.4574 15.6048 17.3776C15.6036 17.4045 15.6011 17.3524 15.5963 17.0514Z" fill="#FF5B2E"/>
                        </svg>
                     </span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                        <span class="input-group-addon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M12.7133 11.0341C12.7133 10.7835 12.9165 10.5806 13.1672 10.5806H14.7514C15.0018 10.5806 15.2051 10.7835 15.2051 11.0341V12.618C15.2051 12.8689 15.0018 13.0719 14.7514 13.0719H13.1672C12.9165 13.0719 12.7133 12.8689 12.7133 12.618V11.0341Z" fill="#A0A0A0"/>
                           <path d="M8.7543 11.0341C8.7543 10.7835 8.95756 10.5806 9.20781 10.5806H10.7921C11.0426 10.5806 11.2458 10.7835 11.2458 11.0341V12.618C11.2458 12.8689 11.0426 13.0719 10.7921 13.0719H9.20781C8.95756 13.0719 8.7543 12.8689 8.7543 12.618V11.0341Z" fill="#A0A0A0"/>
                           <path d="M4.79506 11.0341C4.79506 10.7835 4.99832 10.5806 5.24877 10.5806H6.83291C7.08365 10.5806 7.28687 10.7835 7.28687 11.0341V12.618C7.28687 12.8689 7.08365 13.0719 6.83291 13.0719H5.24877C4.99832 13.0719 4.79506 12.8689 4.79506 12.618V11.0341Z" fill="#A0A0A0"/>
                           <path d="M12.7133 14.9933C12.7133 14.7424 12.9165 14.5396 13.1672 14.5396H14.7514C15.0018 14.5396 15.2051 14.7424 15.2051 14.9933V16.5769C15.2051 16.8276 15.0018 17.0307 14.7514 17.0307H13.1672C12.9165 17.0307 12.7133 16.8276 12.7133 16.5769V14.9933Z" fill="#A0A0A0"/>
                           <path d="M8.7543 14.9933C8.7543 14.7424 8.95756 14.5396 9.20781 14.5396H10.7921C11.0426 14.5396 11.2458 14.7424 11.2458 14.9933V16.5769C11.2458 16.8276 11.0426 17.0307 10.7921 17.0307H9.20781C8.95756 17.0307 8.7543 16.8276 8.7543 16.5769V14.9933Z" fill="#A0A0A0"/>
                           <path d="M4.79506 14.9933C4.79506 14.7424 4.99832 14.5396 5.24857 14.5396H6.83291C7.08365 14.5396 7.28687 14.7424 7.28687 14.9933V16.5769C7.28687 16.8276 7.08365 17.0307 6.83291 17.0307H5.24857C4.99832 17.0307 4.79506 16.8276 4.79506 16.5769V14.9933Z" fill="#A0A0A0"/>
                           <path d="M1.96244 2.22695V4.64628C1.96244 5.73979 2.84954 6.62099 3.94289 6.62099H5.19221C6.28564 6.62099 7.1845 5.73979 7.1845 4.64628V2.21826H12.8155V4.64628C12.8155 5.73979 13.7143 6.62099 14.8076 6.62099H16.0572C17.1505 6.62099 18.0376 5.73979 18.0376 4.64628V2.22695C18.9931 2.25575 19.7783 3.04645 19.7783 4.01832V18.1967C19.7783 19.1869 18.9758 20.0001 17.9856 20.0001H2.01439C1.02572 20.0001 0.22171 19.1852 0.22171 18.1967V4.01832C0.22171 3.04645 1.00688 2.25575 1.96244 2.22695ZM2.54271 17.3138C2.54271 17.7417 2.88965 18.0889 3.31771 18.0889H16.7164C17.1445 18.0889 17.4915 17.7417 17.4915 17.3138V9.99015C17.4915 9.56209 17.1446 9.21494 16.7164 9.21494H3.31775C2.88969 9.21494 2.54275 9.56209 2.54275 9.99015L2.54271 17.3138Z" fill="#A0A0A0"/>
                           <path d="M16.0615 5.32396H14.8257C14.4507 5.32396 14.1465 5.02028 14.1465 4.64519V0.67901C14.1465 0.303881 14.4507 0 14.8257 0H16.0615C16.4366 0 16.7407 0.303881 16.7407 0.67901V4.64519C16.7407 5.02028 16.4366 5.32396 16.0615 5.32396Z" fill="#A0A0A0"/>
                           <path d="M5.20803 5.32396H3.97227C3.59743 5.32396 3.2933 5.02028 3.2933 4.64519V0.67901C3.29326 0.303881 3.59739 0 3.97227 0H5.20803C5.58308 0 5.88721 0.303881 5.88721 0.67901V4.64519C5.88721 5.02028 5.58308 5.32396 5.20803 5.32396Z" fill="#A0A0A0"/>
                        </svg>
                     </span>
                    </div>
                    <div class="input-groupc">
                        <button class="btn cancel_bt">Cancel</button>
                        <button class="btn submit_bt">Submit</button>
                    </div>
                    <div class="input-groups">
                        <p>or</p>
                    </div>
                    <button class="btn log_bt" routerLink="/auth/login">Login</button>
                </form>
            </div>
        </div>
    </div>