<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 dine_in_lft_bg din_in_cs">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_center">
                        <h2>Menu Category</h2>
                    </div>
                    <div class="customer_info_frm menu_category_wrap">
                        <div class="customer_input_search">
                            <form class="search_form" action="">
                                <div class="form-group cutom_frm">
                                    <input type="text" placeholder="Search Items" name="search">
                                    <button type="submit" class="btn_search"><i class="fa fa-search"></i></button>
                                    <select class="search_select">
                                                    <option>All</option>
                                                    <option *ngFor="let cat of menuCategory" 
                                                    [value]="cat.id" >
                                                {{cat.category_name_eng}}
                                                </option>
                                            </select>
                                </div>
                            </form>
                        </div>
                        <!--dine_transaction-->
                        <!--dine_transaction-->
                        <div class="home_transaction dine_transaction menu_category">
                            <ul>
                                <li *ngFor="let group of menuGroup"  routerLink="/dinein/DineinMenuListCategory">
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinMenuListCategory">
                                        <div class="dine_mg">
                                            <img src="{{group.menu_group_image}}" alt="" />
                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>{{group.group_name_eng}}</label>
                                            </li>
                                        </ul>

                                    </a>
                                </li>



                                <!-- <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">
                                        <div class="dine_mg">
                                            <img src="assets/images/menu/drinks.png" alt="" />

                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>Drinks</label>
                                            </li>
                                        </ul>

                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">
                                        <div class="dine_mg">
                                            <img src="assets/images/menu/pizza.png" alt="" />

                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>Pizza</label>
                                            </li>

                                        </ul>

                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">
                                        <div class="dine_mg">
                                            <img src="assets/images/menu/dessert.png" alt="" />

                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>Dessert</label>
                                            </li>

                                        </ul>

                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">
                                        <div class="dine_mg">
                                            <img src="assets/images/menu/lunchspecial.png" alt="" />

                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>Lunch Special</label>
                                            </li>

                                        </ul>

                                    </a>
                                </li>


                                <li>
                                    <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">
                                        <div class="dine_mg">
                                            <img src="assets/images/menu/dinnerspecial.png" alt="" />

                                        </div>
                                        <ul class="dine_lst">
                                            <li>
                                                <label>Dinner Special</label>
                                            </li>

                                        </ul>

                                    </a>
                                </li> -->


                            </ul>

                        </div>
                        <!--dine_transaction-->


                    </div>


                </div>
                <!--dine_transaction-->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 dine_in_rgt_bg no-padding">
                <div class="dine_rgt_section_tab">
                    <!--dine_tab_section-->
                    <app-dineintab activeTab="/dinein/DineinMenuCategory"></app-dineintab>
                    <!--dine_tab_section-->
                    <!--dine_table-->
                    <div class="dine_table">
                        <h2>{{selectedtablename.join(', ')}}</h2>
                        <div class="dine_table_lst">
                            <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                            <ul>
                                <li>
                                    <p>Seat</p><label>: {{Numseats}}</label>
                                </li>
                                <li>
                                    <p>Status</p><label>: Open</label>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!--dine_table-->

                </div>
            </div>
        </div>




        <!-- <ul class="nav nav-tabs side_nav" role="tablist">
            <li *ngFor="let wallet of coinwallet; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedwallet===wallet">
                <a (click)="selectedwallet = wallet" aria-controls="one" role="tab" data-toggle="tab">{{wallet}}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div *ngIf="selectedwallet === coinwallet[0]" role="tabpanel" class="tab-pane active" id="one">wallet 1 content</div>
            <div *ngIf="selectedwallet === coinwallet[1]" role="tabpanel" class="tab-pane active" id="two">wallet 2 content</div>
        </div> -->




    </div>
</div>
