<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="dine_in_wrap reportable_sales">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sales-report_bg dine_in_lft_bg din_in_cs ">
        <div class="sales_wrapper_aside">

          <div class="sales_flex">
            <div class="sales_box_btnParent">

              <!-- filters -->
              <div class=" tab_content">
                <div class="tab-content">



                  <div role="tabpanel" class="tab-pane active" id="one">
                    <h2 class="pre_header">Sales Report</h2>
                    <div class="sales_box customer_info_frm">
                      <form #f="ngForm">
                        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="phonenumber">Report Type</label>
                                        <select class="form-control" id="Adult" *ngFor="let type on ordermenus">
                                            <option>Select type</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div> -->

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="date">From Date</label>
                            <my-date-picker class="form-control" [options]="myDatePickerOptions" [selDate]="selDate"
                              [(ngModel)]="fromDate" (dateChanged)='filterChange()'
                              [ngModelOptions]="{standalone: true}"></my-date-picker>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="date">To Date</label>
                            <my-date-picker class="form-control" [options]="myDatePickerOptions" [selDate]="selDate"
                              [(ngModel)]="toDate" (dateChanged)='filterChange()' [ngModelOptions]="{standalone: true}">
                            </my-date-picker>
                          </div>
                        </div>
                        <div *ngFor="let filter of selectedorder.filters" [ngSwitch]="filter.type"
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <div *ngSwitchCase="'options'" class="form-group">
                            <label for="{{filter.accessor}}">{{filter.label}}</label>
                            <select ngModel class="form-control" id="{{filter.accessor}}" name="{{filter.accessor}}"
                              (change)="filterChange(f.value)">
                              <option [ngValue]="option.value" *ngFor="let option of filter.values">{{option.label}}
                              </option>
                            </select>
                          </div>
                          <div *ngSwitchCase="'text'" class="form-group">
                            <label for="{{filter.accessor}}">{{filter.label}}</label>
                            <input ngModel type="text" id="{{filter.accessor}}" name="{{filter.accessor}}"
                              placeholder="Type to search {{filter.label}}"
                              (input)="filterChange(f.value)" class="form-control" />
                          </div>
                          <!--  <div class="form-group">
                            <label for="phonenumber">Waiter</label>
                            <select class="form-control" [(ngModel)]="SR_WaiterId" name="SR_WaiterId" id="Adult">
                              <option> </option>
                              <option *ngFor="let staff of staffList;" value="staff.id">
                                {{ staff.first_name | titlecase }} {{ staff.last_name | titlecase }}</option>
                            </select>
                          </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <!-- <div class="form-group radio_groups">
                                        <label for="phonenumber">Menu Group </label>
                                        <ul>
                                            <li>
                                                <input type="radio" id="test2" name="radio-group">
                                                <label for="test2">Show item count</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="test4" name="radio-group">
                                                <label for="test4">Show Receipt Count</label>
                                            </li>
                                        </ul>
                                    </div> -->
                        </div>
                        <div *ngIf="reportData" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <table id="report-table" mat-table [dataSource]="reportData.data"
                            class="mat-elevation-z8 table">
                            <ng-container [matColumnDef]="column.header" *ngFor="let column of selectedorder.columns">
                              <th mat-header-cell *matHeaderCellDef> {{column.header}} </th>
                              <td mat-cell *matCellDef="let element"> {{element[column.accessor]}} </td>
                              <th mat-footer-cell *matFooterCellDef>
                                {{column.showTotal ? reportData.total[column.accessor] : ''}}</th>
                            </ng-container>
                            <tr class="background" mat-header-row *matHeaderRowDef="comlumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: comlumnsToDisplay;"></tr>
                            <tr class="background" mat-footer-row *matFooterRowDef="comlumnsToDisplay"></tr>
                          </table>
                        </div>
                        <div *ngIf="reportData" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <mat-paginator [length]="reportData.totalRows" (page)="pageEvent = $event;changePage()">
                          </mat-paginator>
                        </div>
                        <!-- <table class="table" id="report-table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Invoice</th>
                              <th>Date</th>
                              <th>Tax</th>
                              <th>Shipping</th>
                              <th>Discount</th>
                              <th>Sub Total</th>
                              <th>Grand Total</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="reportSalesList.length>0">
                            <tr *ngFor="let sales of reportSalesList; let i = index; last as isLast;">
                              <td>
                                <span *ngIf="!isLast">{{i+1}}</span>
                              </td>
                              <td>{{ sales.increment_number }}</td>
                              <td *ngIf="!isLast">{{ sales.invoice_date }}</td>
                              <td *ngIf="isLast">Total: </td>
                              <td>{{ sales.tax_total }}</td>
                              <td>{{ sales.shipping_total }}</td>
                              <td>{{ sales.discount_amount }}</td>
                              <td>{{ sales.sub_total }}</td>
                              <td>{{ sales.grand_total }}</td>
                            </tr>

                          </tbody>
                          <tbody *ngIf="reportSalesList.length <= 0">
                            <tr>
                              <td colspan="15">No Sales Report Found</td>
                            </tr>
                          </tbody>
                        </table> -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        </div>
                      </form>
                    </div>
                  </div>




                </div>
              </div>
              <!-- filters -->


              <!-- Controls -->
              <div class="transaction_order_btm">
                <ul>
                  <li>
                    <a href="JavaScript:Void(0)">Reset</a>
                  </li>
                  <li>
                    <a href="JavaScript:Void(0)" (click)="printPageArea('table')">Print Preview</a>
                  </li>
                  <li class="btn_okay">
                    <a href="JavaScript:Void(0)" (click)="printPageArea('table')">Print</a>
                  </li>
                </ul>
              </div>
              <!-- controls -->

            </div>
            <div class="tabs_headerList">
              <ul class="nav nav-tabs side_nav" role="tablist">
                <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}"
                  role="presentation" class="accounts_li" [class.active]="selectedorder.name===order.name">
                  <a (click)="selectedorder = order; changeReport()" aria-controls="one" role="tab" data-toggle="tab">
                    {{ order.name | titlecase }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
