<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg din_in_cs guest_charges">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Customer Information</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="phonenumber"> Phone Number</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="Search" id="phonenumber">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <!-- <input class="form-control" type="text" placeholder="Search" id="date"> -->

                                    <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="Date" required></my-date-picker>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="customer_fn">First Name</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="Albert" id="customer_fn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="customer_lst">Last Name</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="Warner" id="customer_lst">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="remark">Available Loyalty Point</label>
                                    <input class="form-control" type="text" placeholder="Lorem Ipsum is simply dummy" id="remark">
                                </div>
                            </div>



                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="table">Select Card</label>
                                    <select class="form-control" id="table">
                                       <option>Card</option>
                                       <option>13</option>
                                      </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="remark">Remark</label>
                                    <input class="form-control" type="text" placeholder="Lorem Ipsum is simply dummy" id="remark">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="customer_lst">Citizen ID</label>
                                    <div class="search_icon">
                                        <input class="form-control" type="text" placeholder="Citizen ID" id="Citizen ID">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <div class="form-group split_btn_wrapper">
                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding text-right">
                                        <button class="btn btn-cancel">Cancel</button>
                                        <button class="btn btn-okay" routerLink="/nocharge/ChargeGuestHistory">Ok</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>
                <!--dine_transaction-->
            </div>


        </div>
    </div>
</div>