<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap takeawaymenu">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Bill Screen</h2>
                    <div class="bill_screen_tab">
                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                  {{order}}</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="sub_tab_guest_profile">
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <h6>Guest1</h6>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <h6 class="editable"><a href="JavaScript:Void(0);">Edit</a></h6>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                            <form class="form-inline billable_form order_tb" action=" ">
                                                <div class="form-group">
                                                    <label for="name">Name </label>
                                                    <input type="name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Phone No </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Loyalty Points</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Citizen ID</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active" id="two">
                                <form class="form-inline billable_form" action="/action_page.php">


                                    <div class="col-lg-12">
                                        <div class="input_labels label_wt_0">
                                            <label for="guest"> Customer Name</label>
                                            <input type="text" class="form-control sub_child_3" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input_labels label_wt_0">
                                            <label for="guest"> Phone Numbe</label>
                                            <input type="text" class="form-control sub_child_3" placeholder="">
                                        </div>
                                    </div>
                                </form>

                                <div class="table-responsive order_menu">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Items</th>
                                                <th>Qty</th>
                                                <th>Each</th>
                                                <th>Total</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="cell_mark_g"> Beef Burger</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $18.00</td>
                                                <td>$36.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="cell_mark_y"> Veg Burger</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $22.00</td>
                                                <td>$66.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="cell_mark_b"> Cheese</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $20.00</td>
                                                <td>$100.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="cell_mark_p"> Beef Burger</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $150.00</td>
                                                <td>$300.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="item_details_category">
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Items<span>04</span></li>
                                                <li>Total Discount<span>10%</span></li>
                                                <li>Services<span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Total<span>$512.00</span></li>
                                                <li>Due<span>$37.00</span></li>
                                                <li>Tax<span>$5.36</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="home_others dine_others custom_dinein_layout">

                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" routerLink="/">Settlement </a>
                                        </li>


                                    </ul>

                                </div>
                            </div>
                            <div *ngIf="selectedorder === ordermenus[2]" role="tabpanel" class="tab-pane active" id="three">
                                <div class="home_transaction dine_transaction">
                                    <ul class="table_selected">

                                        <li>
                                            <h6>Table 2</h6>
                                            <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">

                                                <div class="dine_mg">
                                                    <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                                                    <img src="assets/images/dinein/dine_in_disable_ico.png" alt="" class="disable_mg" />
                                                    <span class="dine_txt_cen">T2</span>
                                                </div>
                                                <ul class="dine_lst">
                                                    <li>
                                                        <p>Seat</p><label>: 04</label>
                                                    </li>
                                                    <li>
                                                        <p>Status</p><label>: Open</label>
                                                    </li>
                                                </ul>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="home_others dine_others table_selected">

                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" routerLink="/" class="change_bg_clr">Change Table </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)" routerLink="/" class="change_bg_clr"> Merge Table </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_center">
                        <h2>Menu Category</h2>
                    </div>
                    <div class="customer_info_frm menu_category_wrap menu_category_tab_wrap">
                        <div class="customer_input_search">
                            <form class="search_form" action="">
                                <div class="form-group cutom_frm">
                                    <input type="text" placeholder="Search Items" name="search">
                                    <button type="submit" class="btn_search"><i class="fa fa-search"></i></button>
                                    <select class="search_select">
                                                    <option>All</option>
                                                    <option>Category1</option>
                                                    <option>Category1</option>
                                                    <option>Category1</option>
                                            </select>
                                </div>
                            </form>
                        </div>

                        <!--All Menus-->
                        <div class="food_tab_section">
                            <ul class="nav nav-tabs side_nav" role="tablist">
                                <li *ngFor="let fastfood of fastfoodmenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedfastfood===fastfood">
                                    <a (click)="selectedfastfood = fastfood" aria-controls="one" role="tab" data-toggle="tab">
                                  {{fastfood}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div *ngIf="selectedfastfood === fastfoodmenus[0]" role="tabpanel" class="tab-pane active" id="one">
                                    <!--dine_transaction-->


                                    <div class="home_transaction dine_transaction menu_category customer_tab_menu">
                                        <ul>
                                            <li *ngFor="let food of foodList">
                                                <a href="javascript:void(0)">
                                                    <div class="dine_mg">
                                                        <img [src]="food.imageUrl" alt="" />

                                                    </div>
                                                    <ul class="dine_lst">
                                                        <li>
                                                            <label>{{food.foodname}}</label>
                                                        </li>
                                                    </ul>

                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--dine_transaction-->
                                    <div class="transaction_order_btm">
                                        <ul>

                                            <li>
                                                <a routerLink="/">Discount Order</a>
                                            </li>
                                            <li>
                                                <a routerLink="/">Print</a>
                                            </li>
                                            <li>
                                                <a routerLink="/">Hold Bill</a>
                                            </li>
                                            <li>
                                                <a routerLink="/">Add Tag</a>
                                            </li>

                                            <li>
                                                <a routerLink="/" class="cancel_btn">Cancel</a>
                                            </li>

                                        </ul>

                                    </div>


                                </div>
                                <div *ngIf="selectedfastfood === fastfoodmenus[1]" role="tabpanel" class="tab-pane active" id="two">
                                    two2
                                </div>
                                <div *ngIf="selectedfastfood === fastfoodmenus[2]" role="tabpanel" class="tab-pane active" id="three">
                                    three2
                                </div>
                                <div *ngIf="selectedfastfood === fastfoodmenus[3]" role="tabpanel" class="tab-pane active" id="four">
                                    Four4
                                </div>
                                <div *ngIf="selectedfastfood === fastfoodmenus[4]" role="tabpanel" class="tab-pane active" id="five">
                                    five5
                                </div>
                                <div *ngIf="selectedfastfood === fastfoodmenus[5]" role="tabpanel" class="tab-pane active" id="six">
                                    six6
                                </div>
                            </div>
                            <!--All Menus-->



                        </div>


                    </div>
                    <!--dine_transaction-->
                </div>


            </div>








        </div>
    </div>