<app-header></app-header>
<div class="log_sec open_sec">
    <div class="container-fluid">
        <div class="row open_balance_wrap">
            <h2 class="open_bal_title">Enter the Opening Balance </h2>
            <div class="col-md-12 openbalance">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="table-responsive customer_list open_list">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let openbalanceview of openbalanceData">
                                    <td>{{openbalanceview.Type}}</td>
                                    <td>{{openbalanceview.Quantity}}</td>
                                    <td>{{openbalanceview.Amount}}</td>
                                </tr>
                                <tr>
                                    <td class="opb">&nbsp;</td>
                                    <td class="opb"><b>Total</b></td>
                                    <td class="opb"><b>$1850 </b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="ops_cal">
                        <div id="pincode">
                            <div class="table">
                                <div class="cell">
                                    <div id="fields">
                                        <!-- <input type="text" value="" class="ops_txt" /> -->
                                        <input type="text" [(ngModel)]="keyPadNo" class="ops_txt" />
                                    </div>
                                    <div id="numbers" (click)="numberEnters()">
                                        <div class="grid">
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('1')">1</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('2')">2</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('3')">3</button></div>
                                            <div class="grid__col grid__col--1-of-4 bck_clr"><button (click)="keyPressed('$5')">$5</button></div>

                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('4')">4</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('5')">5</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('6')">6</button></div>
                                            <div class="grid__col grid__col--1-of-4 bck_clr"><button (click)="keyPressed('$10')">$10</button></div>

                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('7')">7</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('8')">8</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('9')">9</button></div>
                                            <div class="grid__col grid__col--1-of-4 bck_clr"><button (click)="keyPressed('$20')">$20</button></div>



                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('')"></button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('0')">0</button></div>
                                            <div class="grid__col grid__col--1-of-4"><button (click)="keyPressed('clear')"><img src="assets/images/delete.png"/></button></div>
                                            <div class="grid__col grid__col--1-of-4 bck_clr"><button button (click)="keyPressed('$50')">$50</button></div>

                                        </div>


                                    </div>
                                    <div class="nxt_btn"> <input type="submit" value="Next"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
