<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap guest-menu-screens section_copied">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Bill Screen</h2>
                    <div class="bill_screen_tab">
                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                  {{order}}</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                                <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="sub_tab_guest_profile">
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <h6>Guest1</h6>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <h6 class="editable"><a href="JavaScript:Void(0);">Edit</a></h6>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                            <form class="form-inline billable_form order_tb" action=" ">
                                                <div class="form-group">
                                                    <label for="name">Name </label>
                                                    <input type="name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Phone No </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Loyalty Points</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Citizen ID</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active" id="two">
                                <form class="form-inline billable_form" action="/action_page.php">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="input_labels label_wt_0">
                                            <label for="guest">Customer Name</label>
                                            <input type="text" class="form-control sub_child_3" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="input_labels label_wt_0">
                                            <label for="guest">Phone Number</label>
                                            <input type="text" class="form-control sub_child_3" placeholder="">
                                        </div>
                                    </div>
                                </form>

                                <div class="table-responsive order_menu">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Items</th>
                                                <th>Qty</th>
                                                <th>Each</th>
                                                <th>Total</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class=""> Beef Burger</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $18.00</td>
                                                <td>$36.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                            <tr>
                                                <td class=""> Veg Burger</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $22.00</td>
                                                <td>$66.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                            <tr>
                                                <td class=""> Cheese</td>
                                                <td><img src="assets/images/increment_btn.png" (click)="decrement()" />
                                                    <span class="counter_val">{{counter}} </span>
                                                    <img src="assets/images/decrement_btn.png" (click)="increment()" /></td>
                                                <td> $20.00</td>
                                                <td>$100.00</td>
                                                <td><i class="fa fa-trash"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="item_details_category">
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Items<span>04</span></li>
                                                <li>Total Discount<span>10%</span></li>
                                                <li>Services<span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Total<span>$512.00</span></li>
                                                <li>Due<span>$37.00</span></li>
                                                <li>Tax<span>$5.36</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs padding_mob_0 form_selectionOrder">
                <div class="dine_in_lft ">
                    <div class="dinein_tophead dine_center">
                        <h2>Assign to Kitchen</h2>
                    </div>
                    <div class="customer_info_frm menu_category_wrap menu_category_tab_wrap">
                        <div class="sub_selectionOrder">
                            <div class="form_order_select">
                                <h6 class="header6_common">Would you like to Confirm your order</h6>
                                <div class="form-group">
                                    <label>Select Branch</label>
                                    <select class="form-control">
                                       <option >Select Branch</option>
                                       <option >6</option>
                                    </select>
                                </div>
                                <div class="form-group split_btn_wrapper">
                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding text-center">
                                        <button class="btn btn_120 btn-cancel">Cancel</button>
                                        <button class="btn btn_120 btn_orange" routerLink="/nocharge/ChargeGuestHistory">Confirm</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>



                <router-outlet></router-outlet>
            </div>








        </div>
    </div>