<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Driver Routing</h2>
                    </div>
                    <!--dineIn_tophead-->
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 no_pad">
                        <div class="customer_dine newtrip_list">
                            <div class="table-responsive customer_list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="btn btn-filter">
                                     <input type="checkbox" name="allnewtriplist" [value]="newtripData" (change)="allnewtriplist($event)">
                                      <span class="checkbox-button__control"></span>
                                     </label>
                                            </th>
                                            <th>Receipt</th>
                                            <th>Driver</th>
                                            <th>Guest Name</th>
                                            <th>Address</th>
                                            <th>Time</th>
                                            <th>Zone</th>
                                            <th>Driver went by</th>
                                            <th>Total Order Time</th>
                                            <th>Order Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let newtriplist of newtripData">
                                            <td>
                                                <label class="btn btn-filter">
    <input type="checkbox" name="holdreceipt" [checked]="newtriplist.selected" (change)="changenewtriplist($event)">{{ newtriplist.label }} <span class="checkbox-button__control"></span>
                                            </label>
                                            </td>
                                            <td>{{newtriplist.newtripreceipt}}</td>
                                            <td>{{newtriplist.newtripdriver}}</td>
                                            <td>{{newtriplist.newtripguestname}}</td>
                                            <td class="trip_add">{{newtriplist.newtripaddress}}</td>
                                            <td>{{newtriplist.newtriptime}}</td>
                                            <td>{{newtriplist.newtripzone}}</td>
                                            <td>{{newtriplist.newtripdriverwentby}}</td>
                                            <td>{{newtriplist.newtriptotalordertime}}</td>
                                            <td>{{newtriplist.newtripordervalue}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!---->

                            <!---->


                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="trip_status" *ngFor="let tripstatus of tripdata">
                            <div class="trip_title">{{tripstatus.triptitle}}</div>
                            <div class="trip_list">
                                <ul>
                                    <li *ngFor="let tripstatusvalue of tripvaluedata">{{tripstatusvalue.tripvalue}}</li>
                                </ul>
                            </div>
                        </div>


                        <div class="form-group selected_group">
                            <label for="selectcard">Select Driver</label>
                            <select class="form-control" id="selectcard">
                                        <option>Sam</option>
                                        <option>David</option>
                                      </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class=" transaction_order_btm merge_order flex-end-cs">
                            <ul>
                                <li>
                                    <a href="# ">IN</a>
                                </li>


                                <li>
                                    <a href="# " class="settle ">Change Driver </a>
                                </li>



                            </ul>

                        </div>
                    </div>

                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
