<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg din_in_cs guest_charges">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Table Reservation</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="col-md-12">
                                        <h4>Customer Details</h4>
                                    </div>                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phonenumber"> Phone Number</label>
                                            <input class="form-control" type="text" placeholder="Phone Number" (change)="searchCustomers($event)" [(ngModel)]='customer.phone' name="phone">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">First Name</label>
                                                    <input class="form-control" type="text" placeholder="First Name" [(ngModel)]='customer.first_name' name="first_name">
                                                </div>
                                            </div>            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">Last Name</label>
                                                    <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]='customer.last_name' name="last_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="customer_lst">Email</label>
                                                <input class="form-control" type="text" placeholder="Email" [(ngModel)]='customer.email' name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="col-md-12">
                                        <h4>Reservation Details</h4>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="customer_lst">Select Floor</label>
                                                    <select class="form-control" 
                                                        #selectfloor
                                                        (change)='onFloorSelected(selectfloor.value)'>
                                                        <option *ngFor="let floor of floorList" [value]="floor.id" >{{floor.floor_name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="customer_lst">Select Table</label>
                                                    <select class="form-control" 
                                                        #selecttable
                                                        (change)='onTableSelected(selecttable.value)' >
                                                        <option>Select Table</option>
                                                        <option *ngFor="let table of tableList" [value]="table.table_id">{{ table.table_code }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="date">Date</label>
                                                <my-date-picker class="form-control" name="mydate" 
                                                [options]="myDatePickerOptions" 
                                                [selDate]="selDate" 
                                                [(ngModel)]="Date"
                                                (dateChanged)='onDateSelected($event)'
                                                ></my-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Total Available Seats: {{ avail_seat }}</p>
                                        </div>
                                    </div>
                                    <div class="row">  
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>From Time </label>
                                                    <input class="form-control" type="time" atp-time-picker [(ngModel)]="booking_data.reserved_from" name="reserved_from" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>To Time </label>
                                                    <input class="form-control" type="time" atp-time-picker [(ngModel)]="booking_data.reserved_to" name="reserved_to" />
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No of Chairs</label>
                                                <input class="form-control" [(ngModel)]="booking_data.occupied_chairs" name="occupied_chairs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            

                            
                        </form>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <button class="btn btn-success" type="button" (click)="reserveTable();">Submit</button>
                    </div>
                </div>
                <!--dine_transaction-->
            </div>


        </div>
    </div>
</div>