.checkbox input,
.checkbox-inline input,
.radio input,
.radio-inline input {
    opacity: 0;
    position: absolute;
}

.checkbox label,
.radio label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox .indicator,
.checkbox-inline .indicator,
.radio .indicator,
.radio-inline .indicator {
    position: relative;
}

.checkbox .indicator:before,
.checkbox-inline .indicator:before,
.radio .indicator:before,
.radio-inline .indicator:before {
    content: '';
    width: 120px;
    display: inline-block;
    text-align: center;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    color: #BDBDBD;
    font-size: 20px;
    border-radius: 4px !important;
}

.checkbox input:checked+.indicator address,
.checkbox-inline input:checked+.indicator address {
    color: #ffffff !important;
    z-index: 999999;
}

.checkbox input:checked+.indicator:before,
.checkbox-inline input:checked+.indicator:before {
    border-color: #FF5B2E;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#00f" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>') no-repeat;
}

.checkbox input:disabled+.indicator:before,
.checkbox-inline input:disabled+.indicator:before {
    border-color: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox input:checked:disabled+.indicator:before,
.checkbox-inline input:checked:disabled+.indicator:before {
    border-color: #ccc;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#ccc" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>') no-repeat;
}

.radio input+.indicator:before,
.radio-inline input+.indicator:before {
    border-radius: 50%;
}

.radio input:checked+.indicator:before,
.radio-inline input:checked+.indicator:before {
    border-color: #FF5B2E;
    background: #FF5B2E;
    /* box-shadow: inset 0px 0px 0px 5px #fff; */
    width: 120px;
    /* height: 50px; */
    border-radius: 0
}

.radio input:checked+.indicator address {
    color: #fff;
}

.radio input:checked+.indicator:before address,
.radio-inline input:checked+.indicator:before address {
    color: #ffffff !important;
}

span.indicator {
    width: 100% !important;
    display: inline;
    background: none;
    border: none;
    box-sizing: unset;
    box-shadow: none;
}

.checkbox,
.radio {
    margin: 20px 0px 0px 0px !important;
}

span.indicator address {
    position: absolute;
    top: -26px;
    left: 36px;
    z-index: 999999;
    margin-bottom: 0;
    color: #BDBDBD;
    font-size: 20px;
}

.radios_header .radio:last-child span.indicator address {
    left: 46px;
}

.radios_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radios_header .radio {
    margin-top: 0px !important;
    margin-bottom: 8px !important;
}

.radios_header {
    margin-bottom: 15px;
}