<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap order_listWrapper">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bg_white pr1 no-padding">
                <div class="bill_screen_wrap">
                    <div *ngIf="selectedfastfood === fastfoodmenus[0]" role="tabpanel" class="tab-pane active" id="one">
                        <div class="table-responsive order_menu receipt_tb">
                            <div class="radius_alt table-responsive">
                                <table class="table recipt">
                                    <thead>
                                        <tr>
                                            <th>Receipt </th>
                                            <th> New Receipt</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">Bill Amount </td>
                                            <td class="">$300.00</td>

                                        </tr>
                                        <tr>
                                            <td class=""> Add Tips</td>
                                            <td class=""></td>
                                        </tr>
                                        <tr>
                                            <td class=""> Total</td>
                                            <td class="toal_amt">$600.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Paid</td>
                                            <td class="">$200.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Due Amount </td>
                                            <td class="">$700.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <!--table2-->
                            <div class="radius_alt table-responsive">
                                <table class="table ht_70">
                                    <thead>
                                        <tr>
                                            <th>Payment </th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Cash</td>
                                            <td class="bill_amt"> $600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>

                                        <tr class="visible_hidden">
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="td_footer b_lt"> Total</td>
                                            <td class="toal_amt td_footer ">$600.00</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedfastfood === fastfoodmenus[1]" role="tabpanel" class="tab-pane active" id="two">
                        <div class="table-responsive order_menu receipt_tb">
                            <div class="radius_alt table-responsive">
                                <table class="table recipt">
                                    <thead>
                                        <tr>
                                            <th>Receipt </th>
                                            <th> New Receipt</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">Bill Amount </td>
                                            <td class="">$300.00</td>

                                        </tr>
                                        <tr>
                                            <td class=""> Add Tips</td>
                                            <td class=""></td>
                                        </tr>
                                        <tr>
                                            <td class=""> Total</td>
                                            <td class="toal_amt">$600.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Paid</td>
                                            <td class="">$200.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Due Amount </td>
                                            <td class="">$700.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <!--table2-->
                            <div class="radius_alt table-responsive">
                                <table class="table ht_70">
                                    <thead>
                                        <tr>
                                            <th>Payment </th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Cash</td>
                                            <td class="bill_amt"> $600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Card</td>
                                            <td> $600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>

                                        <tr class="visible_hidden">
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="td_footer b_lt"> Total</td>
                                            <td class="toal_amt td_footer ">$600.00</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>


                    <div *ngIf="selectedfastfood === fastfoodmenus[2]" role="tabpanel" class="tab-pane active" id="three">
                        <div class="table-responsive order_menu receipt_tb">
                            <div class="radius_alt table-responsive">
                                <table class="table recipt">
                                    <thead>
                                        <tr>
                                            <th>Receipt </th>
                                            <th> New Receipt</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">Bill Amount </td>
                                            <td class="">$300.00</td>

                                        </tr>
                                        <tr>
                                            <td class=""> Add Tips</td>
                                            <td class=""></td>
                                        </tr>
                                        <tr>
                                            <td class=""> Total</td>
                                            <td class="toal_amt">$600.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Paid</td>
                                            <td class="">$200.00 </td>
                                        </tr>
                                        <tr>
                                            <td class="">Due Amount </td>
                                            <td class="">$700.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <!--table2-->
                            <div class="radius_alt table-responsive">
                                <table class="table ht_70">
                                    <thead>
                                        <tr>
                                            <th>Payment </th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Cash</td>
                                            <td class="bill_amt">$600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Card</td>
                                            <td> $600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="">21-Jun-2019<small>08:50 pm</small></td>
                                            <td>Loyalty Points</td>
                                            <td> $600</td>
                                            <td><img src="assets/images/bin.png" alt="" title="" /></td>
                                        </tr>
                                        <tr class="visible_hidden">
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                            <td class="">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="td_footer b_lt"> Total</td>
                                            <td class="toal_amt td_footer ">$600.00</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 bg_white  pl1 br_epic no-padding">
                <div class="container_form">
                    <div class="dinein_tophead dine_center">
                        <h2>Payment Options</h2>
                    </div>
                    <!--Tab-->
                    <!--All Menus-->
                    <div class="food_tab_section">
                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <li *ngFor="let fastfood of fastfoodmenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedfastfood===fastfood">
                                <a (click)="selectedfastfood = fastfood" aria-controls="one" role="tab" data-toggle="tab">
                                 {{fastfood}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div *ngIf="selectedfastfood === fastfoodmenus[0]" role="tabpanel" class="tab-pane active" id="one">
                                <div class="header_sub_container">
                                    <div class="sub_container_form checked_label">
                                        <small>Tender</small>
                                        <form action="" class="form-inline">
                                            <!-- <ul>
                                                <li>
                                                    <span>$100</span></li>
                                                <li>
                                                    <span>$100</span></li>
                                                <li>
                                                    <span>$100</span></li>
                                                <li>
                                                    <span>$100</span></li>
                                            </ul> -->
                                            <div class="radios_header">


                                                <div class="radio">
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>$100</address></span>
                                                </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>$50</address></span>  
                                                </label>
                                                </div>
                                                <div class="radio ">
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>$10</address></span> 
                                                </label>
                                                </div>
                                                <div class="radio ">
                                                    <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>$5</address></span>  
                                                </label>
                                                </div>
                                            </div>

                                            <div class="form-group wt_100">
                                                <input type="text" class="form-control" placeholder="$ Enter Manually">
                                            </div>
                                            <div class="form-group button_group">
                                                <label for="email">Total Value</label>
                                                <input type="text" class="form-control" placeholder="">
                                                <button type="button" class="btn btn-create_success">Confirm</button>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="button_group">
                                        <button type="button" class="btn btn-create">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedfastfood === fastfoodmenus[1]" role="tabpanel" class="tab-pane active" id="two">

                                <div class="header_sub_container">
                                    <div class="sub_container_form checked_label">
                                        <small>Card</small>
                                        <form action="" class="label_static">
                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Card Number</label>
                                                    <input type="text" class="form-control" placeholder="Enter Manually">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Card Number</label>
                                                    <select class="form-control">
                                                        <option *ngFor="let s of cardvalues">{{s.options}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter Manually">
                                                </div>
                                            </div>
                                            <div class="form-inline">
                                                <div class="form-group button_group  wt_100">
                                                    <label for="email">Total Value</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                    <button type="button" class="btn btn-create_success">Confirm</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="button_group">
                                        <button type="button" class="btn btn-create">Submit</button>
                                    </div>

                                </div>
                            </div>
                            <div *ngIf="selectedfastfood === fastfoodmenus[2]" role="tabpanel" class="tab-pane active" id="three">

                                <div class="header_sub_container">
                                    <div class="sub_container_form checked_label">
                                        <small>Loyalty Point</small>
                                        <form action="" class="label_static">

                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" placeholder="Enter Manually">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Customer Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter Manually">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Available Points</label>
                                                    <input type="text" class="form-control" placeholder="Enter Manually">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                                <div class="form-group wt_100">
                                                    <label>Utilized Points</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>

                                            <div class="form-inline">
                                                <div class="form-group button_group wt_100">
                                                    <button type="button" class="btn btn-create_success pull-right">Confirm</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="button_group">
                                        <button type="button" class="btn btn-create">Submit</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--All Menus-->



                    </div>
                    <!--/Tab-->
                </div>
            </div>
        </div>
    </div>