<app-header></app-header>



<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap call-guest-list">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12   dine_in_rgt_bg   nocharges_tab">
                <div class="dine_in_lft">
                    <div class="dinein_tophead dine_ci_title">
                        <h2>Call Center</h2>
                    </div>
                    <div class="customer_info_frm">
                        <form>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label>Select Branch</label>
                                        <select class="form-control" #selectbranch
                                        (change)='onBranchSelected(selectbranch.value)' 
                                        [(ngModel)]="branch" name="branch">
                                            <option >Select Branch</option>
                                            <option *ngFor="let branch of branches; let i = index;" [value]="branch.id">{{ branch.branch_name_eng }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="home_transaction">
                                                    <ul>
                                                        <li>
                                                            <a href="/dinein/DineinMenuListCategory">
                                                                <div class="trans_mg">
                                                                    <img src="assets/images/home/dine_in.png" alt="" />
                                                                    <label>.</label>
                                                                </div>
                                                                <span>Delivery</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="home_transaction">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)"  (click)="choosetype('type2')">
                                                                <!-- routerLink="/tablereservation/ChargeTableReservation" -->
                                                                <div class="trans_mg">
                                                                    <img src="assets/images/home/dine_in.png" alt="" />
                                                                    <label>11</label>
                                                                </div>
                                                                <span>Table Reservation</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            <div class="col-md-3"></div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <button class="btn btn-warning" type="button" >Cancel</button>
                    </div>
                </div>

            </div>


        </div>
    </div>