<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Item Listing</h2>
                        <div class="dinein_tophead_right">
                            <!-- <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>

                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div> -->


                            <!-- <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div> -->
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                     <!-- <input type="checkbox" name="allholdItemList" [value]="all" (change)="allholdItemList($event)"> -->
                                     <input type="checkbox" name="allholdItemList" [checked]="checkAllholditemlist" (change)="allholdItemList($event.target.checked)">
                                      <span class="checkbox-button__control"></span>
                                     </label>
                                        </th>
                                        <th>KOT No</th>
                                        <!-- <th>Order Source</th> -->
                                        <th>Floor</th>
                                        <th>Table</th>
                                        <th>Waiter</th>
                                        <th>Customer</th>
                                        <th>Order Item</th>
                                        <!-- <th>Deliver Time</th> -->
                                    </tr>
                                </thead>
                                <tbody  *ngIf="holdItemData.length > 0">
                                    <tr *ngFor="let holditemlist of holdItemData; let i=index;">
                                        <td>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" name="holditem" [value]="holditemlist.id" [checked]="selectedIds[i]"  (change)="changeholdItemList($event)"><span class="checkbox-button__control"></span>
                                                <!-- <input type="checkbox" name="holditem" [value]="holditemlist.id" [checked]="holditemlist.selected" (change)="changeholdItemList($event)">{{ holditemlist.label }} <span class="checkbox-button__control"></span> -->
                                            </label>
                                        </td>
                                        <td>{{holditemlist.kot_number}}</td>
                                        <!-- <td>{{holditemlist.holdItemordersource}}</td> -->
                                        <td>{{holditemlist.kot_floor_name}}</td>
                                        <td>{{holditemlist.kot_table}}</td>
                                        <td>{{holditemlist.waiter_name}}</td>
                                        <td>{{holditemlist.customer_name}}</td>
                                        <td><span *ngFor="let menu of holditemlist.menus">{{menu.menu_name_eng}} <span style="display:inline-block;">{{ menu.qty}} </span></span></td>
                                        <!-- <td>{{holditemlist.holdItemDelivertime}}</td> -->

                                    </tr>

                                </tbody>
                                <tbody *ngIf="holdItemData.length <= 0">
                                    <tr>
                                        <td colspan="7" style="text-align:center;">
                                            No Item's in Hold
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order flex-end-cs">
                        <ul>
                            <li>
                                <a (click)="updateKot()" >Manual</a>
                            </li>


                            <li>
                                <a (click)="cancelKot()" class="settle">Fire</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
