<app-header></app-header>
<div id="chart"></div>
<div class="home_wrap bg_wrap">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <!--home_transaction-->
                <div class="home_transaction">
                    <h2>Transaction </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('dinein')">
                                <div class="trans_mg">
                                    <img src="assets/images/home/dine_in.png" alt="" />
                                    <label>.</label>
                                </div>
                                <span>Dine In</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('takeaway')">
                                <div class="trans_mg">
                                    <img src="assets/images/home/take_away.png" alt="" />
                                    <label>03</label>
                                </div>
                                <span>Take Away</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('delivery')">
                                <!-- <a href="javascript:void(0)" routerLink="/newtrip/deliverylist" > -->
                                <div class="trans_mg">
                                    <img src="assets/images/home/delivery.png" alt="" />
                                    <label>05</label>
                                </div>
                                <span>Delivery</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('nocharge')">
                                <div class="trans_mg">
                                    <img src="assets/images/home/nocharge.png" alt="" />
                                    <label>06</label>
                                </div>
                                <span>No Charge</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('reservation')"
                                routerLink="/tablereservation/ChargeTableReservation">
                                <div class="trans_mg">
                                    <img src="assets/images/home/dine_in.png" alt="" />
                                    <label>11</label>
                                </div>
                                <span>Table Reservation</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('callcenter')"
                                routerLink="/callcenter/SelectBranch">
                                <div class="trans_mg">
                                    <img src="assets/images/home/call-center-worker-with-headset.png" alt="" />
                                    <label>20</label>
                                </div>
                                <span>Call Center</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--home_transaction-->

                <!--home_transaction-->
                <div class="home_transaction">
                    <h2>Transaction </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" routerLink="/kot/KotListing">
                                <div class="trans_mg">
                                    <img src="assets/images/home/swipe.png" alt="" />
                                    <label>20</label>
                                </div>
                                <span>KOT</span>
                            </a>
                        </li>

                        <li>
                            <!-- <a href="javascript:void(0)" routerLink="/receipt/DineinMergeReceipt"> -->
                            <a href="javascript:void(0)" routerLink="/invoicelisting/invoicelisting">
                                
                                <div class="trans_mg">
                                    <img src="assets/images/home/receipt.png" alt="" />
                                    <label>12</label>
                                </div>
                                <span>Receipt</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/holditems/holdItemlist">
                                <div class="trans_mg">
                                    <img src="assets/images/home/dine_in.png" alt="" />
                                    <label>18</label>
                                </div>
                                <span>Hold Items</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/holdreceipt/holdreceiptlist">
                                <div class="trans_mg">
                                    <img src="assets/images/home/bill.png" alt="" />
                                    <label>20</label>
                                </div>
                                <span>Hold Receipt </span>
                            </a>
                        </li>

                        <!-- <li>
                            <a href="javascript:void(0)" routerLink="/kot/CallCenterListing">
                                <div class="trans_mg">
                                    <img src="assets/images/home/information.png" alt="" />
                                    <label>17</label>
                                </div>
                                <span>Call Center Order List</span>
                            </a>
                        </li> -->

                        <li>
                            <a href="javascript:void(0)" routerLink="/tablereservation/ChargeTableReservationList">
                                <div class="trans_mg">
                                    <img src="assets/images/home/reservation.png" alt="" />
                                    <label>12</label>
                                </div>
                                <span>Reservation list</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--home_transaction-->

                <!--home_transaction-->
                <div class="home_transaction">
                    <h2>Drive Routing </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" routerLink="/newtrip/newtriplist">
                                <!-- <a href="javascript:void(0)" (click)="GotoModulePage('delivery')" routerLink="/newtrip/newtriplist"> -->

                                <div class="trans_mg">
                                    <img src="assets/images/home/trip.png" alt="" />

                                </div>
                                <span>New Trip</span>
                            </a>
                        </li>

                        <li>
                            <!-- <a href="javascript:void(0)" routerLink="/checkin/checklist"> -->
                            <a href="javascript:void(0)" routerLink="/newtrip/deliverylist">
                                <div class="trans_mg">
                                    <img src="assets/images/home/checkin.png" alt="" />
                                    <label>08</label>
                                </div>
                                <span>Check In</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/status/">
                                <div class="trans_mg">
                                    <img src="assets/images/home/smartphone-call.png" alt="" />
                                    <label>05</label>
                                </div>
                                <span>Status</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('report')"
                                routerLink="/report/SalesReports">
                                <div class="trans_mg">
                                    <img src="assets/images/home/report.png" alt="" />
                                </div>
                                <span>Report</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/dayclose/DayOpen">
                                <div class="trans_mg">
                                    <img src="assets/images/home/close.png" alt="" />

                                </div>
                                <span>Day Open</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/dayclose/DayClose">
                                <div class="trans_mg">
                                    <img src="assets/images/home/close.png" alt="" />

                                </div>
                                <span>Day Close</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/message/messageScreen">
                                <div class="trans_mg">
                                    <img src="assets/images/home/message.png" alt="" />
                                    <label>05</label>
                                </div>
                                <span>Message</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--home_transaction-->


            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="home_others">
                    <h2>Other's </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('miscellanousSales')"
                                routerLink="/miscellanous/MiscellanousSales">Miscellaneous Sales</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" (click)="GotoModulePage('accountpayment')"
                                routerLink="/account-payment/accountpaylist">Account Payment</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" routerLink="/clearkot/clearkots">Clear KOT</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>