<head>
<!--   <style>
    *.print-ticket {
      font-size: 8px;
      font-family: 'Times New Roman';
      text-transform: uppercase;
    }

    .print_header {
      display: block;
    }

    td,
    th,
    tr,
    table {
      /*border-bottom: 2px dotted black;*/
      border-collapse: collapse;
    }

    table {
      border-bottom: 2px dotted black;
      width: 100%;
      border-collapse: collapse;
    }

    td.description,
    th.description {
      width: 40%;
      max-width: 40%;
    }

    td.quantity,
    th.quantity {
      width: 15%;
      max-width: 15%;
      word-break: break-all;
      text-align: right;
    }

    .centered {
      text-align: center;
      align-content: center;
    }

    .ticket {
      width: 100%;
      max-width: 100%;
    }

    img.logo-print {
      background-size: cover;
      width: 120px;
      height: 120px;
      border: 5px solid white;
      padding: 0.25rem;
      border-radius: 50%;
    }

    @page {
      margin: 0;
    }

  </style> -->

</head>

<body>
  <script>
    const ipcRenderer = require("electron").ipcRenderer;

    ipcRenderer.on("printToKitchen", (event, {
      id,
      htmlContent,
      printerOptions
    }) => {
      document.body.innerHTML = htmlContent;

      ipcRenderer.send("readyToPrintToKitchen", {id, printerOptions});
    });

  </script>
</body>
