.account_form {
    background: #ffffff;
}

.account_wrap_frm {
    width: 963px;
    margin: 0 auto;
}

.account_shd {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    float: left;
    margin-top: 15px;
}

.account_personal_info h1 {
    background: #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    margin: 0px;
    color: #4C4C4C;
    font-size: 18px;
    padding: 13px 20px;
    border-bottom: 1px solid #E1E1E1;
    font-weight: bold;
}

.account_payment_info h1 {
    text-align: center;
    border-radius: 0px;
    margin: 0px;
    color: #4C4C4C;
    font-size: 18px;
    padding: 13px 20px;
    font-weight: bold;
    margin-top: 15px;
}

.account_shd .customer_info_frm {
    padding: 0px 18px;
}

.account_shd .customer_info_frm ul li .form-group {
    margin-bottom: 0px;
}

.account_shd .customer_info_frm ul li .form-group textarea {
    height: 100px;
}

.account_shd .customer_info_frm ul li:last-child .form-group {
    margin-bottom: 20px;
}

.account_payment_info .customer_info_frm {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    min-height: 512px;
}

.account_wrap_frm .merge_order ul {
    justify-content: flex-end !important;
    margin-top: 25px;
}