<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg account_form">
                <div class="dine_in_lft">

                    <div class="account_wrap_frm">
                        <div class="dinein_tophead merge-receipts">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <h2>Amount Paid</h2>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                            <div class="account_personal_info account_shd">
                                <h1>Personal Information</h1>
                                <div class="customer_info_frm">
                                    <form>

                                        <ul>
                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Date</label>
                                                    <input class="form-control" type="text" placeholder="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Amount Type</label>
                                                    <input class="form-control" type="text" placeholder="$2885">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Paid By</label>
                                                    <input class="form-control" type="text" placeholder="David">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Remark</label>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                            <div class="account_payment_info account_shd">

                                <div class="customer_info_frm">
                                    <h1>Payment Information</h1>
                                    <form>

                                        <ul>
                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Date</label>
                                                    <input class="form-control" type="text" placeholder="Payment Type">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label for="Adult">Select Currency </label>
                                                    <select class="form-control" id="Adult">
                                                      <option>Select Currency</option>
                                                      <option>Select Currency 1</option>
                                                    </select>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-group">
                                                    <label for="customer_lst">Amount Paid</label>
                                                    <input class="form-control" type="text" placeholder="$">
                                                </div>
                                            </li>

                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class=" transaction_order_btm merge_order ">
                            <ul>
                                <li>
                                    <a href="# " class="settle ">Finish</a>
                                </li>
                            </ul>

                        </div>
                    </div>


                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>