.search_icon.customer_w100 {
  width: 100%;
}
.dine_in_wrap.customer_info_wrap {
  width: 700px;
  margin: 0px auto;
  float: none;
  max-width: 100%;
}

.dine_in_wrap.customer_info_wrap .dine_in_lft_bg {
  min-height: 100%;
  float: left;
  margin: 50px auto;
}
.dine_in_wrap.customer_info_wrap .finish_btn {
  float: right;
  margin: 0;
  width: calc(50% - 15px);
}
