<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>KOT  Master List</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="KOTDate" required></my-date-picker>
                                <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            
                                        </th>
                                        <th>KOT # / Token #</th>
                                        <th>Date/Time</th>
                                        <th>Floor</th>
                                        <th>Table</th>
                                        <th>Guest Name</th>
                                        <th>Guest No</th>
                                        <th>Status</th>
                                        <th>ServerName</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody >                                   
                                       
                                          <tr *ngFor="let KotReceiptList of KotReceiptListData">
                                            <td>
                                                <label class="btn btn-filter">
        <input type="checkbox" name="trades" [checked]="KotReceiptList.selected" (change)="changekotReceiptList($event)">{{ KotReceiptList.label }} <span class="checkbox-button__control"></span>
                                                </label>
                                            </td>
                                            <td>{{KotReceiptList.kot_number}}</td>
                                            <td>{{KotReceiptList.kot_date}}<span>{{KotReceiptList.kot_time}}</span></td>
                                            <td>{{KotReceiptList.kot_floor_name}}</td>
                                            <td>{{GetTableid(KotReceiptList.kot_table) }}</td>
                                            <td>{{KotReceiptList.customer_name}}</td>
                                            <td>{{KotReceiptList.guest}}</td>
                                            <td>{{KotReceiptList.status}}</td>
                                            <td>{{KotReceiptList.kotServername}}</td>
                                            <td> 
                                                <button class="btn btn-primary" routerLink="/kot/KotDetails/{{KotReceiptList.id}}"> Details </button>
                                                <button class="btn btn-danger" routerLink="/kot/KotDetails/{{KotReceiptList.id}}"> Cancel </button>
                                            </td>
                                        
                                          </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                        <!---->


                    </div>
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a routerLink="/">Reprint Label</a>
                            </li>
                            <li>
                                <a routerLink="/">Reprint</a>
                            </li>
                            <li>
                                <a routerLink="/">No Charge</a>
                            </li>
                            <li>
                                <a routerLink="/">Mark Receipt</a>
                            </li>

                            <li>
                                <a routerLink="/">Void</a>
                            </li>

                            <li>
                                <a routerLink="/" class="settle">Recall</a>
                            </li>



                        </ul>

                    </div>
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
