<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap gurest_histories">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <!-- <h2 routerLink="/" ><i aria-hidden="true" class="fa fa-arrow-left"></i>Order History</h2> -->
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt relative_post">
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="OrderHistoryDate" required></my-date-picker>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12  no-padding">
                        <div class="customer_dine ">
                            <div class="table-responsive customer_list ">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>KOT</th>
                                            <th>Receipt No</th>
                                            <th>Customer Name</th>
                                            <th>Order Type</th>
                                            <th>Order Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let mergereceipt of mergereceiptdata " id="sf">
                                            <td>{{mergereceipt.mergedate}}<span>{{mergereceipt.mergetime}}</span></td>
                                            <td>{{mergereceipt.mergekot}}</td>
                                            <td>{{mergereceipt.mergeRecpno}}</td>
                                            <td>{{mergereceipt.mergeName}}</td>
                                            <td>{{mergereceipt.mergeType}}</td>
                                            <td>{{mergereceipt.mergeValue}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!---->

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 receipt_tb ">
                        <!--table2-->
                        <div class="radius_alt table-responsive order_menu ">
                            <table class="table ht_70 ">
                                <thead>
                                    <tr>
                                        <th>No </th>
                                        <th>Description</th>
                                        <th>QTY</th>
                                        <th style="text-align: right; ">Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of history ">
                                        <td class=" ">{{t.no}}</td>
                                        <td>{{t.descipt}}</td>
                                        <td class=" ">{{t.qty}}</td>
                                        <td style="text-align:right; ">{{t.total}}</td>
                                    </tr>
                                    <tr class="visible_hidden ">
                                        <td class=" ">&nbsp;</td>
                                        <td class=" ">&nbsp;</td>
                                        <td class=" ">&nbsp;</td>
                                        <td class=" ">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2 "></td>
                                        <td class="td_footer b_lt "> Total</td>
                                        <td class="toal_amt td_footer ">$1200.00</td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <!--Button-->
                <div class="button_group  switch_buttons">
                    <button class="btn btn-create btn_180" type="button" routerLink="/nocharge/ChargeTableReservation">Reorder</button>
                </div>
                <!---->
            </div>
        </div>
    </div>
</div>