<app-header></app-header>
<div class="container-fluid split_bills">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap">
                    <h2>Bill Screen</h2>
                    <div class="form-inline">
                        <label class="label_light">Receipt#</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="bill_screen_tab">
                        <div class="table-responsive order_menu">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>QTY</th>
                                        <th>Description</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let menu of kotDetailMenu">
                                    <tr [ngClass]="(menu.status  == 'cancelled')?'strikeout':''" >
                                        
                                        <td>{{menu.qty}}</td>
                                        <td>{{menu.menu_name_eng}}</td>
                                        <td>{{currency.currency_symbol}} {{menu.grand_total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="item_details_category">
                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <li>Items<span>{{ getTotalQty() }}</span></li>
                                        <!-- <li>Total Discount<span>0%</span></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <li>Discount<span>{{currency.currency_symbol}} {{ discount_value | number:'.2-2' }}</span></li>
                                        <!-- <li>Total Discount<span>0%</span></li> -->
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-4 col-sm-12 no-padding">
                                <div class="list_payment">
                                    <ul>
                                        <!-- <li>Tax<span>$512.00</span></li> -->
                                        <li>Total<span class="highlight">{{currency.currency_symbol}} {{ getTotalAmount() }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">
                <div class="">
                    <div class="dinein_tophead dine_center ">
                        <h2>Select Option for Split Receipt</h2>
                        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                            <input name="coupon_code" [(ngModel)]="coupon" class="form-control" style="float:left;width: 30%;height: 35px;">
                            <button style="float:left;color: #fff;" class="btn btn-okay" (click)="validateCoupon()">Validate Coupon</button>
                        </div>
                    </div>
                    <div class="headersplit_select_option">
                        <div class="split_select_option">
                            <div class="menu_list">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Kot</th>
                                            <th>Date</th>
                                            <th>Guest Count</th>
                                            <th>Item Qty</th>
                                            <th>Total</th>
                                            <th>Tables</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let kot of kotDetailKot">
                                            <td><a class="" routerLink="/kot/KotDetails/{{kot.id}}">{{kot.kot_number}}</a></td>
                                            <td>{{kot.kot_date}}</td>
                                            <td>{{kot.kot_customer_guest_no}}</td>
                                            <td>{{kot.over_all_qty}}</td>
                                            <td>{{currency.currency_symbol}} {{kot.grand_total}}</td>
                                            <td  *ngFor="let table of kot.kot_table">
                                                <span class="table_label_span">Floor: </span>{{kot.kot_floor_name}}<br>
                                                <span class="table_label_span">Table:</span>{{table.table_name}}<br>
                                                <span class="table_label_span">Seats:</span>{{table.occupied_chairs}}<br>
                                               
                                            </td>  
                                            <td>{{kot.status}}</td>

                                        </tr>     
                                    </tbody>
                                </table>

                            </div> 
                            <label class="label_common">#No of Slips</label>
                            <div class="counter_count">
                                <img src="assets/images/minus_rec.png" (click)="decrement()" />
                                <span class="counter_val">{{counter}} </span>
                                <img src="assets/images/plus_rec.png" (click)="increment()" />
                            </div>

                            <div class="header_radios">
                                <label class="label_common">Split By</label>
                                <div class="radios_header">
                                    <div class="radio">
                                        <label (click)="equally('amount')">
                                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Amount</address></span>
                                         </label>
                                    </div>
                                    <div class="radio">
                                        <label (click)="equally('equal')">
                                             <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Equally</address></span>  
                                         </label>
                                    </div>

                                    <div class="button_group" (click)="openModal(template)"><button class="btn btn-create btn_180" type="button">Split</button></div>
                                    <!-- <div class="radio ">
                                        <label (click)="equally('menu')">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"><span class="indicator"> <address>Menu</address></span> 
                                       </label>
                                    </div> -->
                                </div>
                            </div>

                        </div>
                    </div>

                    
                    <!--Modal-Popup-->
                    <ng-template #template>
                        <div class="modal-body split_bills">
                            <div class="col-lg-12 col-md-12 col-sm-12 buttons_orders">
                                <h2 class="behind_linetxt"><span>Enter Split Amount</span></h2>
                                <div class="split_btn_wrapper">
                                    <span class="total_amount">Total Amount {{currency.currency_symbol}} {{ getTotalAmount() }}</span>
                                        <div class="menu_list" [ngClass]="(split_type == 'menu')?'menu_show':'menu_hide'" >
                                            <label *ngFor="let menu of kotDetailMenu">
                                                <input (change)="add_splited_menu($event.target.checked,menu.grand_total)"type="checkbox" name="menu[]" id="optionsRadios1" value="{{ menu.grand_total }}"><span class="indicator">{{menu.menu_name_eng}}</span> 
                                            </label>
                                        </div>
                                        <!-- <button [ngClass]="(split_type == 'menu')?'menu_show':'menu_hide'" (change)="splited_menu()">split</button> -->

                                        <div *ngFor="let amt of split_by_amount ; let i=index;" class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                            <span class="split_error split_amt_error_{{i}}">{{splitError[i]}}</span>
                                            <input type="text" (blur)="checkingvalidtion($event.target.value,i)" [(ngModel)]="amt" [value]="equally(split_type,i)" [readonly]="(split_type == 'equal')?'readonly':''" class="form-control splited_amt"/>
                                        </div>

                                   
                                    <div class="col-lg-5 col-md-5 col-sm-12">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding btn-center">
                                        <button (click) ="onCancel()" class="btn btn-cancel">Cancel</button>
                                        <button (click)="splited_data_save()" class="btn btn-okay">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!--/Modal-Popup-->
                </div>



            </div>










        </div>
    </div>
    <style>
        td { position: relative; }

        tr.strikeout td:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        border-bottom: 1px solid #111;
        width: 100%;
        }

        tr.strikeout td:after {
        content: "\00B7";
        font-size: 1px;
        }
        .total_amount{
            width: 100%;
            text-align: center;
            display: block;
            margin: 10px auto;
            font-size: 30px;
        }
        .menu_show{
            display:block;
        }
        .menu_hide{
            display:none;
        }
        .split_error{
            color: #f00;
            font-style: italic;
            font-size: 12px;
        }
    </style>