<app-header></app-header>

<div class="container-fluid">
    <div class="row print-content">
        <div class="invoice-details-wrap dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Invoice Details</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <!-- <button class="btn"><img src="assets/images/filter.png" />Filter</button>
                                <button class="btn"><img src="assets/images/merge-kot.png" />KOT</button>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button> -->
                            </div>


                            <!-- <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div> -->
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <div class="">
                                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg"> -->
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen">
                                    <div class="dine_in_lft">
                                        <!--dineIn_tophead-->
                                        <div class="dinein_tophead merge-receipts">
                                            <h2 *ngIf="invoiceCustomer" style="display: block;float: left;width:100%">#{{invoiceDetailsData.increment_number}}</h2>
                                            <!-- <div style="display: block;float: left;"> -->
                                                <!-- <label class="label_light">KOT#</label> -->
                                                <!-- <input type="text" readonly class="form-control" /> -->
                                            <!-- </div> -->
                                            <div class="bill_screen_tab">
                                                
                                                <div class="item_details_category">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                                        <div class="list_payment">
                                                            <ul *ngIf = "invoiceCustomer" >
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">Customer Name<span>{{invoiceCustomer.first_name+' '+invoiceCustomer.last_name}}</span></li>
                                                                <li class="col-lg-12 col-md-12 col-sm-12 no-padding">Customer Contact<span>{{invoiceCustomer.alt_phone ?invoiceCustomer.alt_phone : "-"}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="table-responsive order_menu">
                                                    <table class="table" *ngIf = "invoiceDetailsData">
                                                        <thead>
                                                            <tr>
                                                                <th>QTY</th>
                                                                <th>Sub</th>
                                                                <th>Discount</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{invoiceDetailsData.over_all_qty}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.sub_total}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.discount_amount}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.grand_total}}</td>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive order_menu">
                                                    <label class="label_common">Payment Details</label>
                                                    <table class="table" *ngIf = "invoiceDetailsData">
                                                        <thead>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Paid</th>
                                                                <th>Balance</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{invoiceDetailsData.payent_type}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.paid_amount}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.balance_to_customer}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div *ngIf="card" [ngClass]="(GetStatusid() == true )?'table-responsive order_menu show':'table-responsive order_menu hide'">
                                                    <label class="label_common">Card Details</label>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Number</th>
                                                                <th>Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let card of card_details">
                                                                <td>{{card.card_name}}</td>
                                                                <td>{{card.card_number}}</td>
                                                                <td>{{card.card_type}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div *ngIf="invoiceDetailsData" [ngClass]="(invoiceDetailsData.coupon != '' )?'table-responsive order_menu show':'table-responsive order_menu hide'">
                                                    <label class="label_common">Coupon Details</label>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Coupon</th>
                                                                <th>Coupon Amount</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{invoiceDetailsData.coupon}}</td>
                                                                <td>{{currency.currency_symbol}}  {{invoiceDetailsData.coupon_amount}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!--dineIn_tophead-->
                                <div *ngIf="invoiceDetailsData" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">
                                    <!-- <div class="customer_dine"> -->
                                        <div class="table-responsive customer_list">
                                            <div class="dinein_tophead dine_center ">
                                                <h2>Select KOT Details</h2>

                                            </div>
                                            <div *ngFor="let kot of kotDetailMenu" class="headersplit_select_option">
                                                <div class="split_select_option">
                                                    <label class="label_common">#{{kot.kot_number}}</label>
                    
                                                    <div class="menu_list">
                    
                                                        <table class="table">
                                                            <tbody *ngFor="let menu of kot.menus" style="border-bottom: 2px solid #000; border-top: 2px solid #000;">
                                                                <tr>
                                                                    
                                                                    <td><img src="{{menu.image}}" width="100" height="100"></td>
                                                                    <td style="width:40%">{{menu.menu_name_eng}}<br><small><i> {{ (menu.menu_notes != '' && menu.menu_notes != null) ? '(Notes:'+menu.menu_notes+')' :"" }}</i></small></td>
                                                                    <td>{{currency.currency_symbol}} {{menu.menu_price}}</td>
                                                                    <td>{{menu.qty}}</td>
                                                                    <td>{{currency.currency_symbol}} {{menu.Purchased_cost}}</td>  
                                                                    <td>{{menu.status}}</td>   
                                                                    <td style="width:125px">
                                                                        <a style="float: left;width: 50%;" href="javascript:void(0);" (click)="holdKot(menu.menu_item_id,kotDetailsData.id,kotDetailsData.kot_type,kotDetailsData.kot_cart_id)" [ngClass]="(menu.status == 'Pending' )?'hold_kot show':'hold_kot hide'" ><img title="Hold" src="assets/images/pause.png"/></a>
                                                                        <a style="float: left;width: 50%;" href="javascript:void(0);" (click)="cancelKot(menu.menu_item_id,kotDetailsData.id,kotDetailsData.kot_type,kotDetailsData.kot_cart_id)" [ngClass]="(menu.status == 'Pending' )?'cancel_kot show':'cancel_kot hide'" ><img title="Cancel" src="assets/images/cancel.png"/></a>
                                                                    </td>
                                                                    
                                                                </tr>   
                                                                <tr *ngFor="let modifier of menu.modifiers;let i = index">
                                                                    <td>Modifier {{ (i+1) }}<img src="{{modifier.menu_image}}" width="50" height="50" style="margin-left: 10px;"></td>
                                                                    <td><span>{{modifier.modifier_name_eng}}</span></td>
                                                                    <td><span>{{currency.currency_symbol}} {{modifier.menu_price}}</span></td>
                                                                    <td><span>{{modifier.qty}}</span></td>
                                                                    <td><span>{{currency.currency_symbol}} {{modifier.Purchased_cost}}</span></td>
                                                                    
                                                                </tr>  
                                                            </tbody>
                                                        </table>
                    
                                                    </div>                
                        
                                                </div>
                                            </div>
                        
                                        </div>
                                        <button style="float: right;" type="button" class="btn btn-primary" routerLink="/dayclose/InvoicePrintScreen/{{invoiceDetailsData.id}}">Preview Invoice</button>
                                </div>
                    
                                
                            </div>
                        </div>
                        <!---->

                        <!---->


                    </div>
               
                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>

<style>
    a.add_more_menu {
        display: block;
        float: right;
        background: #ff5b2e;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
    }
    @media print {
            body * {
                visibility: hidden;
            }

            .print-content * {
                visibility: visible;
                overflow: visible;
            }

            #mainPage * {
                display: none;
            }


            li {
                page-break-after: auto;
            }
            .onPrint {
                display:none;
            }
        }

</style>
