<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap clear-kots">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg bg_white">
                <div class="dine_in_lft">
                    <div class="kot_clears">
                        <div class="col-lg-12 col-md-12 col-sm-12 buttons_orders">

                            <div class="split_btn_wrapper ">
                                <div class="marg-kotui">
                                    <h4>Do you want to clear KOT?</h4>
                                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding btn-center">
                                        <button class="btn btn-cancel">Cancel</button>
                                        <button class="btn btn-okay">Ok</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>