<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg"> -->
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2 style="display: block;float: left;width:100%">Customer Kot Details</h2>
                     
                        <div class="bill_screen_tab">
                            <div class="item_details_category">
                                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="list_payment">
                                        <ul>
                                            <li style="width: 25%;">Customer Name :<span>{{ kotDetailCustomer[0].customer_name }}</span></li>
                                            <li style="width: 25%;">Customer Contact :<span>{{ kotDetailCustomer[0].customer_mobile }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            <!-- </div> -->
            
            <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs "> -->
                <!-- <div class="customer_dine"> -->
                    <div class="table-responsive customer_list">
                        <div class="dinein_tophead dine_center ">
                            <h2>Customer Based KOT List</h2>
                            <a [ngClass]="(kotDetailsData.status == 'Completed')?'add_more_menu hide':'add_more_menu show'" routerLink="/dinein/DineinMenuListCategory">Add More Menu</a> 
                        </div>
                        <div class="headersplit_select_option">
                            <div class="split_select_option">

                                <div class="menu_list">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Kot</th>
                                                <th>Date</th>
                                                <th>Guest Count</th>
                                                <th>Item Qty</th>
                                                <th>Total</th>
                                                <th>Tables</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let kot of kotDetailsData">
                                                <td><a class="" routerLink="/kot/KotDetails/{{kot.id}}">{{kot.kot_number}}</a></td>
                                                <td>{{kot.kot_date}}</td>
                                                <td>{{kot.kot_customer_guest_no}}</td>
                                                <td>{{kot.over_all_qty}}</td>
                                                <td>{{kot.grand_total}}</td>
                                                <td  *ngFor="let table of kot.kot_table">
                                                    <span class="table_label_span">Floor Name: </span>{{kot.kot_floor_name}}<br>
                                                    <span class="table_label_span">Table Name:</span>{{table.table_name}}<br>
                                                    <span class="table_label_span">Seats:</span>{{table.occupied_chairs}}<br>
                                                   
                                                </td>  
                                                <td>{{kot.status}}</td>

                                            </tr>     
                                        </tbody>
                                    </table>

                                </div>                
    
    
                            </div>
                        </div>
    
                    </div>
              
            <!-- </div> -->


        </div>
    </div>
</div>
<style>
    a.add_more_menu {
        display: block;
        float: right;
        background: #ff5b2e;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
    }
    .table_label_span{
        width:50%;
        float: left;
    }

</style>
