<!--dine_tab_section-->
<div class="dine_tab_section">
    <div *ngIf="selectedModule.Key == 'reservation' || selectedModule.Key == 'dinein'"class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst  row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinCustomerinforamtion') || (activeTab == '/dinein/DineinMenuCategory') || (activeTab =='/dinein/DineinSelection')}" routerLink="/dinein/DineinSelection">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon1.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon1h.png" class="dine_h" />
                <span>Dining</span>
            </a>

        </div>
    </div>



    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinCustomers')}" routerLink="/dinein/DineinCustomers">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon2.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon2h.png" class="dine_h" />
                <span>Customers</span>
            </a>
        </div>
    </div>
    <div *ngIf="selectedModule.Key == 'takeaway' || selectedModule.Key == 'dinein'" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinOrder')}" routerLink="/dinein/DineinOrder">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon3.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon3h.png" class="dine_h" />
                <span>Orders</span>
            </a>
        </div>
    </div>
    <div *ngIf="selectedModule.Key == 'reservation'" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinReservation')}" routerLink="/dinein/DineinReservation">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon4.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon4h.png" class="dine_h" />
                <span>Reservation</span>
            </a>
        </div>
    </div>
    <div *ngIf="selectedModule.Key == 'dinein'" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinWaitingList')}" routerLink="/dinein/DineinWaitingList">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon5.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon5h.png" class="dine_h" />
                <span>Waiting List</span>
            </a>
        </div>
    </div>
    <div *ngIf="selectedModule.Key == 'dinein'" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="dine_ts_lst row">
            <a [ngClass]="{'active':(activeTab == '/dinein/DineinServers')}" routerLink="/dinein/DineinServers">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <img src="assets/images/dinein/dine_order/dine_icon6.png" class="dine_b" />
                <img src="assets/images/dinein/dine_order/dine_icon6h.png" class="dine_h" />
                <span>Servers</span>
            </a>
        </div>
    </div>
</div>
<!--dine_tab_section-->
