<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <!--dineIn_tophead-->
                    <div class="dinein_tophead merge-receipts">
                        <h2>Receipt List</h2>
                        <div class="dinein_tophead_right">
                            <div class="filter_receipt">
                                <button class="btn"><img src="assets/images/filter.png" />Filter</button>
                                <button class="btn"><img src="assets/images/merge-kot.png" />KOT</button>
                                <my-date-picker class="form-control" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="KOTDate" required></my-date-picker>
                                <button class="btn"><img src="assets/images/refresh.png" />Refresh</button>
                            </div>


                            <div class="search_icon">
                                <input class="form-control" type="text" placeholder="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!--dineIn_tophead-->

                    <div class="customer_dine">
                        <div class="table-responsive customer_list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" name="allmergeReceipt" [value]="mergereceiptdata" (change)="allmergeReceipt($event)">
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </th>
                                        <th>KOT # / Token #</th>
                                        <th>Date/Time</th>
                                        <th>Floor</th>
                                        <th>Table</th>
                                        <th>Table/Server</th>
                                        <th>Guest Name</th>
                                        <th>Amount</th>
                                        <th>Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mergereceipt of mergereceiptdata">
                                        <td>
                                            <label class="btn btn-filter">
                                                <input type="checkbox" class="checkbox-button__input" name="trades" [checked]="mergereceipt.selected" (change)="changeMergeByCategory($event)">{{ mergereceipt.label }}
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                        </td>
                                        <td>{{mergereceipt.mergekot}}</td>
                                        <td>{{mergereceipt.mergedate}}<span>{{mergereceipt.mergetime}}</span></td>
                                        <td>{{mergereceipt.mergefloor}}</td>
                                        <td>{{mergereceipt.mergetable}}</td>
                                        <td>{{mergereceipt.mergetableserver}}</td>
                                        <td>{{mergereceipt.mergeGuestname}}</td>
                                        <td>{{mergereceipt.mergeAmount}}</td>
                                        <td>{{mergereceipt.mergeDue}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!---->

                    </div>
                    <!--dine_transaction-->
                    <div class="transaction_order_btm merge_order">
                        <ul>
                            <li>
                                <a href="JavaScript:Void(0)" (click)="openModal(template)">Merge Receipt</a>

                            </li>
                            <!--Modal-Popup-->
                            <ng-template #template>
                                <div class="modal-body ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 buttons_orders merged_custom">
                                        <h2 class="behind_linetxt"><span>Select Master Receipt</span></h2>
                                        <div class="kot_operations">
                                            <div class="home_others dine_others">
                                                <ul>
                                                    <li>
                                                        <a href="JavaScript:Void(0)" class="assist_water">
                                                                154
                                                            </a>
                                                    </li>
                                                    <li>
                                                        <a href="JavaScript:Void(0)" class="assist_water">
                                                                155
                                                            </a>
                                                    </li>
                                                    <li>
                                                        <a href="JavaScript:Void(0)" class="assist_water">
                                                                156
                                                            </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <!--/Modal-Popup-->

                            <li>
                                <a routerLink="/">Bulk Receipt</a>
                            </li>
                            <li>
                                <a routerLink="/" class="settle">Bulk Settlement
                                </a>
                            </li>



                        </ul>

                    </div>
                    <!---->
                </div>


            </div>
        </div>
    </div>
</div>
