.takeawaytab {
  width: 50% !important;
}
.modifier{
  width: 92px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
.stl{  
  width: 92px;
  height: 50px;
  margin-bottom: 2px;
  background-color: #cdcdcd;
  border: 0;
  color: #1c254d;
  font-size: 25px;
  line-height: 50px;
  opacity: 1;
}
.del{
  position: fixed;
  top: 0px;
  right: 0px;
}
.imag{
  position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.spac{
margin-bottom: 2px;
position: relative;
}

.print_header {
  width: 100%;
  display: none;
}

img.logo-print {
  background-size: cover;
  width: 120px;
  height: 120px;
  border: 5px solid white;
  padding: 0.25rem;
  border-radius: 50%;
}

.kitchen-menu {
  display: none;
}
.customer_input_search {
  position: relative;
}

.customer_input_search .cutom_frm {
  border: 1px solid #bfbfbf;
  border-radius: 30px;
  padding-left: 10px;
}
form.form-inline.billable_form {
  margin-top: 8px !important;
}
form.form-inline.billable_form > div {
  margin-bottom: 0px !important;
}

.billable_form label {
  font-size: 14px !important;
}

.billable_form input.form-control {
  font-size: 14px !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  font-size: 12px !important;
}

.item_details_category .list_payment ul li {
  line-height: 1.375rem;
}

.form-group {
  margin-bottom: 0px;
}

.bill_screen_tab ul li a {
  padding: 5px 10px;
  margin-right: 2px !important;
}

.order_menu tbody td {
  line-height: 1;
  padding: 8px !important;
}

.header-width{
  width: 30% !important;
}
