<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap  menudinelist ">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bill_screen dine_in_rgt_bg no-padding">
                <div class="bill_screen_wrap ">
                    <h2>Cart Screen</h2>
                    <div class="bill_screen_tab">


                        <ul class="nav nav-tabs side_nav" role="tablist">
                            <ng-container *ngFor="let order of ordermenus; let first = first;">
                                <li *ngIf="!(order == ordermenus[2] && (selectedModule == 'takeaway' || selectedModule == 'delivery'))"
                                    [ngClass]="{firstItem: first,'takeawaytab':(selectedModule == 'takeaway' || selectedModule == 'delivery')}"
                                    role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                                    <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                        {{order}}</a>
                                </li>
                            </ng-container>
                        </ul>



                        <div class="tab-content">
                            <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active"
                                id="one">

                                <div class="guest_profile_tab col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="sub_tab_guest_profile">
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <!-- <h6>Customer</h6> -->
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                            <!-- <h6 class="editable"><a href="JavaScript:Void(0);">Edit</a></h6> -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                            <form class="form-inline billable_form order_tb" action=" ">
                                                <div class="form-group">
                                                    <label for="name">Name </label>
                                                    <input type="name"
                                                        value="{{(SelectedCustomer.first_name)?SelectedCustomer.first_name:''}} {{(SelectedCustomer.last_name)?SelectedCustomer.last_name:''}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Phone No </label>
                                                    <input type="text"
                                                        value="{{(SelectedCustomer.phone)?SelectedCustomer.phone:''}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Loyalty Points</label>
                                                    <input type="text"
                                                        value="{{(SelectedCustomer.citizen_id)?SelectedCustomer.citizen_id:''}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="text">Citizen ID</label>
                                                    <input type="text"
                                                        value="{{(SelectedCustomer.citizen_id)?SelectedCustomer.citizen_id:''}}"
                                                        class="form-control">
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active"
                                id="two">
                                <form class="form-inline billable_form" action="/action_page.php">

                                    <div *ngIf="selectedModule != 'takeaway' && selectedModule != 'delivery' "
                                        class="col-lg-12 col-md-7 col-sm-12">
                                        <div class="input_labels label_wt">
                                            <label for="table">Table No</label>
                                            <input type="text" [(value)]="selectedtablenamecon"
                                                class="form-control sub_child_1" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-7 col-sm-12">
                                        <div class="input_labels label_wt">
                                            <label for="name">Staff Name</label>
                                            <input type="text" class="form-control sub_child_2"
                                                value="{{CurentStaff.first_name}} {{CurentStaff.last_name}}"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div *ngIf="selectedModule != 'takeaway' && selectedModule != 'delivery' "
                                        class="col-lg-12 col-md-7 col-sm-12">
                                        <div class="input_labels label_wt_0">
                                            <label for="guest"> No Of Guest</label>
                                            <input type="text" [(value)]="Numseats" class="form-control sub_child_3"
                                                placeholder="">
                                        </div>
                                    </div>
                                </form>

                                <div id="full-menu" class="table-responsive order_menu menu_resp">
                                    <table class="print_header">
                                        <thead>
                                            <tr>
                                                <th class="quantity"><img class="logo-print"
                                                        src="{{ orgLogoPath +'/'+orgInformation.org_logo_img }}"
                                                        alt="Logo"></th>
                                                <th class="description">
                                                    <p class="centered">
                                                        {{ orgInformation.org_name | titlecase }}
                                                        <br>{{ orgInformation.org_address}}
                                                        <br>{{ orgInformation.org_state.region_name}}
                                                        <br>{{ orgInformation.org_country.country_name}}
                                                        <br>{{ orgInformation.org_phone}} , {{
                                                        orgInformation.org_alt_phone}}
                                                    </p>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Items</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let item of cartitems.menus;let c = index;">
                                                <tr>
                                                    <td class="cell_mark_g">
                                                        {{item.menu_name_eng}}<br>
                                                        <small><i> {{ (item.menu_notes != '' && item.menu_notes != null)
                                                                ? '(Notes:'+item.menu_notes+')' :"" }}</i></small>
                                                    </td>
                                                    <td><img src="assets/images/increment_btn.png"
                                                            (click)="(item.menu_qty > 1)?item.menu_qty=item.menu_qty-1:removecart(item.cart_item_id);updatetoCart(item);" />
                                                        <span class="counter_val">{{item.menu_qty}} </span>
                                                        <img src="assets/images/decrement_btn.png"
                                                            (click)="item.menu_qty=item.menu_qty+1;updatetoCart(item);" />
                                                    </td>
                                                    <td> {{currency.currency_symbol}} {{item.menu_price}}</td>
                                                    <td><i class="fa fa-trash"
                                                            (click)="removecart(item.cart_item_id)"></i></td>
                                                </tr>
                                                <tr *ngFor="let modifier of item.menu_modifier;">
                                                    <td></td>
                                                    <td class="cell_mark_g">{{modifier.modifier_name_eng}}</td>
                                                    <td><img src="assets/images/increment_btn.png"
                                                            (click)="(modifier.qty > 1) ? modifier.qty = modifier.qty - 1 : ''; updatetoCart(item);" />
                                                        <span class="counter_val">{{modifier.qty}} </span>
                                                        <img src="assets/images/decrement_btn.png"
                                                            (click)="modifier.qty = modifier.qty + 1; updatetoCart(item);" />
                                                    </td>
                                                    <td> {{currency.currency_symbol}} {{modifier.menu_price}}</td>

                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>

                                <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

                                <div *ngFor="let kitchen of kitchenPrinters | keyvalue; let idx=index"
                                    id="kitchen-{{idx}}" class="table-responsive order_menu kitchen-menu">
                                    <!-- <table class="print_header">
                                        <thead>
                                            <tr>
                                                <th class="quantity"><img class="logo-print"
                                                        src="{{ orgLogoPath +'/'+orgInformation.org_logo_img }}"
                                                        alt="Logo"></th>
                                                <th class="description">
                                                    <p class="centered">
                                                        {{ orgInformation.org_name | titlecase }}
                                                        <br>{{ orgInformation.org_address}}
                                                        <br>{{ orgInformation.org_state.region_name}}
                                                        <br>{{ orgInformation.org_country.country_name}}
                                                        <br>{{ orgInformation.org_phone}} , {{ orgInformation.org_alt_phone}}
                                                    </p>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table> -->
                                    <div class="extra-details">
                                        <span class="left-details">{{kotDetails.kot_number}}</span>
                                        <span class="right-details">{{selectedModule}}</span>
                                    </div>
                                    <div class="extra-details">
                                        <span class="left-details">{{CurentStaff.first_name}}</span>
                                    </div>
                                    <div class="extra-details">
                                        <span class="left-details">{{kotDetails.kot_date}}</span>
                                        <span class="right-details">{{kotDetails.kot_time}}</span>
                                    </div>
                                    <div class="dotted-line"></div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Items</th>
                                                <th class="text-right">Qty</th>
                                                <!-- <th>Total</th> -->
                                                <!-- <th></th> -->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let item of kitchen.value;let c = index;">
                                                <tr>
                                                    <td class="cell_mark_g">
                                                        {{item.menu_name_eng}}<br>
                                                        <small><i> {{ (item.menu_notes != '' && item.menu_notes != null)
                                                                ? '(Notes:'+item.menu_notes+')' :"" }}</i></small>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="counter_val">{{item.menu_qty}} </span>
                                                    </td>
                                                    <!-- <td> {{currency.currency_symbol}} {{item.menu_price}}</td> -->
                                                    <!-- <td><i class="fa fa-trash" (click)="removecart(item.cart_item_id)"></i></td> -->
                                                </tr>
                                                <tr *ngFor="let modifier of item.menu_modifier;">
                                                    <!-- <td></td> -->
                                                    <td class="cell_mark_g">{{modifier.modifier_name_eng}}</td>
                                                    <td class="text-right">
                                                        <span class="counter_val">{{modifier.qty}} </span>
                                                    </td>
                                                    <!-- <td> {{currency.currency_symbol}} {{modifier.menu_price}}</td> -->

                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>

                                <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                <div class="col-lg-12 col-md-7 col-sm-12">
                                    <p *ngFor="let modif of extraModifier; let i= index;">
                                            {{modif.modifier_name}}   <img src="assets/images/delete.png" (click)="del(i,extra_modifier)"/>
                                        </p>
                                </div>
                                <div class="item_details_category">
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Total Discount<span>{{currency.currency_symbol}}
                                                        {{cartitems.grand_discount}}</span></li>
                                                <li>Services<span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                                        <div class="list_payment">
                                            <ul>
                                                <li>Total<span>{{currency.currency_symbol}}
                                                        {{cartitems.grand_total}}</span></li>
                                                <li>Due<span>{{currency.currency_symbol}} 0</span></li>
                                                <li>Tax<span>{{currency.currency_symbol}} {{cartitems.total_tax}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="home_others dine_others custom_dinein_layout">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" class="send_to_kot"
                                                (click)="sendToKitchen()">Send To kitchen </a>
                                            <a href="javascript:void(0)" (click)="sendToKitchen('takeaway')"
                                                [ngClass]="(selectedModule == 'takeaway' )?'send_to_kot show':' send_to_kot hide'">Pay
                                                Bill</a>
                                            <a href="javascript:void(0)" class="send_to_kot" style="float: right;"
                                                (click)="discountOpenModal(discount);">Discount</a>
                                        </li>

                                        <!-- <li>
                                            <a href="javascript:void(0)" routerLink="/">Settlement </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)" routerLink="/" class="ass_water">Layaway</a>
                                        </li> -->

                                    </ul>

                                </div>
                            </div>
                            <div *ngIf="selectedorder === ordermenus[2] && (selectedModule != 'takeaway' && selectedModule != 'delivery')"
                                role="tabpanel" class="tab-pane active" id="three">
                                <div class="home_transaction dine_transaction">
                                    <ul class="table_selected">

                                        <li>
                                            <h6>{{selectedtablenamecon}}</h6>
                                            <a href="javascript:void(0)" routerLink="/dinein/DineinSelection">

                                                <div class="dine_mg">
                                                    <img src="assets/images/dinein/dine_in_sel_ico.png" alt="" />
                                                    <img src="assets/images/dinein/dine_in_disable_ico.png" alt=""
                                                        class="disable_mg" />
                                                    <span class="dine_txt_cen"></span>
                                                </div>
                                                <ul class="dine_lst">
                                                    <li>
                                                        <p>Seat</p><label>: {{Numseats}}</label>
                                                    </li>
                                                    <li>
                                                        <p>Status</p><label>: Open</label>
                                                    </li>
                                                </ul>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <div class="home_others dine_others table_selected">

                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" routerLink="/dinein/DineinSelection" class="change_bg_clr">Change Table </a>
                                        </li>
                                    </ul>

                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dine_in_lft_bg din_in_cs ">
                <div class="dine_in_lft">

                    <div class="customer_info_frm menu_category_wrap menu_category_tab_wrap">
                        <div class="dinein_tophead dine_center header-width">
                            <h2>Menu Category</h2>
                        </div>
                        <div class="customer_input_search">
                            <form class="search_form" [formGroup]="usersForm">
                                <div class="form-group cutom_frm">
                                    <mat-form-field class="example-full-width pb-0 w-100" style="position:relative;">
                                        <input #searchInput matInput [matAutocomplete]="auto"
                                            formControlName="userInput" class="text-limit" placeholder="Search Items" />
                                    </mat-form-field>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="Menusearch()">
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let data of filteredData" [value]="data.menu_name_eng">
                                                {{ data.menu_name_eng }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                    <button type="submit" class="btn_search" (click)="Menusearch()"><i
                                            class="fa fa-search"></i></button>

                                </div>
                                <select #selectcat (change)="selectedCategory=selectcat.value;Menusearch()"
                                    class="search_select">
                                    <option>All</option>
                                    <option *ngFor="let cat of menuCategory" [value]="cat.id">
                                        {{cat.category_name_eng}}
                                    </option>
                                </select>
                            </form>
                            <!-- <form class="search_form" action="">
                                <div class="form-group cutom_frm">
                                    <input type="text" [matKeyboard]="'Azərbaycanca'" [(ngModel)]="Query"
                                        (change)="Menusearch()" placeholder="Search Items" name="search">
                                    <button type="submit" class="btn_search"><i class="fa fa-search"></i></button>
                                    <select #selectcat (change)="selectedCategory=selectcat.value;Menusearch()"
                                        class="search_select">
                                        <option>All</option>
                                        <option *ngFor="let cat of menuCategory" [value]="cat.id">
                                            {{cat.category_name_eng}}
                                        </option>
                                    </select>
                                </div>
                            </form> -->
                        </div>

                        <!--All Menus-->

                        <div class="food_tab_section">

                            <ul class="nav nav-tabs side_nav" role="tablist">
                                <li *ngFor="let group of menuGroup; let first = first;" [ngClass]="{firstItem: first}"
                                    role="presentation" class="accounts_li" [class.active]="selectedGroup===group">
                                    <a (click)="selectedGroup = group;Menusearch()" aria-controls="tab{{group.id}}"
                                        role="tab" data-toggle="tab">
                                        {{group.group_name_eng}}</a>
                                </li>
                            </ul>


                            <!--All Menus-->



                        </div>

                        <div class="tab-content"
                            style="max-height: 380px;overflow-y: scroll;height: 500px;float: left;">
                            <div *ngFor="let group of menuGroup; let first = first;" role="tabpanel"
                                [class.active]="selectedGroup===group" class="tab-pane" id="tab{{group.id}}">
                                <!--dine_transaction-->


                                <div class="home_transaction dine_transaction menu_category customer_tab_menu">
                                    <ul>
                                        <li *ngFor="let menu of menuList" (click)="openModal(template,menu);">
                                            <a href="javascript:void(0)" routerLink="/dinein/DineinMenuListCategory">
                                                <div class="dine_mg">
                                                    <img src="{{menu.menu_image}}" alt="" />

                                                </div>
                                                <ul class="dine_lst">
                                                    <li>
                                                        <label>{{menu.menu_name_eng}}</label>
                                                    </li>
                                                </ul>

                                            </a>
                                        </li>


                                        <!--/Modal-Popup-->
                                    </ul>
                                </div>
                                <!--dine_transaction-->



                            </div>

                            <div role="tabpanel" [class.active]="selectedGroup===''" class="tab-pane">
                                <!--dine_transaction-->


                                <div class="home_transaction dine_transaction menu_category customer_tab_menu">
                                    <ul>
                                        <li *ngFor="let menu of menuList" (click)="openModal(template,menu);">
                                            <a href="javascript:void(0)" routerLink="/dinein/DineinMenuListCategory">
                                                <div class="dine_mg">
                                                    <img src="{{menu.menu_image}}" alt="" />

                                                </div>
                                                <ul class="dine_lst">
                                                    <li>
                                                        <label>{{menu.menu_name_eng}}</label>
                                                    </li>
                                                </ul>

                                            </a>
                                        </li>


                                        <!--/Modal-Popup-->
                                    </ul>
                                </div>
                                <!--dine_transaction-->



                            </div>

                        </div>


                    </div>
                    <!--dine_transaction-->
                </div>

                <ng-template #template>
                    <div class="modal-body ">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-3 col-md-3 col-sm-12 ">
                                <div class="customer_tab_menu menu_category dine_transaction">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <div class="dine_mg">
                                                    <img src="{{popupmenu.menu_image}}" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="list_quantities dinein_tophead">
                                    <h2 *ngIf="popupmenu.menu_name_eng != ''">{{popupmenu.menu_name_eng}}</h2>
                                    <h2 *ngIf="popupmenu.menu_name_arb != ''">{{popupmenu.menu_name_arb}}</h2>
                                    <ul>
                                        <li>
                                            <label>Quantity</label>
                                            <div class="counter_count">
                                                <img src="assets/images/increment_btn.png"
                                                    (click)="(popupmenu.qty>1)?popupmenu.qty=popupmenu.qty-1:false" />
                                                <span class="counter_val">{{popupmenu.qty}} </span>
                                                <img src="assets/images/decrement_btn.png"
                                                    (click)="popupmenu.qty=popupmenu.qty+1" />
                                            </div>
                                        </li>
                                        <li>
                                            <label>Price</label>
                                            <span>{{currency.currency_symbol}} {{popupmenu.menu_discount_price ?
                                                popupmenu.menu_discount_price: popupmenu.menu_price}}</span>
                                        </li>
                                        <li>
                                            <label>Total Cost</label>
                                            <span class="higlights">{{currency.currency_symbol}}
                                                {{popupmenu.menu_discount_price ?
                                                (popupmenu.menu_discount_price*popupmenu.qty):
                                                (popupmenu.menu_price*popupmenu.qty) }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="checked_label">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding checked_bg">
                                        <small>Item Notes </small>
                                        <div class="single_check_align">
                                            <textarea [(ngModel)]="item_notes" name="notes"
                                                class="form-control"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding checked_bg">
                                        <div class="modifier spac" *ngFor="let extra_modifier of  popupmenu.extra_modifier;">
                                          
                                            <button  class="stl" (click)="addExtraModifier(extra_modifier)" >{{extra_modifier.modifier_name}}</button>
                                        </div> 
                                        <p *ngFor="let modif of extraModifier; let i= index;">
                                            {{modif.modifier_name}}   <img src="assets/images/delete.png" (click)="del(i,extra_modifier)"/>
                                        </p>
                                    </div>
                                </div>
                                <div class="checked_label" *ngIf="popupmenu.menu_modifier_id[0]">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding checked_bg">
                                        <small>Default Modifier </small>
                                        <div class="single_check_align">
                                            <ng-container *ngFor="let ntrd of popupmenu.menu_modifier_id;">
                                                <div
                                                    class="col-md-12 col-lg-12 col-sm-12 no-padding wrapper_align_checked">
                                                    <label class="btn btn-filter checkbox-button">
                                                        <input type="checkbox" class="checkbox-button__input"
                                                            [(ngModel)]="ntrd.selected" (click)="ntrd.qty=1"
                                                            name="nontrades" [checked]="ntrd.selected">
                                                        <span class="checkbox-button__control"></span>
                                                        <span class="checkbox-button__label">{{ ntrd.menu_name_eng
                                                            }}--</span>

                                                        <span class="checkbox-button__label">${{ ntrd.menu_price
                                                            }}</span>
                                                    </label>
                                                    <ul *ngIf="ntrd.qty">
                                                        <li>
                                                            <label>Quantity</label>
                                                            <div class="counter_count">
                                                                <img src="assets/images/increment_btn.png"
                                                                    (click)="(ntrd.qty>1)?ntrd.qty=ntrd.qty-1:true" />
                                                                <span class="counter_val">{{ntrd.qty}} </span>
                                                                <img src="assets/images/decrement_btn.png"
                                                                    (click)="ntrd.qty=ntrd.qty+1" />
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label>Total Cost</label>
                                                            <span class="higlights">{{currency.currency_symbol}}
                                                                {{ntrd.menu_price*ntrd.qty}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ng-container>
                                        </div>

                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 no-padding checked_bg_light">
                                        <small>Additional Modifier</small>
                                        <div class="single_check_align">
                                            <ng-container *ngFor="let ntrd of dishes">
                                                <div class="col-md-6 col-lg-6 col-sm-12 no-padding wrapper_align_checked">
                                                    <label class="btn btn-filter checkbox-button">
                                                        <input type="checkbox"  class="checkbox-button__input" name="nontrades" [checked]="ntrd.selected">
                                                        <span class="checkbox-button__control"></span>
                                                        <span class="checkbox-button__label">{{ ntrd.label }}</span>
                                                    </label>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="button_group">
                                <button type="button" (click)="cancelItem
                                ();" class="btn btn-cancel">Cancel</button>
                                <button type="button" (click)="AddToCart();modalRef.hide()"
                                    class="btn btn-create">Done</button>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #templatetablefull>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Add Customer</h4>
                        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                        <span aria-hidden="true">×</span>  
                      </button>   -->
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="dine_in_wrap customer_info_wrap">
                                    <div class="customer_info_frm">
                                        <form>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label for="phonenumber"> Phone Number</label>
                                                    <!-- <div class="search_icon customer_w100"> -->
                                                    <input class="form-control" type="text" placeholder="Search"
                                                        id="phonenumber" (change)="searchCustomers($event)"
                                                        [(ngModel)]='customer.phone' name="phone" autocomplete="off">
                                                    <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label for="customer_fn">Custmer First Name</label>
                                                    <!-- <div class="search_icon customer_w100"> -->
                                                    <input class="form-control" type="text" placeholder="Albert"
                                                        [(ngModel)]="customer.first_name" name="first_name">
                                                    <!-- <i class="fa fa-search" aria-hidden="true"></i>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label for="customer_lst">Last Name</label>
                                                        <input class="form-control" type="text" placeholder="Warner" [(ngModel)]="customer.last_name" name="last_name">
                                                       
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label for="gender">Gender</label>
                                                    <select class="form-control" id="gender" [(ngModel)]="customer.gender" name="gender">
                                                        <option value="">-select-</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">female</option>
                                                    </select>
                                                </div>
                                            </div> -->
                                            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input class="form-control" type="email" placeholder="Email"
                                                        [(ngModel)]="customer.email" name="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group button-footer-section">
                                                    <button class="btn btn-warning"
                                                        (click)="homeRedirect()">Cancel</button>
                                                    &nbsp; <button class="btn btn-success"
                                                        (click)="saveCustomer()">Finish</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #templatetableAddress>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Address</h4>
                        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                        <span aria-hidden="true">×</span>  
                      </button>   -->
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="dine_in_wrap customer_info_wrap">
                                    <div class="customer_info_frm">
                                        <form>

                                            <div class="zero-padding col-xs-12 col-sm-4 col-md-6 col-lg-6"
                                                style="border-right: 1px solid #ccc;">
                                                <div class="form-group">
                                                    <div class="zero-padding col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                        *ngFor="let address of customerAddressList; let first = first;">
                                                        <div class="d-flex">
                                                            <input class="form-control" type="radio"
                                                                placeholder="address" value="{{ address.id }}"
                                                                [(ngModel)]="selectedAddressId" name="address">
                                                            <div class="address_space">
                                                                <span>{{ address.no }}</span>
                                                                <span>{{ address.street_1 }}</span>
                                                                <span>{{ address.street_2 }}</span>
                                                                <span>{{ address.region }}</span>
                                                                <span>{{ address.country }}</span>
                                                                <span>{{ address.zipcode }}</span>
                                                                <span>{{ address.landmark }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group button-footer-section">
                                                        <!-- <button class="btn btn-danger" (click)="modalRef.hide();">Cancel</button> -->
                                                        &nbsp;<button
                                                            [ngClass]="(showAddAddresSection == 0 )?'btn btn-warning show':'btn btn-warning hide'"
                                                            style="float: left;" (click)="addNewAddress('show');">Add
                                                            New</button>
                                                        <button
                                                            [ngClass]="(showAddAddresSection == 0 )?'btn btn-warning show':'btn btn-warning hide'"
                                                            style="float: left;" (click)="removeAddress('show');"
                                                            Class="btn btn-danger">Remove</button>
                                                        <!-- &nbsp; <button Class="btn btn-success" (click)="storeAddress()">Save Address</button> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="zero-padding col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div *ngIf="showAddAddresSection == 1">
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">No</label>
                                                            <input class="form-control" type="text" placeholder="no"
                                                                [(ngModel)]="customerAddress['no']" name="no">
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">Apartment/Flat</label>
                                                            <input class="form-control" type="text"
                                                                placeholder="Apartment/Flat"
                                                                [(ngModel)]="customerAddress['street_1']"
                                                                name="street_1">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">Street 2</label>
                                                            <input class="form-control" type="text" placeholder="street"
                                                                [(ngModel)]="customerAddress['street_2']"
                                                                name="street_2">
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">Region</label>
                                                            <input class="form-control" type="text" placeholder="region"
                                                                [(ngModel)]="customerAddress['region']" name="region">
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">Country</label>
                                                            <input class="form-control" type="text"
                                                                placeholder="country"
                                                                [(ngModel)]="customerAddress['country']" name="country">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="email">zipcode</label>
                                                            <input class="form-control" type="text"
                                                                placeholder="zipcode"
                                                                [(ngModel)]="customerAddress['zipcode']" name="zipcode">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="landmark">landmark</label>
                                                            <input class="form-control" type="text"
                                                                placeholder="landmark"
                                                                [(ngModel)]="customerAddress['landmark']"
                                                                name="landmark">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="phone">phone</label>
                                                            <input class="form-control" type="text" placeholder="phone"
                                                                [(ngModel)]="customerAddress['phone']" name="phone">
                                                        </div>
                                                    </div>

                                                    <div class="form-group button-footer-section">
                                                        <button class="btn btn-warning"
                                                            (click)="addNewAddress('hide');">Cancel</button>
                                                        &nbsp;<button class="btn btn-success"
                                                            (click)="storeNewAddress()">Store New Address</button>
                                                    </div>
                                                </div>
                                            </div>




                                            <!-- <div class="col-md-12">
                                                <div class="form-group button-footer-section">
                                                    <button class="btn btn-danger" (click)="modalRef.hide();">Cancel</button>
                                     &nbsp;<button [ngClass]="(showAddAddresSection == 0 )?'btn btn-warning show':'btn btn-warning hide'" (click)="addNewAddress('show');">Add New</button> <button Class="btn-danger">Remove</button>
                                                    &nbsp; <button [ngClass]="(showAddAddresSection == 0 )?'btn btn-success show':'btn btn-success hide'" (click)="storeAddress()">Save Address</button>
                                                </div>
                                            </div>                 -->

                                            <div class="col-md-12">
                                                <div class="form-group button-footer-section" style="margin-bottom: 0;">
                                                    <!-- <button Class="pull-right btn btn-success">Finish</button> -->
                                                    <button
                                                        [ngClass]="(showAddAddresSection == 0 )?'btn btn-success show':'btn btn-success hide'"
                                                        style="float: right;" Class="btn btn-success"
                                                        (click)="storeAddress()">Finish</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>


            </div>

        </div>
    </div>

    <!-- Redirect open modal to edit profile for the set the stealth/alias name(D) -->
    <ng-template #discount>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Apply Discount</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <span [ngClass]="(couponError != '') ? 'show':'hide'" style="color: #f00;"><small><i>{{
                        couponError }}</i></small></span>
            <input name="coupon_code" [(ngModel)]="coupon" class="form-control"
                style="float:left;width: 30%;height: 35px;">
            <button style="float:left" class="btn btn-okay" (click)="validateCoupon()">Validate
                Coupon</button>
        </div>
    </ng-template>
    <!-- End Redirect open modal to edit profile for the set the stealth/alias name(D) -->