<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dine_in_lft_bg">
                <div class="dine_in_lft">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 no_pad">
                        <h2>Invoice List</h2>
                        <div class="customer_dine newtrip_list">
                            <div class="table-responsive customer_list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="btn btn-filter">
                                                    <input type="checkbox" 
                                                        name="allnewtriplist" 
                                                        [value]="newtripData" 
                                                        (change)="allnewtriplist($event)">
                                                    <span class="checkbox-button__control"></span>
                                                </label>
                                            </th>
                                            <th>Receipt</th>
                                            <th>Guest Name</th>
                                            <th>Address</th>
                                            <th>Zone</th>
                                            <th>Date</th>
                                            <th>Total Order Time</th>
                                            <th>Order Value</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="count == 1 ">
                                        <tr *ngFor="let newtriplist of newtripData">
                                            <td>
                                                <label class="btn btn-filter">
                                                <input type="checkbox" 
                                                    name="holdreceipt" 
                                                    [checked]="newtriplist.selected" 
                                                    [value] = "newtriplist.id"
                                                    (change)="changenewtriplist($event)"
                                                    >{{ newtriplist.label }} 
                                                <span class="checkbox-button__control"></span>
                                            </label>
                                            </td>
                                            <td>{{ newtriplist.increment_number }}</td>
                                            <td>{{ newtriplist.customer_id.first_name }} {{ newtriplist.customer_id.last_name }}</td>
                                            <td>
                                                {{ newtriplist.address_no }}
                                                {{ newtriplist.address_region }}
                                                {{ newtriplist.address_street_1 }}
                                                {{ newtriplist.address_street_2 }}
                                            </td>
                                            <td> {{ newtriplist.zip_code }}</td>
                                            <td>{{ newtriplist.invoice_date }}</td>
                                            <td>{{ newtriplist.invoice_time }}</td>
                                            <td>{{ newtriplist.paid_amount }}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tbody *ngIf="count == 0">
                                        <tr><td style="text-align:center" colspan="8">No Invoice to Assign driver</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <!-- <div class="trip_status" *ngFor="let tripstatus of tripdata">
                            <div class="trip_title">{{tripstatus.triptitle}}</div>
                            <div class="trip_list">
                                <ul>
                                    <li *ngFor="let tripstatusvalue of tripvaluedata">{{tripstatusvalue.tripvalue}}</li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="form-group selected_group">
                            <label for="selectcard">Select Driver</label>
                            <select class="form-control" id="selectcard" (change)="assignDriver($event)">
                                <option>Select Driver</option>
                                <option *ngFor="let driver of driver_list; let i=index;" [value]="driver.id">{{ driver.first_name }} {{ driver.last_name }}</option>
                            </select>
                        </div>
                        <div class=" transaction_order_btm merge_order flex-end-cs">
                            <ul>
                                <li>
                                    <a  (click)="sendOutDriver()" class="settle ">Send Out</a>
                                </li>
                                <li>
                                    <a  (click)="openModalTableFullTemplate(templatetablefull);" class="settle ">Add Driver</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>



                    <ng-template #templatetablefull>  
                        <div class="modal-header">  
                          <h4 class="modal-title pull-left">Add Driver</h4>  
                          <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
                            <span aria-hidden="true">×</span>  
                          </button>   -->
                        </div>  
                        <div class="modal-body"> 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="dine_in_wrap customer_info_wrap">
                                        <div class="customer_info_frm">
                                            <form>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="phonenumber"> Phone Number</label>
                                                            <input class="form-control" type="text" placeholder="phone" name="phone" autocomplete="off" [(ngModel)]="driverSave.phone">
                                                    </div>
                                                </div>                                        
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customer_fn">First Name</label>
                                                            <input class="form-control" type="text" placeholder="Albert" [(ngModel)]="driverSave.first_name" name="first_name">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customer_fn">Last Name</label>
                                                            <input class="form-control" type="text" placeholder="Albert" [(ngModel)]="driverSave.last_name" name="last_name">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input class="form-control" type="email" placeholder="Email" [(ngModel)]="driverSave.email" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customer_fn">Gender</label>
                                                        <select class="form-control" id="gender" [(ngModel)]="driverSave.gender" name="gender">
                                                            <option value="">-select-</option>
                                                            <option value="male">Male</option>
                                                            <option value="female">female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label for="licence">Licence</label>
                                                        <input class="form-control" type="text" placeholder="licence" [(ngModel)]="driverSave.driving_license" name="licence">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label for="address">Address</label>
                                                        <textarea class="form-control" placeholder="Address" [(ngModel)]="driverSave.primary_address" name="address"></textarea>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-12">
                                                    <div class="form-group button-footer-section">
                                                        <button class="btn btn-warning" (click)="homeRedirect()">Cancel</button>
                                                        &nbsp; <button class="btn btn-success" (click)="saveDriver()">Finish</button>
                                                    </div>
                                                </div>                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>  
                      </ng-template> 
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class=" transaction_order_btm merge_order flex-end-cs">
                            <ul>
                                <li>
                                    <a href="# " class="settle ">out</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->

                    <!--dine_transaction-->

                </div>


            </div>
        </div>
    </div>
</div>
