<app-header></app-header>



<div class="container-fluid">
    <div class="row">
        <div class="dine_in_wrap call-guest-list">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12   dine_in_rgt_bg   nocharges_tab">

                <div class="bill_screen_tab">
                    <ul class="nav nav-tabs side_nav" role="tablist">
                        <li *ngFor="let order of ordermenus; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedorder===order">
                            <a (click)="selectedorder = order" aria-controls="one" role="tab" data-toggle="tab">
                                  {{order}}</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div *ngIf="selectedorder === ordermenus[0]" role="tabpanel" class="tab-pane active" id="one">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="customer_dine">
                                    <!--dineIn_tophead-->
                                    <div class="dinein_tophead merge-receipts">
                                        <h2>Guest</h2>
                                        <div class="dinein_tophead_right">

                                            <div class="search_icon">
                                                <input class="form-control" type="text" placeholder="Search">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--_tophead-->
                                    <div class="table-responsive customer_list">
                                        <table class="table checked_label">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Select</th>
                                                    <th width="90%">Staff Name </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let charges of chargesprofile" class="checked_bg_light">
                                                    <td width="10%">
                                                        <label class="btn btn-filter">
                                                            <input type="checkbox"  class="checkbox-button__input" name="nontrades"  [checked]="charges.selected">
                                                            <span class="checkbox-button__control"></span>
                                                        </label>
                                                    </td>
                                                    <td width="90%">{{charges.chargeValue}}</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="button_group  switch_buttons btn_full_wt">
                                        <button class="btn btn-create btn_180 bg_orange" type="button">Show History</button>
                                        <button class="btn btn-create btn_180" type="button">Finish</button>
                                    </div>
                                    <!---->
                                </div>
                            </div>

                        </div>
                        <div *ngIf="selectedorder === ordermenus[1]" role="tabpanel" class="tab-pane active" id="two">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="customer_dine">
                                    <!--dineIn_tophead-->
                                    <div class="dinein_tophead merge-receipts">
                                        <h2>Guest</h2>
                                        <div class="dinein_tophead_right">

                                            <div class="search_icon">
                                                <input class="form-control" type="text" placeholder="Search">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </div>
                                            <button routerLink="/callcenter/GuestListingHistory" class="btn btn-create btn_180 bg_orange btn-radius" type="button">Add Guest</button>
                                        </div>
                                    </div>
                                    <!--_tophead-->
                                    <div class="table-responsive customer_list">
                                        <table class="table checked_label">
                                            <thead>
                                                <tr>
                                                    <th width="10%">G.Code</th>
                                                    <th width="20%">Name </th>
                                                    <th width="50%"> Address </th>
                                                    <th width="20%" style="text-align: right;">Contact Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of chargesprofiles" class="checked_bg_light">
                                                    <td width="10%">{{c.chargeCode}}</td>
                                                    <td width="20%">{{c.chargeName}}</td>
                                                    <td width="50%">{{c.chargeAddress}}</td>
                                                    <td width="20%" style="text-align: right;">{{c.chargeContact}}</td>
                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="button_group  switch_buttons btn_full_wt">
                                        <button class="btn btn-create btn_180 bg_orange" type="button">Show History</button>
                                        <button class="btn btn-create btn_180" type="button">Finish</button>
                                    </div>
                                    <!---->

                                </div>
                            </div>
                        </div>

                    </div>





                </div>


            </div>


        </div>
    </div>